<!-- <div class="content-header-left col-md-6 col-12 mb-2" style="z-index: 1;">
    <h3 class="content-header-title mb-0">{{ 'labels.chantier' | translate }}</h3>
    <div class="row breadcrumbs-top">
        <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">

                <li class="breadcrumb-item">

                    <a id="rebrique-backtolist-chantier-btn" (click)="navigateToListChantiers()">
                        {{'title' | translate}}
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a id="rebrique-backtodetails-chantier-btn" (click)="navigateToChantier()">
                        {{ idChantier  | GetNameOfChantier}}
                    </a>
                </li>
                <li class="breadcrumb-item active">
                    {{moduleNameFromTransaltion}}
                </li>
            </ol>
        </div>
        <div class="content-header-right col-12" style="margin-top: -22px;position: absolute;right: -80%;">
            <div class="float-md-right" style="padding-bottom: 10px;">
    
                <button id="cancel" type="button" class="btn btn-warning" placement="bottom" (click)="close()">
                Retour <i class="ft-x"></i>
                </button>
    
            
            </div>
        </div>
    </div>

</div> -->

<div *ngIf="idChantier != null">
    <ng-container [ngSwitch]="typeModule">
        <ng-container *ngSwitchCase="typeRubrique?.Devis">
            <!-- <app-devis-index [idChantier]="idChantier" [CallFromOutside]="true"></app-devis-index> -->
            <list-global-index [doctype]="'Quote'" [idChantier]="idChantier"></list-global-index>
        </ng-container>
        <ng-container *ngSwitchCase="typeRubrique?.Facturation">
            <list-global-index [doctype]="'Invoice'" [idChantier]="idChantier"></list-global-index>
        </ng-container>
        <ng-container *ngSwitchCase="typeRubrique?.Commandes">
            <list-global-index [doctype]="'SupplierOrder'" [idChantier]="idChantier"></list-global-index>
        </ng-container>


        <!-- <ng-container *ngSwitchDefault>
            OtherWaseer
        </ng-container> -->
    </ng-container>
</div>


<app-rebrique-document></app-rebrique-document>