.axiobat-modal {
  border-radius: 10px;
}

.container-scroll {
  height: 100%;
  overflow: auto;
}


.root {
  overflow: auto;
  height: 784px;
  //max-height: 200px;
  .head {
    position: relative;

    display: grid;
    grid-template-columns: 1fr 221px;
    align-items: center;
    padding: 20px 34px;
    border-bottom: 1px solid #d9dde1;
    .left {
      .title {
        font-family: qanelas;
        font-size: 19px;
        font-weight: bold;

        text-align: left;
        letter-spacing: 0px;
        color: #494948;
      }
    }

    .right {
      display: flex;
      align-items: center;

      .cust-button {
        margin-left: 10px;
      }
    }

    .close {
      cursor: pointer;
      opacity: 0.4;

      position: absolute;
      right: 8px;
      top: 6px;

      transition-duration: 0.2s;
      transition-property: opacity;

      img {
        width: 20px;
      }

      &:hover {
        opacity: 0.6;
      }
    }
  }

  .body {
    padding: 20px 34px;

    .row {
      &:not(:first-of-type) {
        margin-top: 20px;
      }
    }

    .timepicker {
      text-align: center;
    }

    .slider {
      margin-bottom: 25px;
    }
  }
}

.buttonload {
  background-color: #4caf50; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 24px; /* Some padding */
  font-size: 16px; /* Set a font-size */
}

.fa {
  margin-left: -12px;
  margin-right: 8px;
}

td {
  border: none !important;
}
// .form-sectionn {
//   color: #404E67;
//   line-height: 3rem;
//   margin-bottom: 20px;
//   border-bottom: 1px solid #404E67;
// }

td.display-price {
  min-width: 10rem;
}

.display-table {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 10px;
  box-shadow: 0px 3px 6px #2c28281c;

  overflow: hidden;
  max-height: calc(100vh - 130px);
}
table {
  border-collapse: collapse;
  width: 100%;

  .actions {
    width: 107px;
  }

  thead {
    tr {
      background: #f1f3f9 0% 0% no-repeat padding-box;

      th .th-wrapper {
        position: relative;

        font-family: raleway;
        font-size: 13px;
        font-weight: 400;

        color: #8898aa !important;
        letter-spacing: 0px;
        white-space: nowrap;

        min-width: 60px;
        padding: 10px 0 10px 40px;

        display: flex;
        align-items: center;

        .sort {
          display: flex;
          flex-direction: column;

          align-items: center;
          justify-content: center;

          margin-left: 10px;
          .active {
            color: #05658d;
          }

          .inactive {
            color: #b4b4b4;
          }

          .fa {
            cursor: pointer;

            opacity: 0.5;
            font-size: 12px;

            transition-duration: 0.5;
            transition-property: opacity;

            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
    }
  }
}

table {
  margin-top: 10px;
}

td.display-price {
  min-width: 10rem;
  text-align: right;
}

.container-scroll {
  height: 100%;
  overflow-x: auto;
  overflow-x: none;
}
