<div>
  <div class="agenda">
    <div class="agenda__head">
      <div class="left">
        <!-- Techniciens -->
        <div class="cust-input-group cust-input-group--techniciens">
          <div class="cust-input cust-input--select">
            <label class="cust-input__wrapper">
              <mat-select class="cust-input__input"
                [multiple]="true"
                [placeholder]="'labels.technicien' | translate"
                [(ngModel)]="technicienId"
                (ngModelChange)="refreshFicheIntervention()">
                <mat-option (click)="onTechnicienAll()"
                  class="option-reset"
                  [value]="null">
                  <div class="option-reset__wrapper">
                    <span>Tout sélectionner</span>
                    <mat-icon (click)="onTechnicienReset($event)">replay</mat-icon>
                  </div>
                </mat-option>
                <mat-option *ngFor="let technicien of filterlistTechnicien; let i = index"
                  [disabled]="technicien.disabled"
                  [value]="technicien.id">{{ technicien?.name }}</mat-option>
              </mat-select>
            </label>
          </div>
        </div>
        <div class="cust-input-group cust-input-group--types">
          <div class="cust-input cust-input--selectable cust-input--filter"
            #filtersTriggerFiche="cdkOverlayOrigin"
            cdkOverlayOrigin
            (click)="onFiltersTriggeredFiche();">
            <label class="cust-input__wrapper">
              <div class="cust-input__icon">
                <img src="assets/app/images/Icons/filter.svg"
                  alt="Filter icon">
              </div>
              <span class="cust-input__input">Filtrer</span>
            </label>
          </div>
        </div>

      </div>
      <div class="center">
        <div class="agenda__controls">
          <span class="left">
            <img alt="Chevron icon"
              src="assets/app/images/Icons/chevron-down.svg"
              (click)="onAgendaPrevious()">
          </span>
          <mat-datepicker #picker></mat-datepicker>
          <input matInput
            class="hide-button"
            [value]="scheduleObj?.selectedDate"
            [matDatepicker]="picker"
            (dateChange)="onAgendaDate($event)">
          <span class="label"
            startView="multi-year"
            (click)="picker.open($event)">{{ getViewDate() | date:getDateFormat() }}</span>
          <span class="right">
            <img alt="Chevron icon"
              src="assets/app/images/Icons/chevron-down.svg"
              (click)="onAgendaNext()">
          </span>
        </div>
      </div>

      <div class="right">
        <!-- Date indicator -->
        <div class="cust-input-group cust-input-group--date"
          (click)="navigateToCreate()">
          <div class="cust-input cust-button--success">
            <label class="cust-input__wrapper "
              placement="bottom"
              ngbTooltip=" {{ 'labels.add' | translate }}  {{ 'labels.sav' | translate }} ">

              <img src="assets/app/images/Icons/plus.svg"
                alt="Filter icon">

            </label>
          </div>
        </div>
        <div class="cust-input-group cust-input-group--date"
          (click)="onAgendaToday()">
          <div class="cust-input">
            <label class="cust-input__wrapper">
              <span
                class="cust-input__input cust-input__input--number">{{ getCurrentDate() | date:'dd/MM/yyyy' }}</span>
            </label>
          </div>
        </div>

        <!-- Display -->
        <div class="cust-input-group cust-input-group--display">
          <div class="cust-input cust-input--select">
            <label class="cust-input__wrapper">
              <mat-select class="cust-input__input"
                placeholder="Affichage"
                [value]="0"
                (valueChange)="onDisplayChanged($event)">
                <mat-option [value]="0">Affichage par mois</mat-option>
                <mat-option [value]="1">Affichage par journée</mat-option>
                <mat-option [value]="2">Affichage par semaine</mat-option>
              </mat-select>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="agenda__body ">
      <div class="row">
        <div class="col-10">
          <ejs-schedule #scheduleObj
            cssClass='schedule-drag-drop'
            width='100%'
            height='700px'
            [group]="group"
            [currentView]='currentView'
            [workDays]='workWeekDays'
            [firstDayOfWeek]='startWeek'
            (popupOpen)='onPopupOpen($event)'
            (popupClose)="onPopupClose($event)"
            [selectedDate]="selectedDate"
            [eventSettings]="eventSettings"
            (created)='oncreated()'
            (actionBegin)="onActionBegin($event)"
            (drag)="onItemDrag($event)"
            (eventRendered)="applyCategoryColor($event)"
            (actionComplete)='onActionComplete($event)'
            (cellClick)="onCellClick($event)"
            (cellDoubleClick)="oncellDoubleClick($event)">
            <e-resources>
              <e-resource field="ConsultantID"
                title="Consultant"
                name="Consultants"
                [dataSource]="listeTechniciens"
                [allowMultiple]="allowMultiple"
                textField="Text"
                idField="Id"
                groupIDField="GroupId"
                colorField="Color">
              </e-resource>
            </e-resources>
            <ng-template #eventSettingsTemplate
              let-data>
              <div class="cust-appointment"
                [ngStyle]="{'background-color': data.CategoryColor}">
                <div class="subject">{{ data.Subject }}</div>
              </div>
            </ng-template>

            <ng-template #quickInfoTemplatesHeader
              let-data>
              <div *ngIf="data.elementType == 'cell' || data.elementType == 'event'"
                [ngStyle]="{'background-color': data.CategoryColor}">
                <div class="e-popup-header"
                  [ngStyle]="{'background-color': data.CategoryColor }">
                  <div class="e-header-icon-wrapper"
                    style="padding-top: 10px;">
                    <button class="e-close  e-icons"
                      (click)="navigateToDetailFicheIntervention(data)">
                      <span class="details-ficheintervention"
                        placement="bottom"> <i class="ft-eye"></i></span>
                    </button>
                    <button class="e-close e-close-icon e-icons"
                      (click)="onCloseClick($event)"
                      style="margin-left: 20px;"
                      placement="bottom"></button>
                  </div>
                  <div *ngIf="data.elementType == 'event'"
                    class="e-subject-wrap"
                    style="color: #FFF;
              font-size: initial;">{{data?.Subject}} </div>
                </div>
              </div>
            </ng-template>
            <div class="agenda-form">
              <div class="body">
                <ng-template #editorTemplate>
                  <div class="row"
                    style="margin-top: 24px;">
                    <div class="col">
                      <div class="cust-input-group">
                        <div class="cust-label">{{ 'labels.client' | translate }} :</div>
                        <div class="cust-input">
                          <label class="cust-input__wrapper">
                            <input class="cust-input__input"
                              id="Client"
                              type="text"
                              value=""
                              name="Client">
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="cust-input-group">
                        <div class="cust-label">{{ 'labels.site' | translate }} :</div>
                        <div class="cust-input">
                          <label class="cust-input__wrapper">
                            <input class="cust-input__input"
                              id="Site"
                              type="text"
                              value=""
                              name="Site">
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row"
                    style="margin-top: 24px;">
                    <div class="col">
                      <div class="cust-input-group">
                        <div class="cust-input cust-input--select">
                          <label class="cust-input__wrapper">
                            <mat-select [placeholder]="'Technicien'"
                              class="cust-input__input"
                              name="Technicien"
                              id="Technicien"
                              [(ngModel)]="IdTechnicien">
                              <mat-option *ngFor="let technichien of listeTechniciens"
                                [value]="technichien.Id">
                                {{technichien?.Text}}</mat-option>
                            </mat-select>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row"
                    style="margin-top: 24px;">
                    <div class="col">
                      <div class="cust-input-group">
                        <div class="cust-label">{{ 'labels.dateDebut' | translate }} :</div>
                        <div class="cust-input">
                          <label class="cust-input__wrapper">
                            <input id="DateDebut"
                              class="e-field"
                              type="text"
                              name="DateDebut" />
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="cust-input-group">
                        <div class="cust-label">{{ 'labels.dateFin' | translate }} :</div>
                        <div class="cust-input">
                          <label class="cust-input__wrapper">
                            <input id="DateFin"
                              class="e-field"
                              type="text"
                              name="DateFin" />
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row"
                    style="margin-top: 24px;">
                    <div class="col">
                      <textarea id="Object"
                        class="e-field e-input"
                        name="Object"
                        rows="3"
                        cols="50"
                        style="width: 100%; height: 60px !important; resize: vertical"
                        placeholder="Objet"></textarea>
                    </div>
                  </div>
                </ng-template>
              </div>
            </div>
            <e-views>
              <e-view option='TimelineDay'></e-view>
              <e-view option='TimelineWorkWeek'
                timeScale="timeScaleOptions"
                [showWeekend]="showWeekend"></e-view>
              <e-view option='Month'
                [showWeekend]="showWeekend"></e-view>


            </e-views>
          </ejs-schedule>
        </div>
        <div class="col-2">
          <div class="title-container">
            <div class="cust-label">{{ 'labels.visiteMaintenanceListe' | translate }} :</div>
          </div>
          <div class="cust-input cust-input--selectable cust-input--filter"
            #filtersTrigger="cdkOverlayOrigin"
            cdkOverlayOrigin
            (click)="onFiltersTriggered()">
            <label class="cust-input__wrapper">
              <div class="cust-input__icon">
                <img src="assets/app/images/Icons/filter.svg"
                  alt="Filter icon">
              </div>
              <span class="cust-input__input">Filtrer</span>
            </label>
          </div>
          <ejs-treeview #treeObj
            [fields]='field'
            cssClass='treeview-external-drag'
            [allowDragAndDrop]='allowDragAndDrop'
            (nodeDragStop)="onTreeDragStop($event)"
            (nodeDragging)="onItemDrag($event)">
            <ng-template #nodeTemplate=""
              let-data="">
              <div id="waiting">
                <div id="waitdetails">
                  <div id="waitlist">{{data?.client }}
                  </div>
                  <div id="waitcategory">{{data.date}} - {{data.site?.designation}}</div>

                  <div style="margin-right: 0px; float:right">
                    <span class="treeCount e-badge e-badge-primary"
                      (click)='navigateToDetailVisiteMaintenance(data.Id)'
                      placement="bottom"
                      ngbTooltip=" {{ 'labels.detailsVisiteMaintenance' | translate }}"> <i class="ft-eye"></i></span>
                  </div>

                </div>
              </div>
            </ng-template>
          </ejs-treeview>
          <ng-container *ngIf="listeLisiteMaintenance?.length == 0">
            <div style="text-align: center;
            margin-top: 23px;">
              <span>{{'labels.emptyVisiteMaintenance' | translate}}</span>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

</div>


<!-- #region Filter overlay -->
<ng-template cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="filtersTrigger"
  [cdkConnectedOverlayOpen]="filtersOpened"
  [cdkConnectedOverlayHasBackdrop]="true"
  (backdropClick)="filtersOpened = false">
  <div class="filter-overlay">
    <div class="filter-overlay__controls">
      <div class="filter-overlay__btn"
        (click)="onBackdropClicked()">
        <span>Reinitialiser</span>
        <i class="fa fa-repeat"></i>
      </div>
      <div class="filter-overlay__btn"
        (click)="filtersOpened = false ; onBackdropClicked()">
        <i class="fa fa-times"></i>
      </div>
    </div>
    <div class="filter-overlay__filters">
      <div class="top">

        <div class="cust-input cust-input--select">
          <label class="cust-input__wrapper">
            <mat-select class="cust-input__input"
              [(ngModel)]="idClient"
              (selectionChange)="getVisiteMaintenance()"
              [placeholder]="getPlacholderClient()"
              multiple>
              <mat-option *ngFor="let label of filterlistClient"
                [value]="label.id">{{label.name}}</mat-option>
            </mat-select>
          </label>
        </div>
        <div class="cust-input cust-input--select">
          <label class="cust-input__wrapper">
            <mat-select class="cust-input__input"
              [(ngModel)]="mois"
              (selectionChange)="getVisiteMaintenance()"
              [placeholder]="getPlacholderMois()"
              multiple>
              <mat-option *ngFor="let mois of listMoisSelected"
                [value]="mois.id">{{mois.name}}</mat-option>
            </mat-select>
          </label>
        </div>
        <div class="cust-input cust-input--select">
          <label class="cust-input__wrapper">
            <mat-select class="cust-input__input"
              [(ngModel)]="annee"
              (selectionChange)="getVisiteMaintenance()"
              [placeholder]="getPlacholderAnnee()">
              <mat-option *ngFor="let annee of visiteMaintenanaceFilter?.listeAnnee"
                [value]="annee">{{annee}}
              </mat-option>
            </mat-select>
          </label>
        </div>
      </div>

    </div>
  </div>
</ng-template>

<!-- #region Filter overlay -->
<ng-template cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="filtersTriggerFiche"
  [cdkConnectedOverlayOpen]="filtersOpenedFiche"
  [cdkConnectedOverlayHasBackdrop]="true"
  (backdropClick)="filtersOpenedFiche = false">
  <div class="filter-overlay">
    <div class="filter-overlay__controls">
      <div class="filter-overlay__btn"
        (click)="onBackdropClickedFiche()">
        <span>Reinitialiser</span>
        <i class="fa fa-repeat"></i>
      </div>
      <div class="filter-overlay__btn"
        (click)="filtersOpenedFiche = false ; onBackdropClickedFiche()">
        <i class="fa fa-times"></i>
      </div>
    </div>
    <div class="filter-overlay__filters">
      <div class="top">
        <div class="cust-input cust-input--select">
          <label class="cust-input__wrapper">
            <mat-select class="cust-input__input"
              [(ngModel)]="statut"
              (selectionChange)="refreshFicheIntervention()"
              [placeholder]="getPlacholderStatus()">
              <mat-option *ngFor="let statut of listStatus"
                [value]="statut?.value">{{statut?.name}}</mat-option>
            </mat-select>
          </label>
        </div>
        <div class="cust-input cust-input--select">
          <label class="cust-input__wrapper">
            <mat-select class="cust-input__input"
              [(ngModel)]="idClientFicheIntervention"
              (selectionChange)="refreshFicheIntervention()"
              [placeholder]="getPlacholderClient()">
              <mat-option *ngFor="let label of filterlistClient"
                [value]="label.id">{{label.name}}</mat-option>
            </mat-select>
          </label>
        </div>

      </div>

    </div>
  </div>
</ng-template>
