<mat-accordion>
    <mat-expansion-panel [expanded]="true" class="disabled-pointer">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ 'numerotationPrefixe.clientFournisseurTitle' | translate }} </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="cust-card cust-card--padding">

            <div class="cust-card__body">
                <div class="body">
                    <div class="prest-table-wrapper">
                        <table class="prest-table">
                            <tbody id="parent">
                                <ng-container *ngFor="let item of numPrefixClientFournisseur;let i= index">
                                    <tr>
                                        <td class="cell-auto">
                                            <span> {{ item.name | translate }} </span>
                                        </td>
                                        <td class="cell-auto">
                                            <span>{{ item.code }}</span>
                                        </td>
                                        <td>
                                            <div (click)="selectNumerotationtoUpdate(i, item.type)" data-toggle="modal"
                                                data-target="#updateParamter">
                                                <img src="./assets/app/images/Icons/editgreen.svg" alt="Edit icon" />
                                            </div>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </mat-expansion-panel>

</mat-accordion>
<br>
<mat-accordion>
    <mat-expansion-panel [expanded]="true" class="disabled-pointer">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ 'numerotationPrefixe.documentTitle' | translate }}</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="cust-card cust-card--padding">

            <div class="cust-card__body">
                <div class="body">
                    <div class="prest-table-wrapper">
                        <table class="prest-table">

                            <tbody id="parent">
                                <ng-container *ngFor="let item of numPrefixDocument;let i= index">
                                    <tr>
                                        <td class="cell-auto">
                                            <span> {{ item.name | translate }} </span>
                                        </td>
                                        <td class="cell-auto">
                                            <span>{{ item.code }}</span>
                                        </td>
                                        <td>
                                            <div (click)="selectNumerotationtoUpdate(i, item.type)" data-toggle="modal"
                                                data-target="#updateParamter">
                                                <img src=" ./assets/app/images/Icons/editgreen.svg" alt="Edit icon" />
                                            </div>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </mat-expansion-panel>

</mat-accordion>


<!-- Module update -->
<div class="modal fade text-left" id="updateParamter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
    aria-hidden="true" *ngIf="form">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">

            <div class="cust-card">
                <div class="cust-card__head">
                    <div class="left">
                        <h2 class="title" id="myModalLabel1">
                            {{modelName | translate }}</h2>
                    </div>
                    <div class="right">
                        <label>
                            <div class="cust-button cust-button--secondary">
                                <span>{{ 'labels.cancel' | translate }}</span>
                            </div>
                            <button type="button" style="display: none;" data-dismiss="modal">
                                {{ 'labels.cancel' | translate }}</button>
                        </label>

                        <div class="cust-button cust-button--success" (click)="update()">
                            <span>{{ 'labels.sauvegarder' | translate }}</span>
                        </div>
                    </div>
                </div>
                <div class="cust-card__body">
                    <form [formGroup]="form">
                        <div class="row">
                            <div class="col">
                                <div class="cust-input-group">
                                    <div class="cust-label">{{ 'labels.racine' | translate }} :</div>
                                    <!-- <div class="cust-input ">
                                        <label class="cust-input__wrapper">
                                            <input formControlName="racine" type="number" class="cust-input__input"
                                                style="text-align: right;">
                                        </label>
                                    </div> -->
                                    <div class="cust-input">
                                        <label class="cust-input__wrapper">
                                            <input formControlName="racine" type="text" class="cust-input__input"
                                                style="text-align: left;">
                                        </label>
                                    </div>
                                    <ng-container *ngIf="form.touched && form.invalid">
                                        <small class="text-danger" *ngIf="form.hasError('required', 'racine')">
                                            {{'errors.required'|translate}} </small>
                                    </ng-container>

                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col">
                                <div class="cust-input-group">
                                    <div class="cust-label">{{ 'labels.date' | translate }} :</div>
                                    <div class="cust-input cust-input--select">
                                        <label class="cust-input__wrapper">

                                            <mat-select placeholder="formatDate" formControlName="formatDate">
                                                <mat-option [value]="formatDateParametrage?.PasDate">
                                                    {{'labels.pasDate' | translate}}</mat-option>
                                                <mat-option [value]="formatDateParametrage?.Annee">
                                                    {{'labels.annee' | translate}}</mat-option>
                                                <mat-option [value]="formatDateParametrage?.AnneeMois">
                                                    {{'labels.anneeMois' | translate}}</mat-option>

                                            </mat-select>
                                        </label>
                                    </div>
                                    <div *ngIf="form.touched && form.invalid">
                                        <small class="text-danger" *ngIf="form.hasError('required', 'formatDate')">
                                            {{'errors.required'|translate}} </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group mt-2">
                            <div class="col-md-12">
                                <div class="cust-input-group">
                                    <div class="cust-label">{{ 'labels.compteur' | translate }} :</div>
                                    <div class="cust-input">
                                        <label class="cust-input__wrapper">
                                            <input appInputRemoveDefaultZero formControlName="compteur" type="number"
                                                class="cust-input__input" style="text-align: left;">
                                        </label>
                                    </div>
                                    <div *ngIf="form.touched && form.invalid">
                                        <small class="text-danger" *ngIf="form.hasError('required', 'compteur')">
                                            {{'errors.required'|translate}} </small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row form-group mt-2">
                            <div class="col-md-12">
                                <div class="cust-input-group">
                                    <div class="cust-label">{{ 'labels.longeurCompteur' | translate }} :</div>
                                    <div class="cust-input">
                                        <label class="cust-input__wrapper">
                                            <input class="cust-input__input" id="add-nom-chantier-form-btn"
                                                type="number" appInputRemoveDefaultZero
                                                formControlName="longeurCompteur" style="text-align: left;">
                                        </label>
                                    </div>
                                    <div *ngIf="form.touched && form.invalid">
                                        <small class="text-danger" *ngIf="form.hasError('required', 'longeurCompteur')">
                                            {{'errors.required'|translate}} </small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row form-group mt-2">
                            <div class="col-md-12">
                                <div class="cust-input-group">
                                    <div class="cust-label">{{ 'labels.showResult' | translate }} :</div>
                                    <div class="cust-input">
                                        <label class="cust-input__wrapper">
                                            <input readonly class="cust-input__input" id="add-nom-chantier-form-btn"
                                                type="text" [value]="GenerateExampleCode()" style="text-align: left;">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>