// ================================================================================================
// 	File Name: colors.scss
// 	Description: Common color file to include color paletter and colors file, its qiore good to
// 	have all color classes in a separate file as it's quite heavy.
// 	----------------------------------------------------------------------------------------------
// 	Item Name: Stack - Responsive Admin Theme
// 	Version: 2.1
// 	Author: PIXINVENT
// 	Author URL: http://www.themeforest.net/user/pixinvent
// ================================================================================================

// Core
// ------------------------------

// Import variables and mixins
@import "bootstrap/mixins/gradients";
@import "core/mixins/hex2rgb";

// Color system, always load last
// ------------------------------

@import "core/colors/palette";

$color_study: #05658d;
$color_finished: #38b475;
$color_finishedContrat: #11cdef;
$color_accepted: #38b475;
$color_not_accepted: #f14f63;
$color_billed: #38b475;
$color_canceled: #494948;
$color_refused: #f14f63;
$color_in_progress: #05658d;
$color_signed: #38b475;
$color_late: #f53c56;
$color_draft: #494948;
$color_closed: #8898aa;
$color_encours: #05658d;
$color_used: #fb6340;
$color_expired: #f53c56;
$color_waiting: #feb969;
$color_planned: #feb969;
$color_Unplanned: #feb969;
$color_realized: #38b475;
$color_toReplan: #feb969;
$color_toValidate: #feb970;

$EnAttente: #ffa87d;
// $NonAcceptee: #fa5502;
