.modal-dialog {
  max-width: 1050px;

  .modal-content {
    border-radius: 8px;
  }
}

.cust-card {
  margin: 0;
  max-width: 1050px;

  .right {
    display: flex;
    align-items: center;

    .cust-button {
      margin-right: 10px;
    }
  }
}

.row {
  margin-bottom: 15px;
}

.col--flex {
  display: flex;
}

.info-bundle {
  display: inline-flex;
  flex-direction: column;

  margin-left: auto;

  .label {
    font-family: raleway;
    font-size: 10px;
    letter-spacing: 0px;
    text-align: right;

    color: #8898aa;
  }

  .value {
    font-family: qanelas;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    letter-spacing: 0px;

    color: #8d9cad;

    &--positive {
      color: #38b475;
    }

    &--negative {
      color: #f53c56;
    }

    &--constant {
      color: #05658d;
    }

    small {
      font-size: 13px;
      font-weight: bold;

      margin-left: -4px;
    }
  }
}

.fournisseur-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;

  margin-top: 10px;

  .fournisseur-card {
    &__edit {
    }

    &__display {
    }

    &__add {
    }

    input:checked {
      & + .fournisseur-card__edit {
        display: block !important;
      }

      & + .fournisseur-card__display {
        display: none !important;
      }
    }

    input:not(:checked) {
      & + .fournisseur-card__edit {
        display: none !important;
      }

      & + .fournisseur-card__display {
        display: block !important;
      }
    }
  }
}


.axiobat-modal {
  border-radius: 10px;
}

.root {
.head {
  position: relative;

  display: grid;
  grid-template-columns: 1fr 274px;
  align-items: center;

  padding: 20px 34px;
  border-bottom: 1px solid #d9dde1;

  .left {
    .title {
      font-family: qanelas;
      font-size: 19px;
      font-weight: bold;

      text-align: left;
      letter-spacing: 0px;
      color: #494948;
    }
  }

  .right {
    display: flex;
    align-items: center;

    .cust-button {
      margin-left: 10px;
    }
  }

  .close {
    cursor: pointer;
    opacity: 0.4;

    position: absolute;
    right: 8px;
    top: 6px;

    transition-duration: 0.2s;
    transition-property: opacity;

    img {
      width: 20px;
    }

    &:hover {
      opacity: 0.6;
    }
  }
}

.body {
  padding: 20px 34px;

  .row {
    &:not(:first-of-type) {
      margin-top: 20px;
    }
  }

  .timepicker {
    text-align: center;
  }

  .slider {
    margin-bottom: 25px;
  }
}
}
