<recherche-avancee>
  <div class="recherche-avancee-body">

    <div class="ui-g ui-fluid" *ngIf="dateLang">
      <div class="ui-g-6 ui-md-3">
        <h6 style="font-weight: bold">{{'list.client' | translate }}</h6>
        <ng-select [hideSelected]="true" bindLabel="name" placeholder="{{'list.client' | translate }}"
          notFoundText="{{'labels.noFoundItem' | translate}}" [(ngModel)]="idClient" (click)="getClients()"
          #selecteClients [multiple]="true" [items]="filterlistClient" bindLabel="name" bindValue="id">
        </ng-select>
      </div>

      <div class="ui-g-6 ui-md-3">
        <h6 style="font-weight: bold">{{'labels.choisirPeriode' | translate }}</h6>
        <ng-select [hideSelected]="true" bindLabel="name" notFoundText="{{'labels.noFoundItem' | translate}}"
          [(ngModel)]="periode">
          <ng-option [value]="periodeEnum.CurrentMonth">{{ 'labels.moisCourant' | translate }}</ng-option>
          <ng-option [value]="periodeEnum.LastThreeMonths">{{ 'labels.troisMois' | translate }}</ng-option>
          <ng-option [value]="periodeEnum.LastSixMonths">{{ 'labels.sixMois' | translate }}</ng-option>
          <ng-option [value]="periodeEnum.CurrentYear">{{ 'labels.anneeCourant' | translate }}</ng-option>
          <ng-option [value]="periodeEnum.LastYear">{{ 'labels.anneeDerniere' | translate }}</ng-option>
          <ng-option [value]="periodeEnum.CurrentAccountingPeriod">
            {{ 'labels.exerciceComptableCourant' | translate }}</ng-option>
          <ng-option [value]="periodeEnum.None">{{ 'labels.tous' | translate }} </ng-option>
          <ng-option [value]="periodeEnum.Interval">{{ 'labels.intervalle' | translate }}</ng-option>
        </ng-select>
      </div>

      <ng-container *ngIf="periode == periodeEnum.Interval">
        <div class="ui-g-6 ui-md-3">
          <h6 style="font-weight: bold">{{ 'labels.dateMinimale' | translate }}</h6>
          <p-calendar [(ngModel)]="dateMinimal" [inputStyle]="{'height':'33px'}" [locale]="dateLang"
            showButtonBar="true" dateFormat="dd/mm/yy" showIcon="true"></p-calendar>
        </div>

        <div class="ui-g-6 ui-md-3">
          <h6 style="font-weight: bold">{{ 'labels.dateMaximale' | translate }}</h6>
          <p-calendar [(ngModel)]="dateMaximal" [inputStyle]="{'height':'33px'}" [locale]="dateLang"
            showButtonBar="true" dateFormat="dd/mm/yy" showIcon="true"></p-calendar>
        </div>
      </ng-container>

    </div>

    <div class="ui-g ui-fluid pull-right btn-search" *ngIf="dateLang">
      <button class="btn btn-success" (click)="filter()">
        <i class="ft-search"></i>&nbsp;{{ 'labels.filter' | translate }}
      </button>
    </div>

  </div>
</recherche-avancee>

<div class="row mt-4">
  <div class="col-lg-3 col-md-12 col-sm-12">
    <div class="c-card">
      <div class="c-card-body">
        <div class="item-group">
          <div class="header-marge">
            <div class="icon-container icon-green">
              <i class="fa fa-flag-checkered"></i>
            </div>
            <div class="item-title">
              <div class="text-left " style="padding-left: 93px; font-size: 15px;">
                {{'labels.montantencaissements' | translate}}
              </div>
              <div class="text-right" style="padding-top: 25px;">
                <span class="value">{{montantencaissements | RoudingNumber}} € </span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-12 col-sm-12">
    <div class="c-card">
      <div class="c-card-body">
        <div class="item-group">
          <div class="header-marge">
            <div class="icon-container icon-pink">
              <i class="fa fa-credit-card"></i>
            </div>
            <div class="item-title">
              <div class="text-left" style="padding-left: 93px;font-size:15px;">
                {{'labels.CArestantencaisser' | translate}}
              </div>
              <div class="text-right" style="padding-top: 25px;">
                <span class="value">
                  {{CArestantencaisser | RoudingNumber}} €
                </span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-12 col-sm-12">
    <div class="c-card">
      <div class="c-card-body">
        <div class="item-group">
          <div class="header-marge">
            <div class="icon-container icon-blue">
              <i class="fa fa-money"></i>
            </div>
            <div class="item-title">
              <div class="text-left" style="padding-left: 93px;font-size: 15px;">
                {{'labels.achatrestantencaisser' | translate}}
              </div>
              <div class="text-right" style="padding-top: 25px;">
                <span class="value">
                  {{achatrestantencaisser | RoudingNumber}} €

                </span>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-12 col-sm-12">
    <div class="c-card">
      <div class="c-card-body">
        <div class="item-group">
          <div class="header-marge">
            <div class="icon-container icon-orange ">
              <i class="fa fa-cc-diners-club"></i>
            </div>
            <div class="item-title">
              <div class="text-left" style="padding-left: 93px;font-size: 15px;">
                {{'labels.soldeFinance' | translate}}
              </div>
              <div class="text-right" style="padding-top: 25px;">
                <span class="value">
                  {{soldeFinance | RoudingNumber}} €

                </span>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-lg-6 col-md-12 col-sm-12">
    <div class="c-card">
      <div class="card-header card-header-pink">
        <h4 class="card-title">{{'labels.progressioncaMunsuelle' | translate}} </h4>
        <p class="card-category"> Progression CA N en comparaison avec N-1</p>
      </div>
      <div class="c-card-body">

        <canvas #barChartMunsuelle>
        </canvas>

      </div>
    </div>
  </div>
  <div class=" col-lg-6 col-md-12 col-sm-12">
    <div class="c-card">
      <div class="card-header card-header-greencolor">
        <h4 class="card-title">{{'labels.progressionmargeMunsuelle' | translate}}</h4>
        <p class="card-category"> Progression Marge N en comparaison avec N-1</p>
      </div>
      <div class="c-card-body">

        <canvas #barMargeMunsuelle>
        </canvas>

      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-lg-6 col-md-12 col-sm-12">
    <div class="c-card">
      <div class="card-header card-header-warning">
        <h4 class="card-title">{{'labels.progressioncaAnnuelle' | translate}} </h4>
        <p class="card-category">Le graphe présenté le progression de CA </p>
      </div>
      <div class="c-card-body">
        <div class="card-body table-responsive">
          <canvas #barCAAnnuelle>

          </canvas>
        </div>

      </div>
    </div>
  </div>
  <div class=" col-lg-6 col-md-12 col-sm-12">
    <div class="c-card">
      <div class="card-header card-header-main">
        <h4 class="card-title">{{'labels.progressionmargeAnnuelle' | translate}}</h4>
        <p class="card-category">Le graphe présenté le progression de la marge
        </p>
      </div>
      <div class="c-card-body">
        <div class="card-body table-responsive">


          <canvas #barMargeAnnuelle>

          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-12 col-sm-12">
    <div class="c-card">
      <div class="card-header card-header-blue">
        <h4 class="card-title">{{'labels.previsionmensuelle' | translate}} </h4>
        <p class="card-category">Prévision CA mensuelle objectif en % en fonction CA N</p>
      </div>
      <div class="c-card-body">
        <div class="card-body table-responsive">
          <canvas #lineObjectifMunsuelle>

          </canvas>
        </div>

      </div>
    </div>
  </div>
  <div class=" col-lg-6 col-md-12 col-sm-12">
    <div class="c-card">
      <div class="card-header card-header-red">
        <h4 class="card-title">{{'labels.previsionannuelle' | translate}}</h4>
        <p class="card-category">Prévision CA annuelle objectif en % en fonction CA N</p>
      </div>
      <div class="c-card-body">
        <div class="card-body table-responsive">
          <canvas #barObjectifAnnuelle>

          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>