<div class="root">
  <div class="display-table">

    <!-- #region Display head -->
    <div class="display-table__head">


    </div>
    <!-- #endregion -->

    <!-- #region Display body -->
    <div class="display-table__body">
      <table class="chantier-table">
        <thead>
          <tr>
            <th *ngFor="let column of columns;let i= index">
              <div class="th-wrapper">
                <span>{{ column.nameTranslate | translate }}</span>
                <!-- <div class="sort" *ngIf="column.isOrder">
									<i class="fa fa-chevron-up" [ngClass]="{
                                        'active': state.SortDirection === sortDirection.Ascending && column.name === state.OrderBy,
                                        'inactive': state.SortDirection === sortDirection.Descending
                                    }" (click)="sortChange(sortDirection.Ascending,column.name)"></i>
									<i class="fa fa-chevron-down" [ngClass]="{
                                        'active': state.SortDirection === sortDirection.Descending && column.name === state.OrderBy,
                                        'inactive': state.SortDirection === sortDirection.Ascending
                                    }" (click)="sortChange(sortDirection.Descending,column.name)"></i>
								</div> -->
              </div>
            </th>
            <!-- This column is for row actions -->
            <th class="actions"> </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let element of listRetenueGaranties ;let i of listRetenueGaranties.length"
            id="chantier-dblclick-btn">

            <td *ngFor="let column of columns;let i= index">
              <ng-container>
                <ng-container *ngIf="column.type == columnType.Date">
                  {{ element[column.name] | date:'dd/MM/yyyy' }}
                </ng-container>
                <ng-container *ngIf="column.type == columnType.span">
                  {{ element[column.name] }}
                  <span *ngFor="let item of column.list">
                    <small style="color: #1d7b85; white-space: nowrap; font-style: italic !important;"
                      *ngIf="element[item.name] != null">
                      ( {{ item.nameTranslate | translate }} : {{ element[item.name]  }} )
                    </small>
                  </span>
                </ng-container>
                <ng-container *ngIf="column.type == columnType.DateTime">
                  {{ element[column.name] | date: 'dd/MM/yyyy HH:mm:ss' }}
                </ng-container>
                <ng-container *ngIf="column.type == columnType.Currency">
                  <span class="text-right text-nowrap"
                    [ngStyle]=" { 'color' : column.textColor?.appear ?  column.textColor.color(element) : '' }">{{  getValue(element , column.name) | RoudingNumber | ShowCurrency  }}</span>
                  <span *ngFor="let item of column.list">
                    <small style="color: #1d7b85; white-space: nowrap; font-style: italic !important;"
                      *ngIf="element[item.name] != null">
                      ( {{ item.nameTranslate | translate }} : {{ element[item.name]  }} )
                    </small>
                  </span>
                </ng-container>
                <ng-container *ngIf="column.type == columnType.Number">
                  {{ element[column.name] | RoudingNumber }}
                </ng-container>
                <ng-container *ngIf="column.type == columnType.Translate">
                  <span [ngStyle]=" { 'color' : column.textColor?.appear ?  column.textColor.color(element) : '' }">
                    {{ column.labels + '.' + element[column.name] | translate }} </span>
                </ng-container>
                <ng-container *ngIf="column.type == columnType.Tags">
                  <span *ngFor="let item of element[column.name];"
                    class="btn btn-bold btn-sm btn-font-sm  btn-label-brand bit-left-margin">
                    <span class="text-nowrap">{{item}}</span>
                  </span>
                </ng-container>
                <ng-container *ngIf="column.type == columnType.TagType">
                  <span class="text-nowrap">
                    <span class="kt-font-bold kt-font-brand">{{ element[column.name] |translate }}</span>
                  </span>
                </ng-container>
                <ng-container *ngIf="column.type == columnType.List">
                  <ng-container *ngFor="let item of element[column.name];let i=index">
                    <ng-container *ngIf="i>0"><br /></ng-container>
                    <span class="text-nowrap">
                      <span></span>&nbsp;
                      <span>{{item}}</span>
                    </span>
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="column.type == columnType.colorNews">
                  <span [ngStyle]="{'background-color': element[column.name]}">
                    {{element[column.name]}}
                  </span>
                </ng-container>

                <ng-container *ngIf="column.type == columnType.Status">
                  <div class="status">
                    <div class="dot" [ngStyle]="{'background-color': getColor( element[column.name])}"></div>
                    <div class="label">
                      <!-- {{ column.status.value(element) }} -->
                      {{  element[column.name]|translate   }}
                    </div>
                  </div>
                </ng-container>

                <ng-container *ngIf="column.type == columnType.Html">
                  <span [innerHTML]="element[column.name]"></span>
                </ng-container>
                <ng-container *ngIf="column.type == columnType.any">
                  {{ getValue(element , column.name) }}
                </ng-container>

                <ng-container *ngIf="column.type == columnType.Progressbar">
                  <div class="taux-progress">
                    <div *ngIf="element[column.name] != null" class="label">
                      {{ element[column.name] }} %
                    </div>
                    <div class="bar">
                      <div role="progressbar" class="thumb" [ngStyle]="{ 'width': element[column.name] + '%' }"
                        [ngClass]="{
                                                'thumb--25': element[column.name] < 25,
                                                'thumb--50': element[column.name] < 50 && element[column.name] >= 25,
                                                'thumb--75': element[column.name] < 75 && element[column.name] >= 50,
                                                'thumb--100': element[column.name] >= 75
                                            }"></div>
                    </div>
                  </div>
                </ng-container>

                <ng-container *ngIf="column.type == columnType.image && column.src.appear(element)">
                  <div *ngIf="column.src.appear(element)" style="text-align: center;">
                    <img width="17%" [src]="column.src.value(element)" />
                  </div>
                </ng-container>

              </ng-container>
            </td>

            <!-- Actions trigger -->
            <td class="actions">
              <div class="actions-trigger" [matMenuTriggerFor]="matMenu" (onMenuOpen)="onMenuOpened(element)">
                <img src="./assets/app/images/Icons/more-vertical.svg" alt="Actions icon">
              </div>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="listRetenueGaranties?.length == 0">
          <tr style="text-align: center;">
            {{'noDataAvaible' | translate}}
          </tr>
        <tbody>
      </table>
    </div>
    <!-- #endregion -->
    <!-- #region Display foot -->
    <!-- <div class="display-table__foot">
			<paination [painationInfo]="dataitems" (chagePageNamber)="chagePageNumber($event)"
				(changePageSize)="changePageSize($event)" [pageSizes]="pageSizeOptions"></paination>
		</div> -->
    <!-- #endregion -->
  </div>
</div>


<!-- #region Actions overlay -->
<mat-menu #matMenu="matMenu" class="cust-menu cust-menu--horizontal cust-menu--actions" overlapTrigger
  xPosition="before">
  <ng-container *ngFor="let action of actions">
    <span mat-menu-item *ngIf="action.appear(selected)" class="menu-item" [matTooltip]="action.label | translate"
      (click)="action.action(selected)">
      <div class="icon">
        <img [src]="action.icon" alt="Edit icon">
      </div>
    </span>
  </ng-container>
</mat-menu>

<!-- #endregion -->
<!-- #region edit date -->

<p-dialog [header]="headerDate" [modal]="true" [baseZIndex]="100000" [autoZIndex]="false" [resizable]="false"
  width="300" height="200" [style]="{'position': 'fixed', 'overflow': 'visible', 'z-index': '999'}"
  [(visible)]="modalDateState">
  <div class="p-grid">
    <div class="p-col-12">
      <form>

        <div class="custom-input custom-input--required">
          <span class="custom-input__label"> {{'labels.dateEcheance' | translate}} </span>
          <div class="ui-inputgroup">
            <mat-form-field select-datepicker>

              <input matInput [matDatepicker]="picker" placeholder="Choisir date" [(ngModel)]='dateEcheanceRetenue'
                [ngModelOptions]="{standalone: true}">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

          </div>
        </div>

        <div class="p-col-12 dialog-controls">
          <button class="btn btn-info" (click)="editDateEch()">
            Confirmer
          </button>
        </div>
      </form>
    </div>
  </div>
</p-dialog>
<!-- #endregion -->


<!-- #endregion -->
<!-- #region edit date -->

<p-dialog [header]="headerStatut" [modal]="true" [baseZIndex]="100000" [autoZIndex]="false" [resizable]="false"
  width="300" height="200" [style]="{'position': 'fixed', 'overflow': 'visible', 'z-index': '999'}"
  [(visible)]="modalStatutState">
  <div class="p-grid">
    <div class="p-col-12">
      <form>
        <div class="row">
          <div class="col">
            <div class="cust-input-group">
              <div class="cust-label">{{ 'LABELS.STATUS' | translate }} </div>
              <div class="cust-input cust-input--select cust-input--status" [style.color]="getColor(selectedStatus)">
                <label class="cust-input__wrapper">
                  <mat-select id="add-status-document-form-btn" *ngIf="status.length !== 0" class="cust-input__input"
                    [panelClass]="'cust-menu--status'" [value]="selectedStatus" (valueChange)="onStatusChanged($event)">
                    <mat-option *ngFor="let stts of status; let i = index" id="add-status-document"
                      [style.color]="getColor(stts)" [value]="stts">{{ stts | translate  }}</mat-option>
                  </mat-select>

                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 10px;margin-left: 10px;
       ">

          <div class="p-col-12 dialog-controls">
            <button class="btn btn-info" (click)="editStatut()">
              Confirmer
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>
</p-dialog>
<!-- #endregion -->


<!-- <custom-loader [displayLoader]="processing"></custom-loader> -->