<div class="row">
    <div class="col main-col">
        <div class="row">
            <div class="root col">
                <div class="details">
                    <div class="cust-card cust-card--padding">
                        <div class="cust-card__head">
                            <div class="left">
                                <div class="title">
                                    {{ 'parametragePrix.title' | translate }}
                                </div>
                            </div>
                            <div>
                            </div>
                            <!-- Right controls -->
                            <div class="right flexcontrols menu-points-beta">
                                <div id="modifier" class="cust-button cust-button--success" (click)="update()"
                                    placement="bottom"
                                    ngbTooltip="{{ 'labels.modifier' | translate }} {{ 'labels.parametragecouthoraire' | translate }}">
                                    <span>{{ 'labels.modifier' | translate }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<br>
<form class="form form-horizontal" [formGroup]="form">
    <mat-accordion>
        <mat-expansion-panel [expanded]="true" class="disabled-pointer">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ 'labels.defaultVat' | translate }} </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="cust-card cust-card--padding">

                <div class="cust-card__body">
                    <div class="body">
                        <div class="row">

                            <div class="col">
                                <div class="cust-input-group">
                                    <div class="cust-label">{{ 'parametrageTva.tvaDefaut' | translate }} :</div>
                                    <div class="cust-input">
                                        <label class="cust-input__wrapper">
                                            <input class="cust-input__input currency-input" id="add-defaultVAT-form-btn"
                                                type="number" appInputRemoveDefaultZero formControlName="defaultVAT"
                                                placeholder="{{ 'parametrageTva.tvaDefaut' | translate }}">
                                        </label>
                                    </div>
                                </div>

                            </div>
                            <div class="col">
                            </div>
                            <div class="col">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </mat-expansion-panel>

    </mat-accordion>
    <br>
    <mat-accordion>
        <mat-expansion-panel [expanded]="true" class="disabled-pointer">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ 'labels.coutHoraire' | translate }} </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="cust-card cust-card--padding">

                <div class="cust-card__body">
                    <div class="body">
                        <div class="row">

                            <div class="col">
                                <div class="cust-input-group">
                                    <div class="cust-label">{{ 'parametragePrix.prixVente' | translate }} :</div>
                                    <div class="cust-input">
                                        <label class="cust-input__wrapper">
                                            <input class="cust-input__input currency-input" id="add-prixVente-form-btn"
                                                type="number" appInputRemoveDefaultZero formControlName="salesPrice"
                                                placeholder="{{ 'parametragePrix.prixVente' | translate }}">
                                        </label>
                                    </div>
                                </div>

                            </div>
                            <div class="col">
                            </div>
                            <div class="col">
                            </div>
                        </div>
                        <br>
                        <div class="row">

                            <div class="col">
                                <div class="cust-input-group">
                                    <div class="cust-label">{{ 'parametragePrix.prixAchat' | translate }} :</div>
                                    <div class="cust-input">
                                        <label class="cust-input__wrapper">
                                            <input class="cust-input__input currency-input" id="add-prixAchat-form-btn"
                                                type="number" appInputRemoveDefaultZero formControlName="buyingPrice"
                                                placeholder="{{ 'parametragePrix.prixAchat' | translate }}">
                                        </label>
                                    </div>
                                </div>

                            </div>
                            <div class="col">
                            </div>
                            <div class="col">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </mat-expansion-panel>

    </mat-accordion>
    <br>


    <mat-accordion>
        <mat-expansion-panel [expanded]="true" class="disabled-pointer">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ 'labels.coutDeplacement' | translate }} </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="cust-card cust-card--padding">

                <div class="cust-card__body">
                    <div class="body">
                        <div class="row">

                            <div class="col">
                                <div class="cust-input-group">
                                    <div class="cust-label">{{ 'labels.couthT' | translate }} :</div>
                                    <div class="cust-input">
                                        <label class="cust-input__wrapper">
                                            <input class="cust-input__input currency-input" id="add-couthT-form-btn"
                                                type="number" appInputRemoveDefaultZero
                                                formControlName="displacementCost"
                                                placeholder="{{ 'labels.coutDeplacement' | translate }}">
                                        </label>
                                    </div>
                                </div>

                            </div>
                            <div class="col">
                            </div>
                            <div class="col">
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </mat-expansion-panel>

    </mat-accordion>
    <br>
</form>

<!-- <section id="multi-column">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="card box-shadow-0 border-primary">
                    <div class="card-header card-head-inverse bg-primary">
                        <h4 class="card-title">
                            {{ 'labels.defaultVat' | translate }}</h4>
                    </div>

                    <div class="card collapse-icon accordion-icon-rotate">
                        <div class="card-content">
                            <div class="card-body">

                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="col-md-2 label-control"
                                            for="defaultVat">{{ 'parametrageTva.tvaDefaut' | translate }}</label>
                                        <div class="col-md-4">
                                            <input type="number" id="defaultVat" class="form-control currency-input"
                                                appInputRemoveDefaultZero formControlName="defaultVAT"
                                                placeholder="{{ 'parametrageTva.tvaDefaut' | translate }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="multi-column">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="card box-shadow-0 border-primary">
                    <div class="card-header card-head-inverse bg-primary">
                        <h4 class="card-title">
                            {{ 'labels.coutHoraire' | translate }}</h4>
                    </div>
                    <div class="card collapse-icon accordion-icon-rotate">
                        <div class="card-content">
                            <div class="card-body">

                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="col-md-2 label-control"
                                            for="prixVente">{{ 'parametragePrix.prixVente' | translate }}</label>
                                        <div class="col-md-4">
                                            <input type="number" id="prixVente" class="form-control currency-input"
                                                appInputRemoveDefaultZero formControlName="salesPrice"
                                                placeholder="{{ 'parametragePrix.prixVente' | translate }}">

                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="col-md-2 label-control"
                                            for="prixAchat">{{ 'parametragePrix.prixAchat' | translate }}</label>
                                        <div class="col-md-4">
                                            <input type="number" id="prixAchat" class="form-control currency-input"
                                                appInputRemoveDefaultZero formControlName="buyingPrice"
                                                placeholder="{{ 'parametragePrix.prixAchat' | translate }}">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </section>

    <section id="multi-column">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="card box-shadow-0 border-primary">
                    <div class="card-header card-head-inverse bg-primary">
                        <h4 class="card-title">
                            {{ 'labels.coutDeplacement' | translate }}</h4>
                    </div>


                    <div class="card collapse-icon accordion-icon-rotate">
                        <div class="card-content">
                            <div class="card-body">

                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="col-md-2 label-control"
                                            for="coutDeplacement">{{ 'labels.couthT' | translate }}</label>
                                        <div class="col-md-4">
                                            <input type="number" id="coutDeplacement"
                                                class="form-control currency-input" appInputRemoveDefaultZero
                                                formControlName="displacementCost"
                                                placeholder="{{ 'labels.coutDeplacement' | translate }}">

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </section> -->