<nav *ngIf="menu.active"
  class="root"
  [ngClass]="{ 'root--closed': !menu.opened }">

  <!-- #region Head -->
  <div class="head">

    <!-- Logo -->
    <div class="logo">
      <img [routerLink]="'/'"
        alt="Axiobat logo"
        src="./assets/app/images/logo/logo.svg">
    </div>

    <!-- Toggle button -->
    <div class="toggle"
      (click)="onToggle()">
      <img *ngIf="menu.opened"
        class="opened"
        src="./assets/app/images/Icons/bar-chart-2.svg"
        alt="Menu toggler">

      <img *ngIf="!menu.opened"
        class="closed"
        src="./assets/app/images/Icons/menu.svg"
        alt="Menu toggler">
    </div>
  </div>
  <!-- #endregion -->

  <!-- #region Body -->
  <div class="body">
    <ul class="group-list">
      <label *ngFor="let group of menu.menuItems"
        (click)="onGroupClicked()">
        <input type="radio"
          name="sidebar-item"
          (change)="onChange()">

        <li class="group-list__item"
          [ngClass]="{ 'group-list__item--opened': !interacted && menu.isGrouActive(group) }">
          <div class="group-list__head">
            <div class="group-list__icon-wrapper">
              <img class="group-list__icon group-list__icon--stale"
                [src]="group.iconStale"
                alt="Group icon">

              <img class="group-list__icon group-list__icon--active"
                [src]="group.iconActive"
                alt="Group icon">
            </div>

            <span class="group-list__label">{{ group.label }}</span>
          </div>
          <div class="group-list__body">
            <ul class="list">
              <li *ngFor="let item of group.items"
                class="list__item"
                routerLinkActive="list__item--active"
                [routerLink]="item.route"
                [routerLinkActiveOptions]="{ exact: false }">
                <span class="list__label">{{ item.label }}</span>
              </li>
            </ul>
          </div>
        </li>
      </label>
    </ul>
  </div>
  <!-- #endregion -->
</nav>
