<div class="root">
    <div class="row">
        <div class="col">
            <div class="details">
                <div class="cust-card cust-card--padding">
                    <div class="cust-card__head">
                        <div class="left">
                            <div class="title"> {{ produit?.reference}} </div>
                        </div>
                        <div>
                            <mat-tab-group mat-align-tabs="center" (selectedTabChange)="tabs($event)">
                                <!-- Information -->
                                <mat-tab data-name="information" [label]="'LABELS.INFORMATIONS' | translate">

                                </mat-tab>
                                <!-- note -->
                                <mat-tab data-name="note" [label]="'LABELS.FichesTechniques' | translate">
                                </mat-tab>
                                <!-- History -->
                                <mat-tab data-name="historique" [label]="'LABELS.HISTORIQUE' | translate">

                                </mat-tab>

                            </mat-tab-group>
                        </div>

                        <!-- Right controls -->
                        <div class="right flexcontrols">

                            <div id="modifier" class="cust-button cust-button--success" (click)="modifier()">
                                <span>Modifier</span>
                            </div>
                        </div>
                    </div>
                    <div class="cust-card__body" *ngIf="selectedTabs !== 'information'">

                        <div *ngIf="selectedTabs === 'note'">
                            <common-memos [memos]="memos" (valueChange)='saveMemo($event)'
                                (download)="downloadPieceJointe($event)" [processIsStarting]="processIsStarting"
                                (OnDeleteMemo)="deleteMemo($event)" (OnUpdateMemo)="updateMemo($event)"
                                [modificationPermission]="true">
                            </common-memos>
                        </div>

                        <div *ngIf="selectedTabs === 'historique'">
                            <common-historiques [historique]="historique"></common-historiques>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
    </div>
</div>

<div *ngIf="selectedTabs === 'information'">
    <produit-informations [produit]="produit" [allTagsList]="allTagsList" [PrixParFournisseur]="PrixParFournisseur">
    </produit-informations>
</div>


<!-- <custom-loader [displayLoader]="processing"></custom-loader> -->