.table-equipement {
  /*//////////////////////////////////////////////////////////////////
  [ FONT ]*/

  // @font-face {
  //   font-family: Poppins-Regular;
  //   src: url('../fonts/poppins/Poppins-Regular.ttf');
  // }

  // @font-face {
  //   font-family: Poppins-Bold;
  //   src: url('../fonts/poppins/Poppins-Bold.ttf');
  // }

  /*//////////////////////////////////////////////////////////////////
  [ RESTYLE TAG ]*/
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  body,
  html {
    height: 100%;
    font-family: sans-serif;
  }

  /* ------------------------------------ */
  a {
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
  }

  a:focus {
    outline: none !important;
  }

  a:hover {
    text-decoration: none;
  }

  /* ------------------------------------ */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0px;
  }

  p {
    margin: 0px;
  }

  ul,
  li {
    margin: 0px;
    list-style-type: none;
  }

  /* ------------------------------------ */
  input {
    display: block;
    outline: none;
    border: none !important;
  }

  textarea {
    display: block;
    outline: none;
  }

  textarea:focus,
  input:focus {
    border-color: transparent !important;
  }

  /* ------------------------------------ */
  button {
    outline: none !important;
    border: none;
    background: transparent;
  }

  button:hover {
    cursor: pointer;
  }

  iframe {
    border: none !important;
  }

  /*//////////////////////////////////////////////////////////////////
  [ Table ]*/

  .limiter {
    width: 100%;
    margin: 0 auto;
  }

  .container-table100 {
    width: 100%;
    min-height: 100vh;
    background: #c4d3f6;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
  }

  .wrap-table100 {
    width: 960px;
    border-radius: 10px;
    overflow: hidden;
  }

  .table {
    width: 100%;
    display: table;
    margin: 0;
  }

  @media screen and (max-width: 768px) {
    .table {
      display: block;
    }
  }

  .row {
    display: table-row;
    background: #fff;
  }

  .row.header {
    color: #ffffff;
    background: #304e6b;
  }

  @media screen and (max-width: 768px) {
    .row {
      display: block;
    }

    .row.header {
      padding: 0;
      height: 0px;
    }

    .row.header .cell {
      display: none;
    }

    .row .cell:before {
      // font-family: Poppins-Bold;
      font-size: 12px;
      color: #808080;
      line-height: 1.2;
      text-transform: uppercase;
      font-weight: unset !important;

      margin-bottom: 13px;
      content: attr(data-title);
      min-width: 98px;
      display: block;
    }
  }

  .cell {
    display: table-cell;
  }

  @media screen and (max-width: 768px) {
    .cell {
      display: block;
    }
  }

  .row .cell {
    // font-family: Poppins-Regular;
    font-size: 15px;
    color: #666666;
    line-height: 0.5;
    font-weight: unset !important;

    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f2f2f2;
  }

  .row.header .cell {
    // font-family: Poppins-Regular;
    font-size: 18px;
    color: #fff;
    line-height: 0.5;
    font-weight: unset !important;

    padding-top: 19px;
    padding-bottom: 19px;
  }

  .row .cell:nth-child(1) {
    width: 360px;
    padding-left: 40px;
  }

  .row .cell:nth-child(2) {
    width: 160px;
  }

  .row .cell:nth-child(3) {
    width: 250px;
  }

  .row .cell:nth-child(4) {
    width: 190px;
  }

  .table,
  .row {
    width: 100% !important;
  }
  .row:hover {
    background-color: #d4dde6;
    cursor: pointer;
  }
  .row:hover:nth-child(1) {
    color: #ffffff;
    background: #304e6b;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    .row {
      border-bottom: 1px solid #f2f2f2;
      padding-bottom: 18px;
      padding-top: 30px;
      padding-right: 15px;
      margin: 0;
    }

    .row .cell {
      border: none;
      padding-left: 30px;
      padding-top: 16px;
      padding-bottom: 16px;
    }
    .row .cell:nth-child(1) {
      padding-left: 30px;
    }

    .row .cell {
      // font-family: Poppins-Regular;
      font-size: 18px;
      color: #555555;
      line-height: 0.5;
      font-weight: unset !important;
    }

    .table,
    .row,
    .cell {
      width: 100% !important;
    }
  }
}

.no-data-available {
  text-align: center;
  margin-top: 20px;
}

.gamme-maintenance-equipement {
  background: no-repeat;
  border: 1px #2e6da4 solid;
  color: #337ab7;
  padding: 10px 6px;
  font-size: 12px;
}

.gamme-maintenance-equipement-active {
  border: 1px #2e6da4 solid;
  background: #337ab7;
  color: #fff;
  padding: 10px 6px;
  font-size: 12px;
}

.tab-pane-custom {
  margin: 10px 0px;
  padding: 10px 10px;
  background: #ececec2e;
  border: 1px #ebebec solid;
  max-height: 500px;
  overflow: auto;
  overflow-x: hidden !important;
}

.badge-brouillon {
  background-color: #636e72 !important;
}

.badge-annuler {
  background-color: #343a40 !important;
}

.badge-enretard {
  background-color: #ffa87d !important;
}

.badge-planifiee {
  background-color: #00d2d3 !important;
}

.badge-success {
  background-color: #2ecc71 !important;
}
.badge-facturee {
  background-color: #3498db !important;
}

.input-number {
  text-align: right;
}
.form-control.calendar {
  height: 50px;
  padding: 0px;
}
// select.form-control.ng-pristine.ng-valid.ng-touched {
//   width: 171px !important;
// }

select.select-type {
  border: 1px solid #ebebeb !important;
  height: 35px !important;
  background-color: #ebebeb !important;
  border-radius: -5% !important;
  border-radius: 0.25rem !important;
  text-align: right;
  width: 278px;
}
.select-type {
  border: 1px solid #ebebeb !important;
  height: 35px !important;
  background-color: #ebebeb !important;
  border-radius: -5% !important;
  border-radius: 0.25rem !important;
  text-align: right;
  width: 278px;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: transparent !important;
}
.select-datepicker {
  border: 1px solid #ebebeb !important;
  height: 35px !important;
  background-color: #ebebeb !important;
  border-radius: -5% !important;
  border-radius: 0.25rem !important;
  text-align: right;
  width: 278px;
}

.radio {
  margin: 0.5rem;
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    + .radio-label {
      &:before {
        content: "";
        background: white;
        border-radius: 50%;
        border: 1px solid #1a73e8;
        display: inline-block;
        width: 15px;
        height: 15px;
        position: relative;
        top: 0.3em;
        margin-right: 1em;
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease;
      }
    }
    &:checked {
      + .radio-label {
        &:before {
          background-color: #1a73e8;
          box-shadow: inset 0 0 0 4px white;
        }
      }
    }
    &:focus {
      + .radio-label {
        &:before {
          outline: none;
          border-color: #1a73e8;
        }
      }
    }
    &:disabled {
      + .radio-label {
        &:before {
          box-shadow: inset 0 0 0 4px #f4f4f4;
          border-color: darken(#f4f4f4, 25%);
          background: darken(#f4f4f4, 25%);
        }
      }
    }
    + .radio-label {
      &:empty {
        &:before {
          margin-right: 0;
        }
      }
    }
  }
}

.container {
  max-width: 720px;
  margin-top: 0px;

  margin-left: -8px;
}

.radio {
  margin-bottom: 5px;
}

.mat-form-field-infix {
  width: 254px !important;
  background-color: red !important;
}
.mat-form-field-infix {
  width: 254px;
}

// mat-form-field.mat-form-field.ng-tns-c7-0.mat-primary.mat-form-field-type-mat-input.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-has-label.mat-form-field-hide-placeholder.ng-untouched.ng-pristine.ng-valid {
//   width: 273px;
// }

// mat-form-field.mat-form-field.ng-tns-c7-0.mat-primary.mat-form-field-type-mat-input.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-has-label.mat-form-field-hide-placeholder.ng-valid.ng-touched.mat-form-field-should-float.ng-dirty {
//   width: 273px;
// }

// mat-form-field.mat-form-field.ng-tns-c7-1.mat-primary.mat-form-field-type-mat-input.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-has-label.mat-form-field-hide-placeholder.ng-untouched.ng-pristine.ng-valid {
//   width: 273px;
// }

// mat-form-field.mat-form-field.ng-tns-c7-1.mat-primary.mat-form-field-type-mat-input.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-has-label.mat-form-field-hide-placeholder.ng-pristine.ng-valid.ng-touched {
//   width: 273px;
// }

mat-form-field.mat-form-field {
  width: 273px;
}

.btn-personalise {
  padding-top: 7px;
  /* background-color: aquamarine; */
  border: 1px solid #2dcee3 !important;
  height: 35px !important;
  background-color: #2dcee3 !important;
  border-radius: -5% !important;
  border-radius: 0.25rem !important;
  text-align: center;
  color: white;
}

input#mat-input-0 {
  padding-left: 17px;
  font-size: 15px;
}

input#mat-input-1 {
  padding-left: 17px;
  font-size: 15px;
}
input.input-montant {
  border: 1px solid #ebebeb !important;
  height: 35px !important;
  background-color: #ebebeb !important;
  border-radius: -5% !important;
  border-radius: 0.25rem !important;
  text-align: right;
  padding-right: 10px;
  width: 278px;
}
.input-designation {
  border: 1px solid #ebebeb !important;
  height: 76px !important;
  background-color: #ebebeb !important;
  border-radius: -5% !important;
  border-radius: 0.25rem !important;
  text-align: left;
  padding-left: 10px;
  width: 278px;
}

.btn-personalise {
  padding-top: 7px;
  /* background-color: aquamarine; */
  border: 1px solid #2dcee3 !important;
  height: 35px !important;
  background-color: #2dcee3 !important;
  border-radius: -5% !important;
  border-radius: 0.25rem !important;
  text-align: center;
  color: white;
}
input[type="checkbox"] {
  position: relative;
  cursor: pointer;
}
input[type="checkbox"]:before {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  left: 0;
  background-color: #e9e9e9;
  border-left-color: #1b9db3;
  border-right-color: #1b9db3;
}
input[type="checkbox"]:checked:before {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  left: 0;
  background-color: #1b9db3;
}
input[type="checkbox"]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}
.btn-eye {
  background-color: #e91e63;
}
.heading-elements {
  .badge {
    font-size: 15px;
    // padding: 6px 20px;
    border-radius: 16px;
    top: -45px !important;
  }
}
.card-header {
  background: #ffffff !important;
  color: white !important;
  font-size: 5px !important;
  padding: 1rem 1.5rem;
}

.pdfView {
  color: white;
  margin-right: 1rem;
  margin-top: -70px;
  //   background-color: #2DCEE3 ;
}
.card-body.download-Model {
  max-height: 38vw;
}

.modal-body {
  max-height: 100vw !important;
  overflow: auto;
}

.flexcontrols {
	display :flex;
	div:last-of-type {
		margin-left: 10px;
	}
}
