<br>
<div class="root">
  <div class="row">
    <div class="col">
      <div class="details">
        <div class="cust-card cust-card--padding">


          <div class="cust-card__body">

            <div class="row">

              <div class="col">
                <div class="cust-input-group">
                  <div class="cust-label">{{ 'LABELS.REFERENCE'  | translate  }} :</div>
                  <div class="cust-labelGros"> {{ contratEntretien?.reference }} </div>
                </div>
              </div>

              <div class="col">
                <div class="cust-input-group">
                  <div class="cust-label">{{ 'LABELS.CLIENT'  | translate  }} :</div>
                  <div class="cust-labelGros"> {{ contratEntretien?.client?.name }} </div>
                </div>
              </div>


              <div class="col">
                <div class="cust-input-group">
                  <div class="cust-label">{{ 'LABELS.SITE'  | translate  }} :</div>
                  <div class="cust-labelGros"> {{ contratEntretien?.site?.designation }} </div>
                </div>
              </div>


            </div>


            <div class="row">

              <div class="col">
                <div class="cust-input-group">
                  <div class="cust-label">{{ 'LABELS.DATE_DEBUT' | translate }} :</div>
                  <div class="cust-labelGros">
                    {{ contratEntretien?.startDate    | date: 'dd/MM/yyyy HH:mm' }} </div>
                </div>
              </div>

              <div class="col">
                <div class="cust-input-group">
                  <div class="cust-label">{{ 'LABELS.DATE_FIN' | translate }} :</div>
                  <div class="cust-labelDate"> {{ contratEntretien?.endDate | date: 'dd/MM/yyyy HH:mm' }}
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="cust-input-group">
                  <div class="cust-label">{{ 'LABELS.STATUS' | translate }} :</div>
                  <div class="cust-input cust-input--select cust-input--status"
                    [style.color]="getColor(contratEntretien?.status)">
                    <label class="cust-input__wrapper">
                      <input class="cust-input__input" type="text" [value]="contratEntretien?.status | translate"
                        disabled>
                    </label>
                  </div>
                </div>
              </div>

            </div>


            <div class="row">

              <div class="col">
                <div class="cust-input-group">
                  <div class="cust-label">{{ 'LABELS.ALERTEXPERATION' | translate }} :</div>
                  <div class="cust-labelGros">
                    {{ !contratEntretien?.expirationAlertEnabled ? 'Non' : contratEntretien?.expirationAlertPeriod + ' ' + (('typeJ.' + contratEntretien?.expirationAlertPeriodType) | translate )}}
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="cust-input-group">
                  <div class="cust-label">{{ 'LABELS.Renouvellement' | translate }} :</div>
                  <div class="cust-labelGros">
                    {{contratEntretien?.enableAutoRenewal ? 'Oui' : 'Non'}}
                  </div>
                </div>
              </div>



            </div>



          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<br>
<div class="root">
  <div class="row">
    <div class="col">
      <div class="details">
        <div class="cust-card cust-card--padding">


          <div class="cust-card__head">

            <div class="left">
              <div class="title"> {{ 'LABELS.piecesJointes' | translate }}
              </div>
            </div>

          </div>



          <div class="cust-card__body">

            <div class="row">
              <div class="col-12">
                <table class="table">
                  <tr>
                    <th>{{'LABELS.NOM' | translate}}</th>
                    <th style="text-align: center !important;">{{'LABELS.ACTIONS' | translate}}</th>
                  </tr>
                  <tr *ngFor="let pieceJointe of contratEntretien?.attachments;let index= index">
                    <td style="line-height: 40px;">
                      <a (click)="downloadPieceJointe(pieceJointe)">
                        {{ pieceJointe?.fileName }}</a>
                    </td>
                    <td style="text-align: center !important; line-height: 40px;">
                      <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary btn-md btn-actions" placement="bottom"
                          (click)="downloadPieceJointe(pieceJointe)">
                          <i class="ft-download"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr *ngIf="contratEntretien?.attachments?.length == 0">
                    <td colspan="2" class="text-center">
                      {{'LABELS.noDataAvaible' | translate}}
                    </td>
                  </tr>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<div class="root">
  <div class="row">
    <div class="col">
      <div class="details">
        <div class="cust-card cust-card--padding">


          <div class="cust-card__head">

            <div class="left">
              <div class="title"> {{ 'LABELS.equipement' | translate }}
              </div>
            </div>

          </div>



          <div class="cust-card__body">
            <div class="col-12">

              <div class="nav-pills">
                <div class="btn-groupbtn-group-custom" role="group">
                  <ng-container *ngFor="let gamme of gamme_maintenance_equipement_Selected;let index = index">
                    <button type="button" class="btn gamme-maintenance-equipement"
                      (click)="selectedGammeMaintenanceEquipement = index"
                      [ngClass]="{'gamme-maintenance-equipement-active': selectedGammeMaintenanceEquipement == index}">
                      {{ gamme.equipmentName }}
                    </button>
                  </ng-container>
                </div>
              </div>

              <!-- <div class="tab-content-custom"> -->
              <ng-container *ngFor="let gamme of gamme_maintenance_equipement_Selected;let index = index">
                <div class="tab-pane-custom" *ngIf="selectedGammeMaintenanceEquipement == index">


                  <div class="row">

                    <div class="col">
                      <div class="cust-input-group">
                        <div class="cust-label">{{ 'LABELS.NOM' | translate }} :</div>
                        <div class="cust-labelGros">
                          {{ gamme.equipmentName }}
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="cust-input-group">
                        <div class="cust-label">{{ 'LABELS.brand' | translate }} :</div>
                        <div class="cust-labelGros">
                          {{ gamme.brand }}
                        </div>
                      </div>
                    </div>


                    <div class="col">
                      <div class="cust-input-group">
                        <div class="cust-label">{{ 'LABELS.module' | translate }} :</div>
                        <div class="cust-labelGros">
                          {{ gamme.model }}
                        </div>
                      </div>
                    </div>

                  </div>


                  <div class="row">

                    <div class="col">
                      <div class="cust-input-group">
                        <div class="cust-label">{{ 'LABELS.serialNumber' | translate }} :</div>
                        <div class="cust-labelGros">
                          {{ gamme.serialNumber }}
                        </div>
                      </div>
                    </div>


                    <div class="col">
                      <div class="cust-input-group">
                        <div class="cust-label">{{ 'LABELS.installationDate' | translate }} :</div>
                        <div class="cust-labelGros">
                          {{ gamme.installationDate | date : 'dd/MM/yyyy' }}
                        </div>
                      </div>
                    </div>

                  </div>


                  <div class="col-md-12">
                    <gamme-maintenance-equipement [libelles]="gamme?.maintenanceOperations" [readOnly]="true">
                    </gamme-maintenance-equipement>
                  </div>

                </div>
              </ng-container>
              <!-- </div> -->
            </div>


          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<br>

<div class="root">
  <div class="row">
    <div class="col">
      <div class="details">
        <div class="cust-card cust-card--padding">


          <div class="cust-card__head">

            <div class="left">
              <div class="title"> {{ 'LABELS.PRESTATIONS' | translate }}
              </div>
            </div>

          </div>



          <div class="cust-card__body">

            <div class="row">

              <div class="col-12">
                <table-article [load]="emitterArticle" [readOnly]="true" [showAdditionalInfos]="false"
                  [articles]="articles">
                </table-article>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>


<div class="root">
  <div class="row">
    <div class="col">
      <div class="details">
        <div class="cust-card cust-card--padding">


          <div class="cust-card__head">

            <div class="left">
              <div class="title"> {{ 'LABELS.recurrente' | translate }}
              </div>
            </div>

          </div>



          <div class="cust-card__body" *ngIf="reccurente">


            <div class="row " style="margin-bottom: 9px;">
              <div class="col-md-5 text-right" style="padding-top: 5px;color: black;">
                <span>Périodicité</span>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12">

                <div class="row">
                  <div class="col-lg-5 col-md-12 col-sm-12 select-type" style="text-align: left;margin-left: 17px;
     padding-top: 5px;  max-width: 275px;">

                    <div class="" *ngIf="reccurente.periodicityType==periodicityType.Monthly">
                      <span>Mensuelle</span>
                    </div>
                    <div class="" *ngIf="reccurente.periodicityType==periodicityType.BiMonthly">
                      <span>Bimestriele</span>
                    </div>
                    <div class="" *ngIf="reccurente.periodicityType==periodicityType.Quarterly">
                      <span>Trimestrielle</span>
                    </div>
                    <div class="" *ngIf="reccurente.periodicityType==periodicityType.EveryFourMonths">
                      <span>Quadrimestrielle</span></div>
                    <div class="" *ngIf="reccurente.periodicityType==periodicityType.Biannual">
                      <span>Semestrielle</span>
                    </div>
                    <div class="" *ngIf="reccurente.periodicityType==periodicityType.Annually">
                      <span>Annuelle</span>
                    </div>
                    <div class="" *ngIf="reccurente.periodicityType==periodicityType.Custom"><span>Personalise
                        <i class="ft-eye" style="padding-left: 146px;
         color: #0e63b8;
         font-size: 16px;" (click)="LoadPersonaliseReccurente()"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="row " style="margin-bottom: 9px;">
              <div class="col-lg-5 col-md-12 col-sm-12 text-right" style="padding-top: 5px;color: black;">
                <span>Prochaine échéance</span>
              </div>

              <div class="col-lg-6 col-md-12 col-sm-12">

                <div class="row">
                  <div class="col-lg-5 col-md-12 col-sm-12 select-type" style="text-align: left;margin-left: 17px;
                  padding-top: 5px;  max-width: 275px;">

                    <div class=""><span>{{ getDate(reccurente.startingDate) }} </span>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="row " style="margin-bottom: 9px;">
              <div class="col-lg-5 col-md-12 col-sm-12 text-right" style="padding-top: 5px; color: black;">
                <span>Validité</span>
              </div>

              <div class="col-lg-3 col-md-12 col-sm-12 container">
                <div class="radio">
                  <input id="radio-1" name="type_termine" type="radio" value="1"
                    [checked]="reccurente.endingType===periodicityEndingType.Undifined" readonly="readonly"
                    (click)="readolyChecked()">
                  <label for="radio-1" class="radio-label">Illimité</label>
                </div>
                <div class="radio">
                  <input id="radio-2" name="type_termine" type="radio" value="2"
                    [checked]="reccurente.endingType===periodicityEndingType.SpecificDate" readonly="readonly"
                    (click)="readolyChecked()">
                  <label for="radio-2" class="radio-label">Jusqu'au</label>
                </div>
                <div class="radio" *ngIf="reccurente.periodicityType==periodicityType.Custom">
                  <input id="radio-3" name="type_termine" type="radio" value="3"
                    [checked]="reccurente.endingType===periodicityEndingType.SpecificNumberOfTime" readonly="readonly"
                    (click)="readolyChecked()">
                  <label for="radio-3" class="radio-label">Aprés</label>
                </div>

              </div>
            </div>
            <div class="row " style="margin-bottom: 9px;"
              *ngIf="reccurente.endingType===periodicityEndingType.SpecificDate">
              <div class="col-lg-5 col-md-12 col-sm-12 text-right" style="padding-top: 5px;color: black;">
                <span>Fin de validité</span>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12">

                <div class="row">
                  <div class="col-lg-5 col-md-12 col-sm-12 select-type" style="text-align: left;margin-left: 17px;
                    padding-top: 5px;  max-width: 275px;">

                    <div class=""><span>{{ getDate(reccurente.endingDate) }} </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row " style="margin-bottom: 9px;"
              *ngIf="reccurente.endingType==periodicityEndingType.SpecificNumberOfTime">
              <div class="col-md-5 text-right" style="padding-top: 5px;color: black;">
                <span>Nombre d'occurrences</span> <span class="color-red">(*)</span>
              </div>
              <div class="col-md-3 ">

                <div class="select-datepicker">
                  <mat-form-field>
                    <input matInput type="number" autocomplete="off" tabindex="0" autofocus="" min="1"
                      [value]="reccurente.occurringCount" readonly>
                  </mat-form-field>
                </div>
              </div>
            </div>



          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<br>


<div class="root">
  <div class="row">
    <div class="col">
      <div class="details">
        <div class="cust-card cust-card--padding">


          <div class="cust-card__head">

            <div class="left">
              <div class="title"> {{ 'LABELS.document' | translate }}
              </div>
            </div>

          </div>



          <div class="cust-card__body">

            <div class="row">

              <div style="width: 95%; margin: 0 auto">
                <app-contract [contratEntretien]="contratEntretien">
                </app-contract>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>



<div class="root" *ngIf="contratEntretien?.associatedDocuments?.length !== 0">
  <div class="row">
    <div class="col">
      <div class="details">
        <div class="cust-card cust-card--padding">

          <div class="cust-card__head">

            <div class="left">
              <div class="title">
                {{'LABELS.RELATED_DOCUMENT' | translate}}
              </div>
            </div>

          </div>

          <div class="cust-card__body">

            <ng-container *ngIf="contratEntretien?.associatedDocuments?.length > 0">

              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>{{ 'LABELS.TYPE' | translate }}</th>
                      <th>{{ 'LABELS.REFERENCE' | translate }}</th>
                      <th>{{ 'LABELS.DATE_CREATION' | translate }}</th>
                      <th>{{ 'LABELS.STATUS' | translate }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of contratEntretien?.associatedDocuments; let index = index"
                      style="background-color: white;" (click)="getFacture(item.id)">
                      <td> {{ 'typeDocAssocie.factureGenerale' | translate }} </td>
                      <td> {{item?.reference}} </td>
                      <td> {{item?.creationDate | date:'dd/MM/yyyy'}}</td>
                      <td> <span [style.color]="getColor(item?.status)">{{item?.status | translate }}</span>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </ng-container>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<custom-loader [displayLoader]="processing"></custom-loader>