<div class="root">
  <div class="row">
    <div class="col">
      <div class="details">
        <div class="cust-card cust-card--padding">
          <div class="cust-card__head">
            <div>
              <mat-tab-group mat-align-tabs="start" (selectedTabChange)="tabs($event)">

                <mat-tab data-name=0  [label]="'labels.journalVente' | translate">
                </mat-tab>

                <mat-tab data-name=1 [label]="'labels.journalAchat' | translate">
                </mat-tab>

                <mat-tab data-name=2 [label]="'labels.journalBanque' | translate">
                </mat-tab>

                <mat-tab data-name=3 [label]="'labels.journalCaisse' | translate">
                </mat-tab>

              </mat-tab-group>

            </div>

            <!-- Right controls -->
            <div class="right flexcontrols menu-points-beta">

              <div id="exporter" class="cust-button cust-button--darkBlue" (click)="exporter()">
                <span> {{ 'labels.exportbrouillon' | translate }}</span>
              </div>
              <div id="modifier" class="cust-button cust-button--darkOrange" data-toggle="modal"
                data-target="#cloturePeriodeComptable">
                <span> {{ 'labels.exportcloture' | translate }}</span>
              </div>


            </div>
          </div>

          <div class="cust-card__body">

          
            <div *ngIf="selectedTab === tabsComptabilite.JournalVente">
              <list-global-index [doctype]="apiUrl"[typeJournal]="'JournalVente'"></list-global-index>
            </div>


            <div *ngIf="selectedTab === tabsComptabilite.JournalAchat">
              <list-global-index [doctype]="apiUrl"[typeJournal]="'JournalAchat'"></list-global-index>
            </div>

            <div *ngIf="selectedTab === tabsComptabilite.JournalBanque">
              <list-global-index [doctype]="apiUrl"[typeJournal]="'journal_banque'"></list-global-index>
            </div>

            <div *ngIf="selectedTab === tabsComptabilite.JournalCaisse">
              <list-global-index [doctype]="apiUrl" [typeJournal]="'journal_caisse'"></list-global-index>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col"></div>
  </div>
</div>


<custom-loader [displayLoader]="processing"></custom-loader>


<div class="modal fade text-left" id="cloturePeriodeComptable" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel98" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content modal-content--cloture">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel98">
          <i class="fa fa-credit-card"></i> Export avec clôture de la période comptable </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div id="cloture-modal-body" class="modal-body">
        <div class="card-body">
          <div class="content">
            <div class="icon">
              <div class="pi pi-lock"></div>
            </div>
            <div class="description">
              <p>Attention, en clôturant la période vous ne serez plus en mesure de modifier ou d'ajouter des documents
                et des
                paiements antérieurs à la date suivante</p>
            </div>
            <div class="date">
              <!-- <div class="cloture">{{ min  | date : 'dd/MM/yyyy' }}</div> -->
              <div class="actuelle">
                <span>Date de clôture actuelle : {{ dateCloture   | date : 'dd/MM/yyyy' }} </span> 
              </div>
            </div>
            <div class="note">
              Note : La clôture n'est pas possible pour les cinq derniers jours pour des raisons de protection.
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn grey btn-secondary" data-dismiss="modal"> Annuler </button>
        <button type="button" class="btn grey  btn-success" (click)="exporterClose()">
          Valider </button>

      </div>
    </div>
  </div>
</div>