<!-- 'input-textarea--required': controlParent && getForm()?.touched && getForm()?.errors?.required, -->
<div [hidden]="loading"
  class="input-textarea"
  [ngClass]="{
    'input-textarea--fullHeight': fullHeight,
    'input-textarea--invalid': controlParent && getForm()?.touched && getForm()?.errors && errors?.length > 0,
    'ion-touched': controlParent && getForm().invalid && getForm().touched
  }">

  <!-- The label -->
  <div class="input-textarea__label"
    (click)="onToolbarToggle()">

    <!-- The icon -->
    <i class="fa fa-eye" *ngIf="enableIcon()" name="alert"
    class="input-textarea__icon"
    [ngClass]="{ 'input-textarea__icon--active': focused}"></i>

    <!-- <ion-icon *ngIf="enableIcon()"
      name="alert"
      class="input-textarea__icon"
      [ngClass]="{ 'input-textarea__icon--active': focused }"></ion-icon>  -->

    <!-- The switch -->
    <i *ngIf="!readOnly"
      [@flip]="switchStatus"
      class="input-textarea__switch"
      name="arrow-dropdown"></i> 
  </div> 

  <!-- The input -->
  <angular-editor [(ngModel)]="value" (ngModelChange)="onChange($event)" [placeholder]="readOnly ? '' : placeholder"  [config]="editorConfig"></angular-editor>
</div>

<!-- The errors -->
<ng-container *ngIf="controlParent && !loading">

  <div *ngIf="getForm()?.touched && getForm()?.errors && errors?.length > 0"
    class="input-textarea__errors">
    <div *ngFor="let error of errors">
      <p *ngIf="getForm()?.errors[error[0]] && !focused"
        class="input-textarea__error">
        {{ error[1] }}
      </p>
    </div>
  </div>
</ng-container>

<!-- <ion-skeleton-text *ngIf="loading"
  animated
  class="input-loader"></ion-skeleton-text> -->
