.mat-pseudo-checkbox {
  border-color: #47a2c1 !important;
}

.mat-accent .mat-pseudo-checkbox-checked,
.mat-accent .mat-pseudo-checkbox-indeterminate,
.mat-pseudo-checkbox-checked,
.mat-pseudo-checkbox-indeterminate {
  background: #05658d;
  border-color: #05658d !important;
}

.mat-option-text {
  font-family: "Raleway";
  font-size: 13px;
}

.agendaFilters {
  .rappels {
    .mat-pseudo-checkbox {
      border-color: #feb969 !important;
    }

    .mat-accent .mat-pseudo-checkbox-checked,
    .mat-accent .mat-pseudo-checkbox-indeterminate,
    .mat-pseudo-checkbox-checked,
    .mat-pseudo-checkbox-indeterminate {
      background: #feb969;
    }
  }

  .taches {
    .mat-pseudo-checkbox {
      border-color: #47a2c1 !important;
    }

    .mat-accent .mat-pseudo-checkbox-checked,
    .mat-accent .mat-pseudo-checkbox-indeterminate,
    .mat-pseudo-checkbox-checked,
    .mat-pseudo-checkbox-indeterminate {
      background: #47a2c1;
    }
  }

  .evenements {
    .mat-pseudo-checkbox {
      border-color: #38b475 !important;
    }

    .mat-accent .mat-pseudo-checkbox-checked,
    .mat-accent .mat-pseudo-checkbox-indeterminate,
    .mat-pseudo-checkbox-checked,
    .mat-pseudo-checkbox-indeterminate {
      background: #38b475;
    }
  }

  .interventionsMaintenance {
    .mat-pseudo-checkbox {
      border-color: #05658d !important;
    }

    .mat-accent .mat-pseudo-checkbox-checked,
    .mat-accent .mat-pseudo-checkbox-indeterminate,
    .mat-pseudo-checkbox-checked,
    .mat-pseudo-checkbox-indeterminate {
      background: #05658d;
    }
  }

  .interventionsChantier {
    .mat-pseudo-checkbox {
      border-color: #f14f63 !important;
    }

    .mat-accent .mat-pseudo-checkbox-checked,
    .mat-accent .mat-pseudo-checkbox-indeterminate,
    .mat-pseudo-checkbox-checked,
    .mat-pseudo-checkbox-indeterminate {
      background: #f14f63;
    }
  }
}
