<recherche-avancee>
  <div class="recherche-avancee-body">

    <div class="ui-g ui-fluid" *ngIf="dateLang">
      <div class="ui-g-6 ui-md-4">
        <h6 style="font-weight: bold">{{'list.fournisseur' | translate }}</h6>
        <ng-select style=" max-width: 500px !important;" placeholder="{{'list.fournisseur' | translate }}"
          (click)="getFournisseurs()" #selecteFournisseurs notFoundText="{{'labels.noFoundItem' | translate}}"
          [items]="filterlistFournisseur" bindLabel="name" bindValue="id" [multiple]="true" [(ngModel)]="idFournisseur">
        </ng-select>
      </div>
      <div class="ui-g-6 ui-md-4">
        <h6 style="font-weight: bold">{{'list.article' | translate }}</h6>
        <ng-select style=" max-width: 500px !important;" placeholder="{{'list.article' | translate }}"
          (click)="getProduits()" #selecteProduits notFoundText="{{'labels.noFoundItem' | translate}}"
          [items]="filterlistProduit" bindLabel="name" bindValue="id" [multiple]="true" [(ngModel)]="idProduit">
        </ng-select>
      </div>
      <div class="ui-g-6 ui-md-4">
        <h6 style="font-weight: bold">{{'labels.choisirPeriode' | translate }}</h6>
        <ng-select [hideSelected]="true" bindLabel="name" notFoundText="{{'labels.noFoundItem' | translate}}"
          [(ngModel)]="periode">
          <ng-option [value]="periodeEnum.CurrentMonth">{{ 'labels.moisCourant' | translate }}</ng-option>
          <ng-option [value]="periodeEnum.LastThreeMonths">{{ 'labels.troisMois' | translate }}</ng-option>
          <ng-option [value]="periodeEnum.LastSixMonths">{{ 'labels.sixMois' | translate }}</ng-option>
          <ng-option [value]="periodeEnum.CurrentYear">{{ 'labels.anneeCourant' | translate }}</ng-option>
          <ng-option [value]="periodeEnum.LastYear">{{ 'labels.anneeDerniere' | translate }}</ng-option>
          <ng-option [value]="periodeEnum.CurrentAccountingPeriod">
            {{ 'labels.exerciceComptableCourant' | translate }}</ng-option>
          <ng-option [value]="periodeEnum.None">{{ 'labels.tous' | translate }} </ng-option>
          <ng-option [value]="periodeEnum.Interval">{{ 'labels.intervalle' | translate }}</ng-option>
        </ng-select>
      </div>

      <ng-container *ngIf="periode == periodeEnum.Interval">
        <div class="ui-g-6 ui-md-4">
          <h6 style="font-weight: bold">{{ 'labels.dateMinimale' | translate }}</h6>
          <p-calendar [(ngModel)]="dateMinimal" [inputStyle]="{'height':'33px'}" [locale]="dateLang"
            showButtonBar="true" dateFormat="dd/mm/yy" showIcon="true"></p-calendar>
        </div>

        <div class="ui-g-6 ui-md-4">
          <h6 style="font-weight: bold">{{ 'labels.dateMaximale' | translate }}</h6>
          <p-calendar [(ngModel)]="dateMaximal" [inputStyle]="{'height':'33px'}" [locale]="dateLang"
            showButtonBar="true" dateFormat="dd/mm/yy" showIcon="true"></p-calendar>
        </div>
      </ng-container>

    </div>

    <div class="ui-g ui-fluid pull-right btn-search" *ngIf="dateLang">
      <button class="btn btn-success" (click)="filter()">
        <i class="ft-search"></i>&nbsp;{{ 'labels.filter' | translate }}
      </button>
    </div>

  </div>
</recherche-avancee>


<div class="row mt-5">
  <div class="col-lg-6 col-md-12 col-sm-12">
    <div class="c-card">
      <div class="card-header card-header-pink">
        <h4 class="card-title">{{'labels.topfournisseurCA' | translate}} </h4>
        <p class="card-category">Liste des Fournisseur avec chiffre d'affaire</p>
      </div>
      <div class="c-card-body">
        <div class="card-body table-responsive">
          <table class="table table-hover">
            <thead class="text-pink">
              <tr>
                <th class="text-pink">N°</th>
                <th class="text-pink" style=" text-align: left ;">{{'labels.nom' | translate}}</th>
                <th class="text-pink" style=" text-align: right ;     padding-right: 31px;">
                  {{'labels.chiffreaffaire' | translate}}</th>
              </tr>
            </thead>
            <ng-container *ngFor="let fournisseur of top10fournisseurCa ;let i = index">
              <tbody>
                <tr>
                  <td>{{i+1}}</td>
                  <td style=" text-align: left ;">{{fournisseur?.supplier?.name}}</td>
                  <td style="font-size: 1.1rem; text-align: right;">
                    {{ fournisseur?.totalTransaction  | RoudingNumber | ShowCurrency }}
                  </td>
                </tr>
              </tbody>
            </ng-container>

          </table>
        </div>

      </div>
    </div>
  </div>
  <div class=" col-lg-6 col-md-12 col-sm-12">
    <div class="c-card">
      <div class="card-header card-header-greencolor">
        <h4 class="card-title">{{'labels.reparationachatfournisseur' | translate}}</h4>
        <p class="card-category">{{'labels.graphereparationachat' | translate}}</p>
      </div>
      <div class="c-card-body">
        <div class="card-body table-responsive">
          <div class="row">
            <div class="ui-g-4 ui-md-4">
              <h6 style="font-weight: bold"> {{'labels.article'| translate}}</h6>

            </div>
            <div class="ui-g-6 ui-md-6">
              <ng-select style=" max-width: 500px !important;" placeholder="{{'list.article' | translate }}"
                (click)="getProduits()" #selecteProduits notFoundText="{{'labels.noFoundItem' | translate}}"
                [items]="filterlistProduit" bindLabel="name" bindValue="id" [(ngModel)]="idArticle"
                (change)="dashboardAchat()">
              </ng-select>
            </div>
          </div>

          <div style="display: block">
            <ng-container *ngIf="idArticle==null">
              <div style="text-align: center; padding-top: 72px; padding-bottom: 159px;">
                {{'labels.selectarticle'| translate}} </div>
            </ng-container>
            <ng-container *ngIf="idArticle!=null">
              <canvas height="210" #pieCanvas></canvas>
            </ng-container>


          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-12 col-sm-12">
    <div class="c-card">
      <div class="card-header card-header-warning">
        <h4 class="card-title">{{'labels.top10articlecmdqte' | translate}} </h4>
        <p class="card-category">Liste des articles par le prix quantité</p>
      </div>
      <div class="c-card-body">
        <div class="card-body table-responsive">
          <table class="table table-hover">
            <thead class="text-purple">
              <tr>
                <th class="text-purple">N°</th>
                <th class="text-purple" style=" text-align: left ;">{{'labels.nom' | translate}}</th>
                <th class="text-purple" style=" text-align: right ;     padding-right: 31px;">
                  {{'labels.qte' | translate}}</th>
              </tr>
            </thead>
            <ng-container *ngFor="let article of top10articleQte ;let i = index">
              <tbody>
                <tr>
                  <td>{{i+1}}</td>
                  <td style=" text-align: left ;">{{article?.name}}</td>
                  <td style="font-size: 1.1rem; text-align: right;">{{ article?.countOrders }}
                  </td>
                </tr>
              </tbody>
            </ng-container>

          </table>
        </div>

      </div>
    </div>
  </div>
  <div class=" col-lg-6 col-md-12 col-sm-12">
    <div class="c-card">
      <div class="card-header card-header-main">
        <h4 class="card-title">{{'labels.top10articlecmdprix' | translate}}</h4>
        <p class="card-category">Liste des articles par le prix</p>
      </div>
      <div class="c-card-body">
        <div class="card-body table-responsive">
          <table class="table table-hover">
            <thead class="text-warning">
              <tr>
                <th class="text-warning">N°</th>
                <th class="text-warning" style=" text-align: left ;">{{'labels.nom' | translate}}</th>
                <th class="text-warning" style=" text-align: right ;">{{'labels.prix' | translate}}</th>
              </tr>
            </thead>
            <ng-container *ngFor="let article of top10articlePrix ;let i = index">
              <tbody>
                <tr>
                  <td>{{i+1}}</td>
                  <td style=" text-align: left ;">{{article?.name}}</td>
                  <td style="font-size: 1.1rem; text-align: right;"> {{ article?.totalOrders  | RoudingNumber | ShowCurrency }}
                  </td>
                </tr>
              </tbody>
            </ng-container>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>