.c-card {
  background: white;
  border-radius: 6px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 0, 0, 0.2);
  // box-shadow: 0 1px 4px 0 rgba(0,0,0,.14)
  padding: 20px;
  margin-bottom: 45px;
}
.item-group {
  .header {
    display: flex;
    justify-content: space-between;
  }
  .icon-container {
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 6px;
    position: absolute;
    top: -40px;
    i {
      color: white;
      margin: auto;
      font-size: 24px;
    }
  }
  .icon-purple {
    background: linear-gradient(60deg, #ab47bc, #8e24aa);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
  }
  .icon-orange {
    background: linear-gradient(60deg, #ffa726, #fb8c00);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
  }
}
.item-title {
  font-size: 14px;
  text-align: right;
  margin-bottom: 20px;
  .value {
    font-size: 2.5rem;
    display: block;
  }
}

.item-content {
  display: flex;
  .title {
    text-align: right;
    color: #999;
    margin-bottom: 5px;
  }
  .item {
    width: 50%;
    text-align: left;
    .statue {
      display: inline-block;
    }
    .value {
      font-size: 22px;
      color: #404e67;
      display: block;
    }
  }
}

.card-header.card-header-warning {
  border-radius: 3px;
  margin-top: -36px;
  padding: 15px;
  padding: 20px;

  // box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4);
  // background: linear-gradient(60deg, #66bb6a, #43a047);
  background: linear-gradient(60deg, #ab47bc, #8e24aa);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
  text-align: left;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
.card .card-header {
  // z-index: 3 !important;
  // border-radius: 3px;
  // margin-top: -36px;
  // padding: 15px;
}

.card-header.card-header-main {
  border-radius: 3px;
  margin-top: -36px;
  padding: 20px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
  background: linear-gradient(60deg, #ffa726, #fb8c00);
  text-align: left;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.icon-pink {
  background: linear-gradient(45deg, #ff5370, #ff869a);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgb(227, 156, 168);
}
.icon-blue {
  background: linear-gradient(45deg, #4099ff, #73b4ff);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgb(129, 169, 215);
}

.icon-green {
  background: linear-gradient(45deg, #2ed8b6, #59e0c5);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgb(168, 222, 211);
}

.table th,
.table td {
  border-bottom: 0.75px solid #e6e5e5 !important;
  border-top: 0px solid #e6e5e5 !important;
}
.table tbody + tbody {
  border: none !important;
}

.text-warning {
  color: #ff9800 !important;
  // padding: 12px 8px;
  vertical-align: middle;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 300;
}
.text-purple {
  color: #9c27b0 !important;
  // padding: 12px 8px;
  vertical-align: middle;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 300;
}
.text-pink {
  color: #ec286a !important;
  vertical-align: middle;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 300;
}
.text-green {
  color: #ec286a !important;
  vertical-align: middle;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 300;
}
p.card-category {
  color: hsla(0, 0%, 100%, 0.8);
}
.h4 {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.4em;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem;
  .notification {
    border-radius: 4px;
    padding: 1.25rem 2.5rem 1.25rem 1.5rem;
    position: relative;
  }
}
.columns.is-multiline {
  flex-wrap: wrap;
}
.columns:last-child {
  // margin-bottom: -0.75rem;
  margin-bottom: 37px;
}

.columns {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
}

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem;
}
.notification.is-primary.color-nbrchantier {
  background-color: #459dff;
  color: #fff;
}
.notification.is-primary.color-chaiffre {
  background-color: #8bc34a;
  color: #fff;
}

.notification.is-primary.color-intervention {
  background-color: #e74c3c;
  color: #fff;
}

// background: linear-gradient(60deg, #f24680, #ea1e63);
// box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgb(247, 127, 168);
// .card-header.card-header-green {
//   border-radius: 3px;
//   margin-top: -36px;
//   padding: 15px;
//   padding: 20px;

//   box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4);
//   background: linear-gradient(60deg, #66bb6a, #43a047);
//   text-align: left;
//   font-family: Roboto, Helvetica, Arial, sans-serif;
// }

.card-header.card-header-pink {
  border-radius: 3px;
  margin-top: -36px;
  padding: 15px;
  padding: 20px;

  background: linear-gradient(60deg, #f24680, #ea1e63);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgb(247, 127, 168);

  text-align: left;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.card-header.card-header-greencolor {
  border-radius: 3px;
  margin-top: -36px;
  padding: 15px;
  padding: 20px;
  background: linear-gradient(60deg, #34bc3e, #29a632);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4);
  text-align: left;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.notification {
  background-color: #282a36;
  border-radius: 4px;
  padding: 1.25rem 2.5rem 1.25rem 1.5rem;
  position: relative;
}

.heading {
  display: block;
  font-size: 11px;
  letter-spacing: 1px;
  margin-bottom: 5px;
  text-transform: capitalize;
}
.heading.top {
  text-align: left;
  padding-left: 80px;
}
.heading-left {
  text-align: left;
}
.level-right {
  text-align: right;
}
.notification .title {
  color: currentColor;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.125;
  //padding-left: 51px;
  .title:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

.level {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.level-item {
  flex-grow: 1;
  align-items: center;
  display: block;
  flex-basis: auto;
  // flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
}
.text-body {
  font-size: 12px;
  text-align: left;
  //padding-left: 51px;
}
.icon-green-color {
  background: white;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px #bee68e;
}
.icon-blue-color {
  background: white;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px #9ce3ed;
}
.icon-pink-color {
  background: white;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px #f7998f;
}
.icon-container-nbrchantier {
  display: flex;
  width: 70px;
  height: 70px;
  border-radius: 6px;
  position: absolute;
  top: -40px;

  i {
    color: #459dff;
    margin: auto;
    font-size: 24px;
  }
}
.icon-container-chaiffre {
  display: flex;
  width: 70px;
  height: 70px;
  border-radius: 6px;
  position: absolute;
  top: -40px;

  i {
    color: #8bc34a;
    margin: auto;
    font-size: 24px;
  }
}
.icon-container-intervention {
  display: flex;
  width: 70px;
  height: 70px;
  border-radius: 6px;
  position: absolute;
  top: -40px;

  i {
    color: #e74c3c;
    margin: auto;
    font-size: 24px;
  }
}

.header-marge {
  justify-content: space-between;

  display: block;
}
.f-r {
  float: right;
}
.ng-select {
  text-align: left !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}
