.bs-callout-white {
  display: block;
  border-color: #ffffff !important;
  background-color: white;
  border-radius: 0.25rem;
  color: gray;
}
.bs-callout-white h1,
.bs-callout-white h2,
.bs-callout-white h3,
.bs-callout-white h4,
.bs-callout-white h5,
.bs-callout-white h6 {
  margin-top: 0;
  color: #ffffff;
}
.bs-callout-white p:last-child {
  margin-bottom: 0;
}
.bs-callout-white code,
.bs-callout-white .highlight {
  background-color: #fff;
}
.bs-callout-white.callout-transparent {
  display: block;
  border-color: #ffffff !important;
  background-color: transparent;
  border-radius: 0.25rem;
  color: gray;
}
.bs-callout-white.callout-transparent h1,
.bs-callout-white.callout-transparent h2,
.bs-callout-white.callout-transparent h3,
.bs-callout-white.callout-transparent h4,
.bs-callout-white.callout-transparent h5,
.bs-callout-white.callout-transparent h6 {
  margin-top: 0;
  color: #ffffff;
}
.bs-callout-white.callout-transparent p:last-child {
  margin-bottom: 0;
}
.bs-callout-white.callout-transparent code,
.bs-callout-white.callout-transparent .highlight {
  background-color: #fff;
}
.bs-callout-white .callout-arrow-left:before {
  border-left-color: #ffffff;
}
.bs-callout-white .callout-arrow-right:before {
  border-right-color: #ffffff;
}

.bs-callout-black {
  display: block;
  border-color: #000000 !important;
  background-color: #525252;
  border-radius: 0.25rem;
  color: black;
}
.bs-callout-black h1,
.bs-callout-black h2,
.bs-callout-black h3,
.bs-callout-black h4,
.bs-callout-black h5,
.bs-callout-black h6 {
  margin-top: 0;
  color: #000000;
}
.bs-callout-black p:last-child {
  margin-bottom: 0;
}
.bs-callout-black code,
.bs-callout-black .highlight {
  background-color: #fff;
}
.bs-callout-black.callout-transparent {
  display: block;
  border-color: #000000 !important;
  background-color: transparent;
  border-radius: 0.25rem;
  color: black;
}
.bs-callout-black.callout-transparent h1,
.bs-callout-black.callout-transparent h2,
.bs-callout-black.callout-transparent h3,
.bs-callout-black.callout-transparent h4,
.bs-callout-black.callout-transparent h5,
.bs-callout-black.callout-transparent h6 {
  margin-top: 0;
  color: #000000;
}
.bs-callout-black.callout-transparent p:last-child {
  margin-bottom: 0;
}
.bs-callout-black.callout-transparent code,
.bs-callout-black.callout-transparent .highlight {
  background-color: #fff;
}
.bs-callout-black .callout-arrow-left:before {
  border-left-color: #000000;
}
.bs-callout-black .callout-arrow-right:before {
  border-right-color: #000000;
}

.climacon-primary.climacon-lighten-5 .climacon_component-stroke {
  fill: #e0f6f6;
}

.climacon-primary.climacon-lighten-4 .climacon_component-stroke {
  fill: #b3e9ea;
}

.climacon-primary.climacon-lighten-3 .climacon_component-stroke {
  fill: #80dadc;
}

.climacon-primary.climacon-lighten-2 .climacon_component-stroke {
  fill: #4dcbcd;
}

.climacon-primary.climacon-lighten-1 .climacon_component-stroke {
  fill: #1b9db3;
}

.bs-callout-primary {
  display: block;
  border-color: #1b9db3 !important;
  background-color: #5cfcff;
  border-radius: 0.25rem;
  color: black;
}
.bs-callout-primary h1,
.bs-callout-primary h2,
.bs-callout-primary h3,
.bs-callout-primary h4,
.bs-callout-primary h5,
.bs-callout-primary h6 {
  margin-top: 0;
  color: #1b9db3;
}
.bs-callout-primary p:last-child {
  margin-bottom: 0;
}
.bs-callout-primary code,
.bs-callout-primary .highlight {
  background-color: #fff;
}
.bs-callout-primary.callout-transparent {
  display: block;
  border-color: #1b9db3 !important;
  background-color: transparent;
  border-radius: 0.25rem;
  color: black;
}
.bs-callout-primary.callout-transparent h1,
.bs-callout-primary.callout-transparent h2,
.bs-callout-primary.callout-transparent h3,
.bs-callout-primary.callout-transparent h4,
.bs-callout-primary.callout-transparent h5,
.bs-callout-primary.callout-transparent h6 {
  margin-top: 0;
  color: #1b9db3;
}
.bs-callout-primary.callout-transparent p:last-child {
  margin-bottom: 0;
}
.bs-callout-primary.callout-transparent code,
.bs-callout-primary.callout-transparent .highlight {
  background-color: #fff;
}
.bs-callout-primary .callout-arrow-left:before {
  border-left-color: #1b9db3;
}
.bs-callout-primary .callout-arrow-right:before {
  border-right-color: #1b9db3;
}

.climacon-primary.climacon-darken-1 .climacon_component-stroke {
  fill: #2e6da4;
}

.climacon-primary.climacon-darken-2 .climacon_component-stroke {
  fill: #2e6da4;
}

.climacon-primary.climacon-darken-3 .climacon_component-stroke {
  fill: #009da0;
}

.climacon-primary.climacon-darken-4 .climacon_component-stroke {
  fill: #008d91;
}

.climacon-primary.climacon-accent-1 .climacon_component-stroke {
  fill: #bdfdff;
}

.climacon-primary.climacon-accent-2 .climacon_component-stroke {
  fill: #8afbff;
}

.climacon-primary.climacon-accent-3 .climacon_component-stroke {
  fill: #57faff;
}

.climacon-primary.climacon-accent-4 .climacon_component-stroke {
  fill: #3df9ff;
}

.climacon-success.climacon-lighten-5 .climacon_component-stroke {
  fill: #e3faf3;
}

.climacon-success.climacon-lighten-4 .climacon_component-stroke {
  fill: #b9f2e1;
}

.climacon-success.climacon-lighten-3 .climacon_component-stroke {
  fill: #8be9cd;
}

.climacon-success.climacon-lighten-2 .climacon_component-stroke {
  fill: #5ce0b8;
}

.climacon-success.climacon-lighten-1 .climacon_component-stroke {
  fill: #39daa9;
}

.bs-callout-success {
  display: block;
  border-color: #16d39a !important;
  background-color: #98f4d8;
  border-radius: 0.25rem;
  color: black;
}
.bs-callout-success h1,
.bs-callout-success h2,
.bs-callout-success h3,
.bs-callout-success h4,
.bs-callout-success h5,
.bs-callout-success h6 {
  margin-top: 0;
  color: #16d39a;
}
.bs-callout-success p:last-child {
  margin-bottom: 0;
}
.bs-callout-success code,
.bs-callout-success .highlight {
  background-color: #fff;
}
.bs-callout-success.callout-transparent {
  display: block;
  border-color: #16d39a !important;
  background-color: transparent;
  border-radius: 0.25rem;
  color: black;
}
.bs-callout-success.callout-transparent h1,
.bs-callout-success.callout-transparent h2,
.bs-callout-success.callout-transparent h3,
.bs-callout-success.callout-transparent h4,
.bs-callout-success.callout-transparent h5,
.bs-callout-success.callout-transparent h6 {
  margin-top: 0;
  color: #16d39a;
}
.bs-callout-success.callout-transparent p:last-child {
  margin-bottom: 0;
}
.bs-callout-success.callout-transparent code,
.bs-callout-success.callout-transparent .highlight {
  background-color: #fff;
}
.bs-callout-success .callout-arrow-left:before {
  border-left-color: #16d39a;
}
.bs-callout-success .callout-arrow-right:before {
  border-right-color: #16d39a;
}

.climacon-success.climacon-darken-1 .climacon_component-stroke {
  fill: #13ce92;
}

.climacon-success.climacon-darken-2 .climacon_component-stroke {
  fill: #10c888;
}

.climacon-success.climacon-darken-3 .climacon_component-stroke {
  fill: #0cc27e;
}

.climacon-success.climacon-darken-4 .climacon_component-stroke {
  fill: #06b76c;
}

.climacon-success.climacon-accent-1 .climacon_component-stroke {
  fill: #e1fff1;
}

.climacon-success.climacon-accent-2 .climacon_component-stroke {
  fill: #aeffd9;
}

.climacon-success.climacon-accent-3 .climacon_component-stroke {
  fill: #7bffc1;
}

.climacon-success.climacon-accent-4 .climacon_component-stroke {
  fill: #62ffb5;
}

.climacon-info.climacon-lighten-5 .climacon_component-stroke {
  fill: #e6f9fc;
}

.climacon-info.climacon-lighten-4 .climacon_component-stroke {
  fill: #c0f0f7;
}

.climacon-info.climacon-lighten-3 .climacon_component-stroke {
  fill: #96e7f1;
}

.climacon-info.climacon-lighten-2 .climacon_component-stroke {
  fill: #6cddeb;
}

.climacon-info.climacon-lighten-1 .climacon_component-stroke {
  fill: #4dd5e7;
}

.bs-callout-info {
  display: block;
  border-color: #2dcee3 !important;
  background-color: #bdf0f6;
  border-radius: 0.25rem;
  color: #020e0f;
}
.bs-callout-info h1,
.bs-callout-info h2,
.bs-callout-info h3,
.bs-callout-info h4,
.bs-callout-info h5,
.bs-callout-info h6 {
  margin-top: 0;
  color: #2dcee3;
}
.bs-callout-info p:last-child {
  margin-bottom: 0;
}
.bs-callout-info code,
.bs-callout-info .highlight {
  background-color: #fff;
}
.bs-callout-info.callout-transparent {
  display: block;
  border-color: #2dcee3 !important;
  background-color: transparent;
  border-radius: 0.25rem;
  color: #020e0f;
}
.bs-callout-info.callout-transparent h1,
.bs-callout-info.callout-transparent h2,
.bs-callout-info.callout-transparent h3,
.bs-callout-info.callout-transparent h4,
.bs-callout-info.callout-transparent h5,
.bs-callout-info.callout-transparent h6 {
  margin-top: 0;
  color: #2dcee3;
}
.bs-callout-info.callout-transparent p:last-child {
  margin-bottom: 0;
}
.bs-callout-info.callout-transparent code,
.bs-callout-info.callout-transparent .highlight {
  background-color: #fff;
}
.bs-callout-info .callout-arrow-left:before {
  border-left-color: #2dcee3;
}
.bs-callout-info .callout-arrow-right:before {
  border-right-color: #2dcee3;
}

.climacon-info.climacon-darken-1 .climacon_component-stroke {
  fill: #28c9e0;
}

.climacon-info.climacon-darken-2 .climacon_component-stroke {
  fill: #22c2dc;
}

.climacon-info.climacon-darken-3 .climacon_component-stroke {
  fill: #1cbcd8;
}

.climacon-info.climacon-darken-4 .climacon_component-stroke {
  fill: #11b0d0;
}

.climacon-info.climacon-accent-1 .climacon_component-stroke {
  fill: #feffff;
}

.climacon-info.climacon-accent-2 .climacon_component-stroke {
  fill: #cbf5ff;
}

.climacon-info.climacon-accent-3 .climacon_component-stroke {
  fill: #98ecff;
}

.climacon-info.climacon-accent-4 .climacon_component-stroke {
  fill: #7fe7ff;
}

.climacon-warning.climacon-lighten-5 .climacon_component-stroke {
  fill: #fff5ef;
}

.climacon-warning.climacon-lighten-4 .climacon_component-stroke {
  fill: #ffe5d8;
}

.climacon-warning.climacon-lighten-3 .climacon_component-stroke {
  fill: #ffd4be;
}

.climacon-warning.climacon-lighten-2 .climacon_component-stroke {
  fill: #ffc2a4;
}

.climacon-warning.climacon-lighten-1 .climacon_component-stroke {
  fill: #ffb591;
}

.bs-callout-warning {
  display: block;
  border-color: #ffa87d !important;
  background-color: white;
  border-radius: 0.25rem;
  color: #7d2900;
}
.bs-callout-warning h1,
.bs-callout-warning h2,
.bs-callout-warning h3,
.bs-callout-warning h4,
.bs-callout-warning h5,
.bs-callout-warning h6 {
  margin-top: 0;
  color: #ffa87d;
}
.bs-callout-warning p:last-child {
  margin-bottom: 0;
}
.bs-callout-warning code,
.bs-callout-warning .highlight {
  background-color: #fff;
}
.bs-callout-warning.callout-transparent {
  display: block;
  border-color: #ffa87d !important;
  background-color: transparent;
  border-radius: 0.25rem;
  color: #7d2900;
}
.bs-callout-warning.callout-transparent h1,
.bs-callout-warning.callout-transparent h2,
.bs-callout-warning.callout-transparent h3,
.bs-callout-warning.callout-transparent h4,
.bs-callout-warning.callout-transparent h5,
.bs-callout-warning.callout-transparent h6 {
  margin-top: 0;
  color: #ffa87d;
}
.bs-callout-warning.callout-transparent p:last-child {
  margin-bottom: 0;
}
.bs-callout-warning.callout-transparent code,
.bs-callout-warning.callout-transparent .highlight {
  background-color: #fff;
}
.bs-callout-warning .callout-arrow-left:before {
  border-left-color: #ffa87d;
}
.bs-callout-warning .callout-arrow-right:before {
  border-right-color: #ffa87d;
}

.climacon-warning.climacon-darken-1 .climacon_component-stroke {
  fill: #ffa075;
}

.climacon-warning.climacon-darken-2 .climacon_component-stroke {
  fill: #ff976a;
}

.climacon-warning.climacon-darken-3 .climacon_component-stroke {
  fill: #ff8d60;
}

.climacon-warning.climacon-darken-4 .climacon_component-stroke {
  fill: #ff7d4d;
}

.climacon-warning.climacon-accent-1 .climacon_component-stroke {
  fill: #fff5ef;
}

.climacon-warning.climacon-accent-2 .climacon_component-stroke {
  fill: #ffe5d8;
}

.climacon-warning.climacon-accent-3 .climacon_component-stroke {
  fill: #fff6f3;
}

.climacon-warning.climacon-accent-4 .climacon_component-stroke {
  fill: #ffe3da;
}

.climacon-danger.climacon-lighten-5 .climacon_component-stroke {
  fill: #ffeef1;
}

.climacon-danger.climacon-lighten-4 .climacon_component-stroke {
  fill: #ffd6db;
}

.climacon-danger.climacon-lighten-3 .climacon_component-stroke {
  fill: #ffbac4;
}

.climacon-danger.climacon-lighten-2 .climacon_component-stroke {
  fill: #ff9eac;
}

.climacon-danger.climacon-lighten-1 .climacon_component-stroke {
  fill: #ff8a9a;
}

.bs-callout-danger {
  display: block;
  border-color: #ff7588 !important;
  background-color: white;
  border-radius: 0.25rem;
  color: #750010;
}
.bs-callout-danger h1,
.bs-callout-danger h2,
.bs-callout-danger h3,
.bs-callout-danger h4,
.bs-callout-danger h5,
.bs-callout-danger h6 {
  margin-top: 0;
  color: #ff7588;
}
.bs-callout-danger p:last-child {
  margin-bottom: 0;
}
.bs-callout-danger code,
.bs-callout-danger .highlight {
  background-color: #fff;
}
.bs-callout-danger.callout-transparent {
  display: block;
  border-color: #ff7588 !important;
  background-color: transparent;
  border-radius: 0.25rem;
  color: #750010;
}
.bs-callout-danger.callout-transparent h1,
.bs-callout-danger.callout-transparent h2,
.bs-callout-danger.callout-transparent h3,
.bs-callout-danger.callout-transparent h4,
.bs-callout-danger.callout-transparent h5,
.bs-callout-danger.callout-transparent h6 {
  margin-top: 0;
  color: #ff7588;
}
.bs-callout-danger.callout-transparent p:last-child {
  margin-bottom: 0;
}
.bs-callout-danger.callout-transparent code,
.bs-callout-danger.callout-transparent .highlight {
  background-color: #fff;
}
.bs-callout-danger .callout-arrow-left:before {
  border-left-color: #ff7588;
}
.bs-callout-danger .callout-arrow-right:before {
  border-right-color: #ff7588;
}

.climacon-danger.climacon-darken-1 .climacon_component-stroke {
  fill: #ff6d80;
}

.climacon-danger.climacon-darken-2 .climacon_component-stroke {
  fill: #ff6275;
}

.climacon-danger.climacon-darken-3 .climacon_component-stroke {
  fill: #ff586b;
}

.climacon-danger.climacon-darken-4 .climacon_component-stroke {
  fill: #ff4558;
}

.climacon-danger.climacon-accent-1 .climacon_component-stroke {
  fill: #ffeef1;
}

.climacon-danger.climacon-accent-2 .climacon_component-stroke {
  fill: #ffd6db;
}

.climacon-danger.climacon-accent-3 .climacon_component-stroke {
  fill: #ffecee;
}

.climacon-danger.climacon-accent-4 .climacon_component-stroke {
  fill: #ffd3d7;
}

.climacon-red.climacon-lighten-5 .climacon_component-stroke {
  fill: #ffebee;
}

.climacon-red.climacon-lighten-4 .climacon_component-stroke {
  fill: #ffcdd2;
}

.climacon-red.climacon-lighten-3 .climacon_component-stroke {
  fill: #ef9a9a;
}

.climacon-red.climacon-lighten-2 .climacon_component-stroke {
  fill: #e57373;
}

.climacon-red.climacon-lighten-1 .climacon_component-stroke {
  fill: #ef5350;
}

.bs-callout-red {
  display: block;
  border-color: #f44336 !important;
  background-color: #fcd4d1;
  border-radius: 0.25rem;
  color: #290502;
}
.bs-callout-red h1,
.bs-callout-red h2,
.bs-callout-red h3,
.bs-callout-red h4,
.bs-callout-red h5,
.bs-callout-red h6 {
  margin-top: 0;
  color: #f44336;
}
.bs-callout-red p:last-child {
  margin-bottom: 0;
}
.bs-callout-red code,
.bs-callout-red .highlight {
  background-color: #fff;
}
.bs-callout-red.callout-transparent {
  display: block;
  border-color: #f44336 !important;
  background-color: transparent;
  border-radius: 0.25rem;
  color: #290502;
}
.bs-callout-red.callout-transparent h1,
.bs-callout-red.callout-transparent h2,
.bs-callout-red.callout-transparent h3,
.bs-callout-red.callout-transparent h4,
.bs-callout-red.callout-transparent h5,
.bs-callout-red.callout-transparent h6 {
  margin-top: 0;
  color: #f44336;
}
.bs-callout-red.callout-transparent p:last-child {
  margin-bottom: 0;
}
.bs-callout-red.callout-transparent code,
.bs-callout-red.callout-transparent .highlight {
  background-color: #fff;
}
.bs-callout-red .callout-arrow-left:before {
  border-left-color: #f44336;
}
.bs-callout-red .callout-arrow-right:before {
  border-right-color: #f44336;
}

.climacon-red.climacon-darken-1 .climacon_component-stroke {
  fill: #e53935;
}

.climacon-red.climacon-darken-2 .climacon_component-stroke {
  fill: #d32f2f;
}

.climacon-red.climacon-darken-3 .climacon_component-stroke {
  fill: #c62828;
}

.climacon-red.climacon-darken-4 .climacon_component-stroke {
  fill: #b71c1c;
}

.climacon-red.climacon-accent-1 .climacon_component-stroke {
  fill: #ff8a80;
}

.climacon-red.climacon-accent-2 .climacon_component-stroke {
  fill: #ff5252;
}

.climacon-red.climacon-accent-3 .climacon_component-stroke {
  fill: #ff1744;
}

.climacon-red.climacon-accent-4 .climacon_component-stroke {
  fill: #d50000;
}

.climacon-pink.climacon-lighten-5 .climacon_component-stroke {
  fill: #fce4ec;
}

.climacon-pink.climacon-lighten-4 .climacon_component-stroke {
  fill: #f8bbd0;
}

.climacon-pink.climacon-lighten-3 .climacon_component-stroke {
  fill: #f48fb1;
}

.climacon-pink.climacon-lighten-2 .climacon_component-stroke {
  fill: #f06292;
}

.climacon-pink.climacon-lighten-1 .climacon_component-stroke {
  fill: #ec407a;
}

.bs-callout-pink {
  display: block;
  border-color: #e91e63 !important;
  background-color: #f8b3ca;
  border-radius: 0.25rem;
  color: #070103;
}
.bs-callout-pink h1,
.bs-callout-pink h2,
.bs-callout-pink h3,
.bs-callout-pink h4,
.bs-callout-pink h5,
.bs-callout-pink h6 {
  margin-top: 0;
  color: #e91e63;
}
.bs-callout-pink p:last-child {
  margin-bottom: 0;
}
.bs-callout-pink code,
.bs-callout-pink .highlight {
  background-color: #fff;
}
.bs-callout-pink.callout-transparent {
  display: block;
  border-color: #e91e63 !important;
  background-color: transparent;
  border-radius: 0.25rem;
  color: #070103;
}
.bs-callout-pink.callout-transparent h1,
.bs-callout-pink.callout-transparent h2,
.bs-callout-pink.callout-transparent h3,
.bs-callout-pink.callout-transparent h4,
.bs-callout-pink.callout-transparent h5,
.bs-callout-pink.callout-transparent h6 {
  margin-top: 0;
  color: #e91e63;
}
.bs-callout-pink.callout-transparent p:last-child {
  margin-bottom: 0;
}
.bs-callout-pink.callout-transparent code,
.bs-callout-pink.callout-transparent .highlight {
  background-color: #fff;
}
.bs-callout-pink .callout-arrow-left:before {
  border-left-color: #e91e63;
}
.bs-callout-pink .callout-arrow-right:before {
  border-right-color: #e91e63;
}

.climacon-pink.climacon-darken-1 .climacon_component-stroke {
  fill: #d81b60;
}

.climacon-pink.climacon-darken-2 .climacon_component-stroke {
  fill: #c2185b;
}

.climacon-pink.climacon-darken-3 .climacon_component-stroke {
  fill: #ad1457;
}

.climacon-pink.climacon-darken-4 .climacon_component-stroke {
  fill: #880e4f;
}

.climacon-pink.climacon-accent-1 .climacon_component-stroke {
  fill: #ff80ab;
}

.climacon-pink.climacon-accent-2 .climacon_component-stroke {
  fill: #ff4081;
}

.climacon-pink.climacon-accent-3 .climacon_component-stroke {
  fill: #f50057;
}

.climacon-pink.climacon-accent-4 .climacon_component-stroke {
  fill: #c51162;
}

.climacon-purple.climacon-lighten-5 .climacon_component-stroke {
  fill: #f3e5f5;
}

.climacon-purple.climacon-lighten-4 .climacon_component-stroke {
  fill: #e1bee7;
}

.climacon-purple.climacon-lighten-3 .climacon_component-stroke {
  fill: #ce93d8;
}

.climacon-purple.climacon-lighten-2 .climacon_component-stroke {
  fill: #ba68c8;
}

.climacon-purple.climacon-lighten-1 .climacon_component-stroke {
  fill: #ab47bc;
}

.bs-callout-purple {
  display: block;
  border-color: #9c27b0 !important;
  background-color: #db93e7;
  border-radius: 0.25rem;
  color: black;
}
.bs-callout-purple h1,
.bs-callout-purple h2,
.bs-callout-purple h3,
.bs-callout-purple h4,
.bs-callout-purple h5,
.bs-callout-purple h6 {
  margin-top: 0;
  color: #9c27b0;
}
.bs-callout-purple p:last-child {
  margin-bottom: 0;
}
.bs-callout-purple code,
.bs-callout-purple .highlight {
  background-color: #fff;
}
.bs-callout-purple.callout-transparent {
  display: block;
  border-color: #9c27b0 !important;
  background-color: transparent;
  border-radius: 0.25rem;
  color: black;
}
.bs-callout-purple.callout-transparent h1,
.bs-callout-purple.callout-transparent h2,
.bs-callout-purple.callout-transparent h3,
.bs-callout-purple.callout-transparent h4,
.bs-callout-purple.callout-transparent h5,
.bs-callout-purple.callout-transparent h6 {
  margin-top: 0;
  color: #9c27b0;
}
.bs-callout-purple.callout-transparent p:last-child {
  margin-bottom: 0;
}
.bs-callout-purple.callout-transparent code,
.bs-callout-purple.callout-transparent .highlight {
  background-color: #fff;
}
.bs-callout-purple .callout-arrow-left:before {
  border-left-color: #9c27b0;
}
.bs-callout-purple .callout-arrow-right:before {
  border-right-color: #9c27b0;
}

.climacon-purple.climacon-darken-1 .climacon_component-stroke {
  fill: #8e24aa;
}

.climacon-purple.climacon-darken-2 .climacon_component-stroke {
  fill: #7b1fa2;
}

.climacon-purple.climacon-darken-3 .climacon_component-stroke {
  fill: #6a1b9a;
}

.climacon-purple.climacon-darken-4 .climacon_component-stroke {
  fill: #4a148c;
}

.climacon-purple.climacon-accent-1 .climacon_component-stroke {
  fill: #ea80fc;
}

.climacon-purple.climacon-accent-2 .climacon_component-stroke {
  fill: #e040fb;
}

.climacon-purple.climacon-accent-3 .climacon_component-stroke {
  fill: #d500f9;
}

.climacon-purple.climacon-accent-4 .climacon_component-stroke {
  fill: #dd00ff;
}

.climacon-blue.climacon-lighten-5 .climacon_component-stroke {
  fill: #e3f2fd;
}

.climacon-blue.climacon-lighten-4 .climacon_component-stroke {
  fill: #bbdefb;
}

.climacon-blue.climacon-lighten-3 .climacon_component-stroke {
  fill: #90caf9;
}

.climacon-blue.climacon-lighten-2 .climacon_component-stroke {
  fill: #64b5f6;
}

.climacon-blue.climacon-lighten-1 .climacon_component-stroke {
  fill: #42a5f5;
}

.bs-callout-blue {
  display: block;
  border-color: #1b9db3 !important;
  background-color: #bcdffb;
  border-radius: 0.25rem;
  color: #010c14;
}
.bs-callout-blue h1,
.bs-callout-blue h2,
.bs-callout-blue h3,
.bs-callout-blue h4,
.bs-callout-blue h5,
.bs-callout-blue h6 {
  margin-top: 0;
  color: #1b9db3;
}
.bs-callout-blue p:last-child {
  margin-bottom: 0;
}
.bs-callout-blue code,
.bs-callout-blue .highlight {
  background-color: #fff;
}
.bs-callout-blue.callout-transparent {
  display: block;
  border-color: #1b9db3 !important;
  background-color: transparent;
  border-radius: 0.25rem;
  color: #010c14;
}
.bs-callout-blue.callout-transparent h1,
.bs-callout-blue.callout-transparent h2,
.bs-callout-blue.callout-transparent h3,
.bs-callout-blue.callout-transparent h4,
.bs-callout-blue.callout-transparent h5,
.bs-callout-blue.callout-transparent h6 {
  margin-top: 0;
  color: #1b9db3;
}
.bs-callout-blue.callout-transparent p:last-child {
  margin-bottom: 0;
}
.bs-callout-blue.callout-transparent code,
.bs-callout-blue.callout-transparent .highlight {
  background-color: #fff;
}
.bs-callout-blue .callout-arrow-left:before {
  border-left-color: #1b9db3;
}
.bs-callout-blue .callout-arrow-right:before {
  border-right-color: #1b9db3;
}

.climacon-blue.climacon-darken-1 .climacon_component-stroke {
  fill: #1e88e5;
}

.climacon-blue.climacon-darken-2 .climacon_component-stroke {
  fill: #1976d2;
}

.climacon-blue.climacon-darken-3 .climacon_component-stroke {
  fill: #1565c0;
}

.climacon-blue.climacon-darken-4 .climacon_component-stroke {
  fill: #0d47a1;
}

.climacon-blue.climacon-accent-1 .climacon_component-stroke {
  fill: #82b1ff;
}

.climacon-blue.climacon-accent-2 .climacon_component-stroke {
  fill: #448aff;
}

.climacon-blue.climacon-accent-3 .climacon_component-stroke {
  fill: #2979ff;
}

.climacon-blue.climacon-accent-4 .climacon_component-stroke {
  fill: #2962ff;
}

.climacon-cyan.climacon-lighten-5 .climacon_component-stroke {
  fill: #e0f7fa;
}

.climacon-cyan.climacon-lighten-4 .climacon_component-stroke {
  fill: #b2ebf2;
}

.climacon-cyan.climacon-lighten-3 .climacon_component-stroke {
  fill: #80deea;
}

.climacon-cyan.climacon-lighten-2 .climacon_component-stroke {
  fill: #4dd0e1;
}

.climacon-cyan.climacon-lighten-1 .climacon_component-stroke {
  fill: #26c6da;
}

.bs-callout-cyan {
  display: block;
  border-color: #00bcd4 !important;
  background-color: #78f0ff;
  border-radius: 0.25rem;
  color: black;
}
.bs-callout-cyan h1,
.bs-callout-cyan h2,
.bs-callout-cyan h3,
.bs-callout-cyan h4,
.bs-callout-cyan h5,
.bs-callout-cyan h6 {
  margin-top: 0;
  color: #00bcd4;
}
.bs-callout-cyan p:last-child {
  margin-bottom: 0;
}
.bs-callout-cyan code,
.bs-callout-cyan .highlight {
  background-color: #fff;
}
.bs-callout-cyan.callout-transparent {
  display: block;
  border-color: #00bcd4 !important;
  background-color: transparent;
  border-radius: 0.25rem;
  color: black;
}
.bs-callout-cyan.callout-transparent h1,
.bs-callout-cyan.callout-transparent h2,
.bs-callout-cyan.callout-transparent h3,
.bs-callout-cyan.callout-transparent h4,
.bs-callout-cyan.callout-transparent h5,
.bs-callout-cyan.callout-transparent h6 {
  margin-top: 0;
  color: #00bcd4;
}
.bs-callout-cyan.callout-transparent p:last-child {
  margin-bottom: 0;
}
.bs-callout-cyan.callout-transparent code,
.bs-callout-cyan.callout-transparent .highlight {
  background-color: #fff;
}
.bs-callout-cyan .callout-arrow-left:before {
  border-left-color: #00bcd4;
}
.bs-callout-cyan .callout-arrow-right:before {
  border-right-color: #00bcd4;
}

.climacon-cyan.climacon-darken-1 .climacon_component-stroke {
  fill: #00acc1;
}

.climacon-cyan.climacon-darken-2 .climacon_component-stroke {
  fill: #0097a7;
}

.climacon-cyan.climacon-darken-3 .climacon_component-stroke {
  fill: #00838f;
}

.climacon-cyan.climacon-darken-4 .climacon_component-stroke {
  fill: #006064;
}

.climacon-cyan.climacon-accent-1 .climacon_component-stroke {
  fill: #84ffff;
}

.climacon-cyan.climacon-accent-2 .climacon_component-stroke {
  fill: #18ffff;
}

.climacon-cyan.climacon-accent-3 .climacon_component-stroke {
  fill: #00e5ff;
}

.climacon-cyan.climacon-accent-4 .climacon_component-stroke {
  fill: #00b8d4;
}

.climacon-teal.climacon-lighten-5 .climacon_component-stroke {
  fill: #e0f2f1;
}

.climacon-teal.climacon-lighten-4 .climacon_component-stroke {
  fill: #b2dfdb;
}

.climacon-teal.climacon-lighten-3 .climacon_component-stroke {
  fill: #80cbc4;
}

.climacon-teal.climacon-lighten-2 .climacon_component-stroke {
  fill: #4db6ac;
}

.climacon-teal.climacon-lighten-1 .climacon_component-stroke {
  fill: #26a69a;
}

.bs-callout-teal {
  display: block;
  border-color: #009688 !important;
  background-color: #3affed;
  border-radius: 0.25rem;
  color: black;
}
.bs-callout-teal h1,
.bs-callout-teal h2,
.bs-callout-teal h3,
.bs-callout-teal h4,
.bs-callout-teal h5,
.bs-callout-teal h6 {
  margin-top: 0;
  color: #009688;
}
.bs-callout-teal p:last-child {
  margin-bottom: 0;
}
.bs-callout-teal code,
.bs-callout-teal .highlight {
  background-color: #fff;
}
.bs-callout-teal.callout-transparent {
  display: block;
  border-color: #009688 !important;
  background-color: transparent;
  border-radius: 0.25rem;
  color: black;
}
.bs-callout-teal.callout-transparent h1,
.bs-callout-teal.callout-transparent h2,
.bs-callout-teal.callout-transparent h3,
.bs-callout-teal.callout-transparent h4,
.bs-callout-teal.callout-transparent h5,
.bs-callout-teal.callout-transparent h6 {
  margin-top: 0;
  color: #009688;
}
.bs-callout-teal.callout-transparent p:last-child {
  margin-bottom: 0;
}
.bs-callout-teal.callout-transparent code,
.bs-callout-teal.callout-transparent .highlight {
  background-color: #fff;
}
.bs-callout-teal .callout-arrow-left:before {
  border-left-color: #009688;
}
.bs-callout-teal .callout-arrow-right:before {
  border-right-color: #009688;
}

.climacon-teal.climacon-darken-1 .climacon_component-stroke {
  fill: #00897b;
}

.climacon-teal.climacon-darken-2 .climacon_component-stroke {
  fill: #00796b;
}

.climacon-teal.climacon-darken-3 .climacon_component-stroke {
  fill: #00695c;
}

.climacon-teal.climacon-darken-4 .climacon_component-stroke {
  fill: #004d40;
}

.climacon-teal.climacon-accent-1 .climacon_component-stroke {
  fill: #a7ffeb;
}

.climacon-teal.climacon-accent-2 .climacon_component-stroke {
  fill: #64ffda;
}

.climacon-teal.climacon-accent-3 .climacon_component-stroke {
  fill: #1de9b6;
}

.climacon-teal.climacon-accent-4 .climacon_component-stroke {
  fill: #00bfa5;
}

.climacon-yellow.climacon-lighten-5 .climacon_component-stroke {
  fill: #fffde7;
}

.climacon-yellow.climacon-lighten-4 .climacon_component-stroke {
  fill: #fff9c4;
}

.climacon-yellow.climacon-lighten-3 .climacon_component-stroke {
  fill: #fff59d;
}

.climacon-yellow.climacon-lighten-2 .climacon_component-stroke {
  fill: #fff176;
}

.climacon-yellow.climacon-lighten-1 .climacon_component-stroke {
  fill: #ffee58;
}

.bs-callout-yellow {
  display: block;
  border-color: #ffeb3b !important;
  background-color: #fffcde;
  border-radius: 0.25rem;
  color: #3b3500;
}
.bs-callout-yellow h1,
.bs-callout-yellow h2,
.bs-callout-yellow h3,
.bs-callout-yellow h4,
.bs-callout-yellow h5,
.bs-callout-yellow h6 {
  margin-top: 0;
  color: #ffeb3b;
}
.bs-callout-yellow p:last-child {
  margin-bottom: 0;
}
.bs-callout-yellow code,
.bs-callout-yellow .highlight {
  background-color: #fff;
}
.bs-callout-yellow.callout-transparent {
  display: block;
  border-color: #ffeb3b !important;
  background-color: transparent;
  border-radius: 0.25rem;
  color: #3b3500;
}
.bs-callout-yellow.callout-transparent h1,
.bs-callout-yellow.callout-transparent h2,
.bs-callout-yellow.callout-transparent h3,
.bs-callout-yellow.callout-transparent h4,
.bs-callout-yellow.callout-transparent h5,
.bs-callout-yellow.callout-transparent h6 {
  margin-top: 0;
  color: #ffeb3b;
}
.bs-callout-yellow.callout-transparent p:last-child {
  margin-bottom: 0;
}
.bs-callout-yellow.callout-transparent code,
.bs-callout-yellow.callout-transparent .highlight {
  background-color: #fff;
}
.bs-callout-yellow .callout-arrow-left:before {
  border-left-color: #ffeb3b;
}
.bs-callout-yellow .callout-arrow-right:before {
  border-right-color: #ffeb3b;
}

.climacon-yellow.climacon-darken-1 .climacon_component-stroke {
  fill: #fdd835;
}

.climacon-yellow.climacon-darken-2 .climacon_component-stroke {
  fill: #fbc02d;
}

.climacon-yellow.climacon-darken-3 .climacon_component-stroke {
  fill: #f9a825;
}

.climacon-yellow.climacon-darken-4 .climacon_component-stroke {
  fill: #f57f17;
}

.climacon-yellow.climacon-accent-1 .climacon_component-stroke {
  fill: #ffff8d;
}

.climacon-yellow.climacon-accent-2 .climacon_component-stroke {
  fill: #ffff00;
}

.climacon-yellow.climacon-accent-3 .climacon_component-stroke {
  fill: #ffea00;
}

.climacon-yellow.climacon-accent-4 .climacon_component-stroke {
  fill: #ffd600;
}

.climacon-amber.climacon-lighten-5 .climacon_component-stroke {
  fill: #fff8e1;
}

.climacon-amber.climacon-lighten-4 .climacon_component-stroke {
  fill: #ffecb3;
}

.climacon-amber.climacon-lighten-3 .climacon_component-stroke {
  fill: #ffe082;
}

.climacon-amber.climacon-lighten-2 .climacon_component-stroke {
  fill: #ffd54f;
}

.climacon-amber.climacon-lighten-1 .climacon_component-stroke {
  fill: #ffca28;
}

.bs-callout-amber {
  display: block;
  border-color: #ffc107 !important;
  background-color: #ffeaaa;
  border-radius: 0.25rem;
  color: #070500;
}
.bs-callout-amber h1,
.bs-callout-amber h2,
.bs-callout-amber h3,
.bs-callout-amber h4,
.bs-callout-amber h5,
.bs-callout-amber h6 {
  margin-top: 0;
  color: #ffc107;
}
.bs-callout-amber p:last-child {
  margin-bottom: 0;
}
.bs-callout-amber code,
.bs-callout-amber .highlight {
  background-color: #fff;
}
.bs-callout-amber.callout-transparent {
  display: block;
  border-color: #ffc107 !important;
  background-color: transparent;
  border-radius: 0.25rem;
  color: #070500;
}
.bs-callout-amber.callout-transparent h1,
.bs-callout-amber.callout-transparent h2,
.bs-callout-amber.callout-transparent h3,
.bs-callout-amber.callout-transparent h4,
.bs-callout-amber.callout-transparent h5,
.bs-callout-amber.callout-transparent h6 {
  margin-top: 0;
  color: #ffc107;
}
.bs-callout-amber.callout-transparent p:last-child {
  margin-bottom: 0;
}
.bs-callout-amber.callout-transparent code,
.bs-callout-amber.callout-transparent .highlight {
  background-color: #fff;
}
.bs-callout-amber .callout-arrow-left:before {
  border-left-color: #ffc107;
}
.bs-callout-amber .callout-arrow-right:before {
  border-right-color: #ffc107;
}

.climacon-amber.climacon-darken-1 .climacon_component-stroke {
  fill: #ffb300;
}

.climacon-amber.climacon-darken-2 .climacon_component-stroke {
  fill: #ffa000;
}

.climacon-amber.climacon-darken-3 .climacon_component-stroke {
  fill: #ff8f00;
}

.climacon-amber.climacon-darken-4 .climacon_component-stroke {
  fill: #ff6f00;
}

.climacon-amber.climacon-accent-1 .climacon_component-stroke {
  fill: #ffe57f;
}

.climacon-amber.climacon-accent-2 .climacon_component-stroke {
  fill: #ffd740;
}

.climacon-amber.climacon-accent-3 .climacon_component-stroke {
  fill: #ffc400;
}

.climacon-amber.climacon-accent-4 .climacon_component-stroke {
  fill: #ffab00;
}

.climacon-blue-grey.climacon-lighten-5 .climacon_component-stroke {
  fill: #eceff1;
}

.climacon-blue-grey.climacon-lighten-4 .climacon_component-stroke {
  fill: #cfd8dc;
}

.climacon-blue-grey.climacon-lighten-3 .climacon_component-stroke {
  fill: #b0bec5;
}

.climacon-blue-grey.climacon-lighten-2 .climacon_component-stroke {
  fill: #90a4ae;
}

.climacon-blue-grey.climacon-lighten-1 .climacon_component-stroke {
  fill: #78909c;
}

.bs-callout-blue-grey {
  display: block;
  border-color: #607d8b !important;
  background-color: #bdcbd1;
  border-radius: 0.25rem;
  color: black;
}
.bs-callout-blue-grey h1,
.bs-callout-blue-grey h2,
.bs-callout-blue-grey h3,
.bs-callout-blue-grey h4,
.bs-callout-blue-grey h5,
.bs-callout-blue-grey h6 {
  margin-top: 0;
  color: #607d8b;
}
.bs-callout-blue-grey p:last-child {
  margin-bottom: 0;
}
.bs-callout-blue-grey code,
.bs-callout-blue-grey .highlight {
  background-color: #fff;
}
.bs-callout-blue-grey.callout-transparent {
  display: block;
  border-color: #607d8b !important;
  background-color: transparent;
  border-radius: 0.25rem;
  color: black;
}
.bs-callout-blue-grey.callout-transparent h1,
.bs-callout-blue-grey.callout-transparent h2,
.bs-callout-blue-grey.callout-transparent h3,
.bs-callout-blue-grey.callout-transparent h4,
.bs-callout-blue-grey.callout-transparent h5,
.bs-callout-blue-grey.callout-transparent h6 {
  margin-top: 0;
  color: #607d8b;
}
.bs-callout-blue-grey.callout-transparent p:last-child {
  margin-bottom: 0;
}
.bs-callout-blue-grey.callout-transparent code,
.bs-callout-blue-grey.callout-transparent .highlight {
  background-color: #fff;
}
.bs-callout-blue-grey .callout-arrow-left:before {
  border-left-color: #607d8b;
}
.bs-callout-blue-grey .callout-arrow-right:before {
  border-right-color: #607d8b;
}

.climacon-blue-grey.climacon-darken-1 .climacon_component-stroke {
  fill: #546e7a;
}

.climacon-blue-grey.climacon-darken-2 .climacon_component-stroke {
  fill: #455a64;
}

.climacon-blue-grey.climacon-darken-3 .climacon_component-stroke {
  fill: #37474f;
}

.climacon-blue-grey.climacon-darken-4 .climacon_component-stroke {
  fill: #263238;
}

.climacon-grey-blue.climacon-lighten-5 .climacon_component-stroke {
  fill: #eceff1;
}

.climacon-grey-blue.climacon-lighten-4 .climacon_component-stroke {
  fill: #cfd8dc;
}

.climacon-grey-blue.climacon-lighten-3 .climacon_component-stroke {
  fill: #b0bec5;
}

.climacon-grey-blue.climacon-lighten-2 .climacon_component-stroke {
  fill: #6f85ad;
}

.climacon-grey-blue.climacon-lighten-1 .climacon_component-stroke {
  fill: #78909c;
}

.bs-callout-grey-blue {
  display: block;
  border-color: #1b2942 !important;
  background-color: #4b71b5;
  border-radius: 0.25rem;
  color: black;
}
.bs-callout-grey-blue h1,
.bs-callout-grey-blue h2,
.bs-callout-grey-blue h3,
.bs-callout-grey-blue h4,
.bs-callout-grey-blue h5,
.bs-callout-grey-blue h6 {
  margin-top: 0;
  color: #1b2942;
}
.bs-callout-grey-blue p:last-child {
  margin-bottom: 0;
}
.bs-callout-grey-blue code,
.bs-callout-grey-blue .highlight {
  background-color: #fff;
}
.bs-callout-grey-blue.callout-transparent {
  display: block;
  border-color: #1b2942 !important;
  background-color: transparent;
  border-radius: 0.25rem;
  color: black;
}
.bs-callout-grey-blue.callout-transparent h1,
.bs-callout-grey-blue.callout-transparent h2,
.bs-callout-grey-blue.callout-transparent h3,
.bs-callout-grey-blue.callout-transparent h4,
.bs-callout-grey-blue.callout-transparent h5,
.bs-callout-grey-blue.callout-transparent h6 {
  margin-top: 0;
  color: #1b2942;
}
.bs-callout-grey-blue.callout-transparent p:last-child {
  margin-bottom: 0;
}
.bs-callout-grey-blue.callout-transparent code,
.bs-callout-grey-blue.callout-transparent .highlight {
  background-color: #fff;
}
.bs-callout-grey-blue .callout-arrow-left:before {
  border-left-color: #1b2942;
}
.bs-callout-grey-blue .callout-arrow-right:before {
  border-right-color: #1b2942;
}

.climacon-grey-blue.climacon-darken-1 .climacon_component-stroke {
  fill: #546e7a;
}

.climacon-grey-blue.climacon-darken-2 .climacon_component-stroke {
  fill: #404e67;
}

.climacon-grey-blue.climacon-darken-3 .climacon_component-stroke {
  fill: #37474f;
}

.climacon-grey-blue.climacon-darken-4 .climacon_component-stroke {
  fill: #263238;
}

.climacon-shades.climacon-black .climacon_component-stroke {
  fill: #000000;
}

.climacon-shades.climacon-white .climacon_component-stroke {
  fill: #ffffff;
}

.climacon-shades.climacon-transparent .climacon_component-stroke {
  fill: transparent;
}
