<div class="container-fuild">
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-bordered table-acrticles">
          <thead>
            <tr class="text-center">


              <th>{{ 'labels.description' | translate }}</th>
              <th>{{ 'labels.quantity' | translate }}</th>
              <th>{{ 'labels.prixHT' | translate }}</th>
              <th>{{ 'labels.prixTTC' | translate }}</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let article of articles">
                <td>{{article?.product.description}}</td>
                <td>{{article?.product.quantity}}</td>
                <td>{{article?.product.totalHT | RoudingNumber | ShowCurrency}}</td>
                <td>{{article?.product.totalTTC | RoudingNumber | ShowCurrency}}</td>
            </tr>

            <tr *ngIf="articles?.length == 0" class="text-center">
              <td colspan="10"> {{ 'labels.msgEmptyTable' | translate }} </td>
            </tr>
          </tbody>
        </table>
        <div class="col-lg-7 col-md-12 col-sm-12 offset-lg-5">
          <table class="table table-bordered">
            <tr>
              <th>TOTAL GENERAL HT :
                <i class="ft-info" placement="bottom" ngbTooltip="Prorata {{prorata}}% inclus"></i>
              </th>
              <td class="text-right">{{ clalcTotalGeneral() | RoudingNumber | ShowCurrency}}</td>

            </tr>
            <tr>
              <th>
                Montant H.T :
                <i class="ft-info" placement="bottom" ngbTooltip="Total général HT - prorata inclus"></i>
              </th>
              <td class="text-right">{{ clalcMontantHt() | RoudingNumber | ShowCurrency}}</td>

            </tr>
            <tr>
              <th>Part Prorata <span *ngIf="readOnly">{{prorata}}</span> :
                <input type="number" min="0" class="form-control text-right input-calc" [(ngModel)]="prorata" id="prorata-selectPDepense-btn"
                  appInputRemoveDefaultZero *ngIf="!readOnly" />
              </th>
              <td class="text-right">
                {{ clalcPartProrata() | RoudingNumber | ShowCurrency}}

              </td>
            </tr>

            <tr *ngFor="let T of groupTVA()">
              <th>TVA {{ T.tva | RoudingNumber }} % :
              </th>
              <td class="text-right">
                {{ T.totalTVA | RoudingNumber | ShowCurrency }}
              </td>
            </tr>
            <tr>
              <th> PARTICIPATION PUC <span *ngIf="readOnly">{{puc}} %</span>
                <i class="ft-info" placement="bottom"
                  ngbTooltip="{{ puc }} % calculé sur H.T  ( Prorata non compris ) ( H.T - {{prorata}}%  * {{ puc/100 }} )"></i>
                <input type="number" min="0" class="form-control text-right input-calc" [(ngModel)]="puc" id="puc-selectPDepense-btn"
                  *ngIf="!readOnly" appInputRemoveDefaultZero />
              </th>
              <td class="text-right">
                {{ calcParticipationPuc() | RoudingNumber | ShowCurrency }}

              </td>
            </tr>
            <!-- <tr>

            <td class="text-right">
              <div class="row">
                <div class="col-6 Retenue-garantie">
                  Retenue de garantie {{ retenueGarantie }} %
                </div>
                <div class="col-6">
                  <div class="custom-control custom-checkbox" *ngIf="!readOnly">
                    <input type="checkbox" [(ngModel)]="retenueGarantie" class="custom-control-input"
                      >
                    <label *ngIf="retenueGarantie == 1" class="custom-control-label" for="projectinput3">Oui</label>
                    <label *ngIf="retenueGarantie == 0" class="custom-control-label" for="projectinput3">Non</label>
                  </div>
                  <ng-container *ngIf="readOnly">
                    <label *ngIf="retenueGarantie == 1" for="projectinput3">Oui</label>
                    <label *ngIf="retenueGarantie == 0" for="projectinput3">Non</label>
                  </ng-container>
                </div>
              </div>
            </td>
          </tr> -->
            <tr>
              <th>
                <div class="row">
                  <div class="col-3 Retenue-garantie"> <span class="display-price">Retenue de
                      garantie</span>
                    <!-- {{retenueGarantieValue}} % -->
                  </div>

                  <div class="col-3">
                    <div class="input-group">
                      <input type="number" class="form-control text-right" appInputRemoveDefaultZero id="retenueGarantieValue-factureAcopmte-btn"
                        [(ngModel)]="retenueGarantieValue" placeholder="delaiGarantie" [disabled]="readOnly"
                        *ngIf="retenueGarantie == 1" max="100" min="0">
                      <div class="input-group-prepend" *ngIf="retenueGarantie == 1">
                        <div class="input-group-text">%</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="row" *ngIf="retenueGarantie == 1">
                      <div class="col-5"> <input type="number" class="form-control text-right" appInputRemoveDefaultZero id="delaiGarantie-factureAcopmte-btn"
                          [(ngModel)]="delaiGarantie" placeholder="delai Garantie" [disabled]="readOnly" max="100"
                          min="0">
                      </div>
                      <div class="col-7" style="margin-left: -10px;margin-top: 10px;    font-weight: normal;">
                        <span style="font-size: 10px;">Délais de garantie (Mois)</span>
                      </div>
                    </div>

                  </div>


                  <ng-container *ngIf="readOnly">
                    <div class="col-2 text-right" *ngIf="retenueGarantie == 0">
                      Non
                    </div>
                  </ng-container>

                </div>
              </th>
              <td>
                <div class="text-right" *ngIf="retenueGarantie == 1">
                  {{ clalcMontantHt()  * (retenueGarantieValue/100) | RoudingNumber | ShowCurrency }}
                </div>
              </td>

            </tr>
            <tr>
              <th>TOTAL GENERAL TTC
                <i class="ft-info" placement="bottom"
                  ngbTooltip="Non comptabilisée déduction PUC effectuée  Phase DGD"></i>
              </th>
              <td class="text-right">{{ calcTotalGeneralTtc() | RoudingNumber | ShowCurrency }}</td>

            </tr>


          </table>
        </div>
      </div>
    </div>
  </div>
</div>