<div class="root">
	<div class="display-table">

		<!-- #region Display head -->
		<div class="display-table__head">
			<!-- Left controls-->
			<div class="left">
				<div class="cust-input cust-input--search">
					<label class="cust-input__wrapper">
						<div class="cust-input__icon">
							<img src="./assets/app/images/Icons/search.svg" alt="Search icon">
						</div>
						<input class="cust-input__input" type="search" [placeholder]="getPlaceholder()"
							[formControl]="searchFormControl">
					</label>
				</div>

				<div class="cust-input cust-input--selectable cust-input--filter" #filtersTrigger="cdkOverlayOrigin"
					cdkOverlayOrigin (click)="onFiltersTriggered()">
					<label class="cust-input__wrapper" *ngIf="Isfilter">
						<div class="cust-input__icon">
							<img src="./assets/app/images/Icons/filter.svg" alt="Filter icon">
						</div>
						<span class="cust-input__input">Filtrer</span>
					</label>
				</div>

				<div [ngClass]="{ 'filtre-par-date': filterDate }" class="cust-input cust-input--selectable cust-input--filter"
					#filtersTrigger="cdkOverlayOrigin" cdkOverlayOrigin (click)="onFiltersTriggeredDate()">
					<label class="cust-input__wrapper" *ngIf="filterDate">
						<div class="cust-input__icon">
							<img src="./assets/app/images/Icons/filter.svg" alt="Filter icon">
						</div>
						<span class="cust-input__input" *ngIf='periode'>{{getTextFiltrePeriod(periode)}} </span>
						<span class="cust-input__input" *ngIf='!periode'>Filtrer par date </span>
					</label>
				</div>

			</div>
			<!-- Right controls -->
			<div class="right right-button" *ngIf="isAdd">

				<div *ngIf="exportInvoice()" class="cust-button cust-button--darkBlue" data-target="#exportFactures"
					data-toggle="modal" id="export">
					<span>{{ 'labels.exportReleveFacture' | translate }} </span>
				</div>
				<div *ngIf="exportInvoice()" class="cust-button cust-button--default" data-target="#choixChantier"
					data-toggle="modal" id="choix">
					<span>{{ 'labels.factureGroupee' | translate }} </span>
				</div>
				<div *ngIf="depenseGroupe()" class="cust-button cust-button--default" data-target="#choixChantier"
					data-toggle="modal" id="depenseGroupee">
					<span>{{ 'labels.depenseGroupee' | translate }} </span>
				</div>
				<div *ngIf="isPaiement()" class="cust-button cust-button--darkBlue" (click)="mouvementCompte()" id="addCompte">
					<span>{{ 'labels.mouvementCompte' | translate }} </span>
				</div>
				<div *ngIf="isPaiement()" class="cust-button cust-button--default" (click)="addPaiementGroupe()"
					id="addPaiement">
					<span>{{ 'labels.paiementGroupe' | translate }} </span>
				</div>

				<div class="cust-button cust-button--success" *ngIf="!isPaiement()" (click)="addClick()">
					<span>{{ 'doctypeSingulier.'+helper.docType | translate}} </span>
				</div>
			</div>
		</div>
		<!-- #endregion -->

		<!-- #region Display body -->
		<div class="display-table__body">
			<table class="chantier-table">
				<thead>
					<tr>
						<th *ngFor="let column of columns;let i= index">
							<div class="th-wrapper">
								<span>{{ column.nameTranslate | translate }}</span>
								<div class="sort" *ngIf="column.isOrder">
									<i class="fa fa-chevron-up" [ngClass]="{
                                        'active': state.SortDirection === sortDirection.Ascending && column.name === state.OrderBy,
                                        'inactive': state.SortDirection === sortDirection.Descending
                                    }" (click)="sortChange(sortDirection.Ascending,column.name)"></i>
									<i class="fa fa-chevron-down" [ngClass]="{
                                        'active': state.SortDirection === sortDirection.Descending && column.name === state.OrderBy,
                                        'inactive': state.SortDirection === sortDirection.Ascending
                                    }" (click)="sortChange(sortDirection.Descending,column.name)"></i>
								</div>
							</div>
						</th>
						<!-- This column is for row actions -->
						<th class="actions" *ngIf="isAction"> </th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let element of items ;let i of items.length" id="chantier-dblclick-btn"
						(dblclick)="doubleClick(element)">

						<td *ngFor="let column of columns;let i= index">
							<ng-container>
								<ng-container *ngIf="column.type == columnType.Date">
									{{ element[column.name] | date:'dd/MM/yyyy' }}
								</ng-container>
								<ng-container *ngIf="column.type == columnType.span">
									{{ element[column.name] }}
									<span *ngFor="let item of column.list">
										<small style="color: #1d7b85; white-space: nowrap; font-style: italic !important;"
											*ngIf="element[item.name] != null">
											( {{ item.nameTranslate | translate }} : {{ element[item.name]  }} )
										</small>
									</span>
								</ng-container>
								<ng-container *ngIf="column.type == columnType.DateTime">
									{{ element[column.name] | date: 'dd/MM/yyyy HH:mm:ss' }}
								</ng-container>
								<ng-container *ngIf="column.type == columnType.Currency">
									<span class="text-right text-nowrap"
										[ngStyle]=" { 'color' : column.textColor?.appear ?  column.textColor.color(element) : '' }">{{  getValue(element , column.name) | RoudingNumber | ShowCurrency  }}</span>
									<span *ngFor="let item of column.list">

										<small style="color: #1d7b85; white-space: nowrap; font-style: italic !important;"
											*ngIf="element[item.name] != null && item.type == columnType.Currency">
											( {{ item.nameTranslate | translate }} : {{ element[item.name]  | RoudingNumber | ShowCurrency  }}
											)
										</small>
										<small style="color: #1d7b85; white-space: nowrap; font-style: italic !important;"
											*ngIf="element[item.name] != null && item.type != columnType.Currency">
											( {{ item.nameTranslate | translate }} : {{ element[item.name] }} )
										</small>
									</span>
								</ng-container>
								<ng-container *ngIf="column.type == columnType.Number">
									{{ element[column.name] | RoudingNumber }}
								</ng-container>
								<ng-container *ngIf="column.type == columnType.Translate">
									<span [ngStyle]=" { 'color' : column.textColor?.appear ?  column.textColor.color(element) : '' }">
										{{ column.labels + '.' + element[column.name] | translate }} </span>
								</ng-container>
								<ng-container *ngIf="column.type == columnType.tache">
									<span [ngStyle]=" { 'color' : column.textColor?.appear ?  column.textColor.color(element) : '' }">
										{{  'LABELS.' + element[column.name] | translate }} </span>
								</ng-container>
								<ng-container *ngIf="column.type == columnType.Tags">
									<span *ngFor="let item of element[column.name];"
										class="btn btn-bold btn-sm btn-font-sm  btn-label-brand bit-left-margin">
										<span class="text-nowrap">{{item}}</span>
									</span>
								</ng-container>
								<ng-container *ngIf="column.type == columnType.TagType">
									<span class="text-nowrap">
										<span class="kt-font-bold kt-font-brand">{{ element[column.name] |translate }}</span>
									</span>
								</ng-container>
								<ng-container *ngIf="column.type == columnType.List">
									<ng-container *ngFor="let item of element[column.name];let i=index">
										<ng-container *ngIf="i>0"><br /></ng-container>
										<span class="text-nowrap">
											<span></span>&nbsp;
											<span>{{item}}</span>
										</span>
									</ng-container>
								</ng-container>
								<ng-container *ngIf="column.type == columnType.colorNews">
									<span [ngStyle]="{'background-color': element[column.name]}">
										{{element[column.name]}}
									</span>
								</ng-container>

								<ng-container
									*ngIf="column.type == columnType.Status && column.status && column.status.appear(element)">
									<div class="status" [ngClass]="['status--' + column.status.value(element)]">
										<div class="dot"></div>
										<div class="label">
											{{ column.status.value(element) | translate }}
										</div>
									</div>
								</ng-container>

								<ng-container *ngIf="column.type == columnType.Html">
									<span [innerHTML]="element[column.name]"></span>
								</ng-container>
								<ng-container *ngIf="column.type == columnType.any">
									{{ getValue(element , column.name) }}
								</ng-container>

								<ng-container *ngIf="column.type == columnType.Progressbar">
									<div class="taux-progress">
										<div *ngIf="element[column.name] != null" class="label">
											{{ element[column.name] }} %
										</div>
										<div class="bar">
											<div role="progressbar" class="thumb" [ngStyle]="{ 'width': element[column.name] + '%' }"
												[ngClass]="{
                                                'thumb--25': element[column.name] < 25,
                                                'thumb--50': element[column.name] < 50 && element[column.name] >= 25,
                                                'thumb--75': element[column.name] < 75 && element[column.name] >= 50,
                                                'thumb--100': element[column.name] >= 75
                                            }"></div>
										</div>
									</div>
								</ng-container>

								<ng-container *ngIf="column.type == columnType.image && column.src.appear(element)">
									<div *ngIf="column.src.appear(element)" style="text-align: center;">
										<img width="17%" [src]="column.src.value(element)" />
									</div>
								</ng-container>

							</ng-container>
						</td>

						<!-- Actions trigger -->
						<td class="actions" *ngIf="isAction">
							<div class="actions-trigger" [matMenuTriggerFor]="matMenu" (onMenuOpen)="onMenuOpened(element)">
								<img src="./assets/app/images/Icons/more-vertical.svg" alt="Actions icon">
							</div>
						</td>
					</tr>
				</tbody>
				<tbody *ngIf="items?.length==0">
					<tr style="text-align: center;">
						{{'noDataAvaible' | translate}}
					</tr>
				</tbody>
			</table>
		</div>
		<!-- #endregion -->
		<!-- #region Display foot -->
		<div class="display-table__foot">
			<paination [painationInfo]="dataitems" (chagePageNamber)="chagePageNumber($event)"
				(changePageSize)="changePageSize($event)" [pageSizes]="pageSizeOptions"></paination>
		</div>
		<!-- #endregion -->
	</div>
</div>

<!-- <custom-loader [displayLoader]="processing"></custom-loader> -->

<!-- #region Filter overlay -->
<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="filtersTrigger" [cdkConnectedOverlayOpen]="filtersOpened"
	[cdkConnectedOverlayHasBackdrop]="true" (backdropClick)="filtersOpened = false">
	<div class="filter-overlay filter-overlay--centered filter-overlay--lg">
		<div class="filter-overlay__controls">
			<div class="filter-overlay__btn" (click)="onBackdropClicked()">
				<span>Reinitialiser</span>
				<i class="fa fa-repeat"></i>
			</div>
			<div class="filter-overlay__btn" (click)="filtersOpened = false ;">
				<i class="fa fa-times"></i>
			</div>
		</div>
		<div class="filter-overlay__filters">
			<div class="top">

				<!-- profile -->
				<div class="cust-input cust-input--select" *ngIf="profils && profils.length !== 0">
					<label class="cust-input__wrapper">
						<mat-select class="cust-input__input" [(ngModel)]="profile" (selectionChange)="selectProfil($event)"
							placeholder="Sélectionner profile">
							<mat-option value=""> Tous </mat-option>
							<mat-option *ngFor="let profil of profils" [value]="profil.id">{{profil.libelle}}
							</mat-option>
						</mat-select>
					</label>
				</div>

				<!-- Status  -->

				<div class="cust-input cust-input--select" *ngIf="status && status.length !== 0">
					<label class="cust-input__wrapper">
						<mat-select class="cust-input__input" [(ngModel)]="stat" (selectionChange)="selectStatus($event)"
							placeholder="sélectionner statut">
							<mat-option value=""> Tous </mat-option>
							<mat-option *ngFor="let stat of status" [value]="stat.value">{{stat.label}}</mat-option>
						</mat-select>
					</label>
				</div>

				<!-- listChantier  -->

				<div class="cust-input cust-input--select" *ngIf="listChantiers && listChantiers.length !== 0">
					<label class="cust-input__wrapper">
						<mat-select class="cust-input__input" [(ngModel)]="chantier" (selectionChange)="selectChantier($event)"
							placeholder="Sélectionner un chantier">
							<mat-option value=""> Tous </mat-option>
							<mat-option *ngFor="let chantier of listChantiers" [value]="chantier.id">{{chantier.name}}
							</mat-option>
						</mat-select>
					</label>
				</div>

				<!-- listClient  -->

				<div class="cust-input cust-input--select" *ngIf="listClient && listClient.length !== 0">
					<label class="cust-input__wrapper">
						<mat-select class="cust-input__input" [(ngModel)]="client" (selectionChange)="selectClient($event)"
							placeholder="Sélectionner un client">
							<mat-option value=""> Tous </mat-option>
							<mat-option *ngFor="let stat of listClient" [value]="stat.id">{{stat.name}}</mat-option>
						</mat-select>
					</label>
				</div>

				<!-- listFournisseur  -->

				<div class="cust-input cust-input--select" *ngIf="listClient && listSupplier.length !== 0">
					<label class="cust-input__wrapper">
						<mat-select class="cust-input__input" [(ngModel)]="fournisseur" (selectionChange)="selectSupplier($event)"
							placeholder="Sélectionner un fournisseur">
							<mat-option value=""> Tous </mat-option>
							<mat-option *ngFor="let stat of listSupplier" [value]="stat.id">{{stat.name}}</mat-option>
						</mat-select>
					</label>
				</div>

				<!-- comptes  -->

				<div class="cust-input cust-input--select" *ngIf="comptes && comptes.length !== 0">
					<label class="cust-input__wrapper">
						<mat-select class="cust-input__input" [(ngModel)]="compte" (selectionChange)="selectCompte($event)"
							placeholder="Compte à afficher">
							<mat-option value=""> Tous </mat-option>
							<mat-option *ngFor="let stat of comptes" [value]="stat.id">{{stat.label}}</mat-option>
						</mat-select>
					</label>
				</div>

				<!-- list technicien  -->

				<div class="cust-input cust-input--select" *ngIf="listTechnicien && listTechnicien.length !== 0">
					<label class="cust-input__wrapper">
						<mat-select class="cust-input__input" [(ngModel)]="technicien" (selectionChange)="selectTechnicie($event)"
							placeholder="Sélectionner un technicien" multiple>
							<mat-option *ngFor="let stat of listTechnicien" [value]="stat.value">{{stat.label}}
							</mat-option>
						</mat-select>
					</label>
				</div>

				<!-- list mois  -->
				<div class="cust-input cust-input--select" *ngIf="isVisitM && listMois.length !== 0">
					<label class="cust-input__wrapper">
						<mat-select class="cust-input__input" [(ngModel)]="moi" (selectionChange)="selectMois($event)"
							placeholder="Sélectionner un mois" multiple>
							<mat-option *ngFor="let stat of listMois" [value]="stat.value">{{stat.label}}</mat-option>
						</mat-select>
					</label>
				</div>
				<!-- year  -->
				<div *ngIf="isVisitM">
					<label class="cust-input__wrapper">
						<input matInput placeholder="Sélectionner une année" [(ngModel)]="year" (keyup.enter)="selectYear()">
					</label>
				</div>
				<div *ngIf="isMission" class="cust-input cust-input--select">
					<label class="cust-input__wrapper">
						<mat-select class="cust-input__input" placeholder="Filtrer par type" [(ngModel)]="kinds"
							(selectionChange)="selectMisionKind($event)" multiple>
							<mat-option [value]="missionKind.Call">Appel</mat-option>
							<mat-option [value]="missionKind.TechnicianTask">Tâches</mat-option>
							<mat-option [value]="missionKind.Appointment">Rendez-vous</mat-option>

						</mat-select>
					</label>
				</div>
			</div>

		</div>
	</div>
</ng-template>
<!-- #endregion -->

<!-- #region Filter date -->
<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="filtersTrigger"
	[cdkConnectedOverlayOpen]="filtersOpenedDate" [cdkConnectedOverlayHasBackdrop]="true"
	(backdropClick)="filtersOpenedDate = false">
	<div class="filter-overlay filter-overlay--centered filter-overlay--lg">
		<div class="filter-overlay__controls">
			<div class="filter-overlay__btn" (click)="onBackdropClickedDate()">
				<span>Reinitialiser</span>
				<i class="fa fa-repeat"></i>
			</div>
			<div class="filter-overlay__btn" (click)="filtersOpenedDate = false ;">
				<i class="fa fa-times"></i>
			</div>
		</div>
		<div class="filter-overlay__filters">
			<div class="top">


				<div class="cust-input cust-input--select" *ngIf="periodes.length !== 0">
					<label class="cust-input__wrapper">
						<mat-select class="cust-input__input" [(ngModel)]="periode" (selectionChange)="selectPeriode($event)"
							placeholder="Sélectionner un période">
							<mat-option *ngFor="let periode of periodes" [value]="periode.value">{{periode.label}}
							</mat-option>

						</mat-select>
					</label>
				</div>

				<!-- dATE DEBUT -->
				<div class="cust-input cust-input--date" *ngIf="periodes.length === 0 || periode == periodType.Interval">
					<label class="cust-input__wrapper">
						<input class="cust-input__input" #fromInput matInput [matDatepicker]="picker" [placeholder]="'Date Début'"
							(dateChange)="selectMinDate($event)">
						<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-datepicker #picker></mat-datepicker>
					</label>
				</div>

				<!-- Date FIN-->
				<div class="cust-input cust-input--date" *ngIf="periodes.length === 0 || periode == periodType.Interval">
					<label class="cust-input__wrapper">
						<input class="cust-input__input" #toInput matInput [placeholder]="'Date fin'" [matDatepicker]="picker1"
							(dateChange)="selectMaxDate($event)">
						<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
						<mat-datepicker #picker1></mat-datepicker>
					</label>
				</div>

				<div class="ui-g ui-fluid pull-right btn-search"
					*ngIf="periodes.length !== 0 && periode == periodType.Interval">
					<button class="btn btn-success" (click)="filter()">
						<i class="ft-search"></i>&nbsp; Filtrer
					</button>
				</div>

			</div>
		</div>
	</div>
</ng-template>

<!-- #endregion -->

<!-- #region Actions overlay -->
<mat-menu #matMenu="matMenu" class="cust-menu cust-menu--horizontal cust-menu--actions" overlapTrigger
	xPosition="before">
	<ng-container *ngFor="let action of actions">
		<span mat-menu-item *ngIf="action.appear(selected)" class="menu-item" [matTooltip]="action.label | translate"
			(click)="action.action(selected)">
			<div class="icon">
				<img [src]="action.icon" alt="Edit icon">
			</div>
		</span>
	</ng-container>
</mat-menu>

<!-- #endregion -->


<div *ngIf="exportInvoice()">
	<app-facturation-groupe-ft [chantiers]="listChantiers"></app-facturation-groupe-ft>
	<app-export-factures [clients]="listClient" (startExport)="exportFactures($event)"></app-export-factures>
</div>
<div *ngIf="depenseGroupe()">
	<app-depense-groupe-bcf [chantiers]="listChantiers" [fournisseurs]="listSupplier"></app-depense-groupe-bcf>
</div>
<div *ngIf="isPaiement()">
	<!-- <paiement-groupe (refresh)="rerender()"></paiement-groupe>
	<mouvement-compte (refresh)="rerender()"></mouvement-compte> -->
</div>
<custom-loader [displayLoader]="processing"></custom-loader>