<div class="root">
  <div class="row no-padding">
    <div class="col">
      <div class="head head--dashed">
        <span>Récapitulatif prévisionnel</span>
      </div>
    </div>
    <div class="col">
      <div class="head">
        <span>Récapitulatif de réel</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="graph-card">
        <div class="graph-card__head">
          <h2>Chiffre d'affaire du chantier</h2>
        </div>
        <div class="graph-card__body">
          <div class="graph-card__left">
            <div class="chart chart--dashed">
              <div class="info">
                <span class="value">{{ data?.predictions?.quotes?.total | RoudingNumber | ShowCurrency }}</span>
                <span class="label"> {{'labels.total_devis' | translate}}</span>
              </div>
              <canvas id="ca_prev"></canvas>
            </div>
            <div class="legends">
              <div class="legend">
                <div class="color color--red"></div>
                <div class="label">  {{'labels.vente_materiel' | translate}} </div>
                <div class="value">  {{ data?.predictions?.quotes?.materialSales | RoudingNumber | ShowCurrency }}</div>
              </div>
              <div class="legend">
                <div class="color color--blue"></div>
                <div class="label">  {{'labels.vente_main_oveure' | translate}} {{ data?.predictions?.quotes?.totalWorkforceWorkHours }} h </div>
                <div class="value"> {{ data?.predictions?.quotes?.workforceSales | RoudingNumber | ShowCurrency }} </div>
              </div>
            </div>
          </div>
          <div class="graph-card__right">
            <div class="legends">
              <div class="legend">
                <div class="color color--red"></div>
                <div class="label">  {{'labels.vente_materiel' | translate}} </div>
                <div class="value"> {{ data?.billingTreasury?.invoicesDetails?.totalMaterialSales | RoudingNumber | ShowCurrency }}  €</div>
              </div>
              <div class="legend">
                <div class="color color--blue"></div>
                <div class="label"> {{'labels.vente_main_oveure' | translate}}  6h</div>
                <div class="value"> {{ data?.billingTreasury?.invoicesDetails?.totalWorkforceSales | RoudingNumber | ShowCurrency }}  €</div>
              </div>
              <div class="legend">
                <div class="color color--green"></div>
                <div class="label">Avancement facturation</div>
                <div class="value">{{ AvancFacture | RoudingNumber }} %</div>
              </div>
            </div>
            <div class="chart">
              <div class="info">
                <span class="value"> {{ data?.billingTreasury?.invoicesDetails?.total | RoudingNumber | ShowCurrency}} </span>
                <span class="label">C.A Facture</span>
              </div>
              <canvas id="ca_reel"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row row--bg">
    <div class="col">
      <div class="graph-card">
        <div class="graph-card__head">
          <h2>Dépenses du chantier</h2>
        </div>
        <div class="graph-card__body">
          <div class="graph-card__left">
            <div class="chart chart--dashed">
              <div class="info">
                <span class="value">{{ data?.predictions?.expenses?.total | RoudingNumber | ShowCurrency}}</span>
                <span class="label"> {{'labels.depensee_Aprevoir' | translate}} </span>
              </div>
              <canvas id="dc_prev"></canvas>
            </div>
            <div class="legends">
              <div class="legend">
                <div class="color color--red"></div>
                <div class="label"> {{'labels.achat_materiel' | translate}} </div>
                <div class="value"> {{ data?.predictions?.expenses?.totalMaterialPurchases | RoudingNumber | ShowCurrency }} </div>
              </div>
              <div class="legend">
                <div class="color color--blue"></div>
                <div class="label">  {{'labels.achat_main_oveure' | translate}} {{ data?.predictions?.expenses?.totalWorkforceHours }} h </div>
                <div class="value">  {{ data?.predictions?.expenses?.totalWorkforcePurchases | RoudingNumber | ShowCurrency }} </div>
              </div>
              <div class="legend">
                <div class="color color--yellow"></div>
                <div class="label">  {{'labels.sous_traitance' | translate}}   {{ data?.predictions?.expenses?.subContractingHours }} h </div>
                <div class="value">{{ data?.predictions?.expenses?.subContracting  | RoudingNumber | ShowCurrency }} </div>
              </div>
            </div>
          </div>
          <div class="graph-card__right">
            <div class="legends">
              <div class="legend">
                <div class="color color--red"></div>
                <div class="label"> {{'labels.achat_materiel' | translate}} </div>
                <div class="value"> {{ data?.billingTreasury?.expenditures?.expenseDetails[0]?.totalPaid + data?.billingTreasury?.expenditures?.expenseDetails[0]?.restToPay  | RoudingNumber | ShowCurrency }} </div>
              </div>
              <div class="legend">
                <div class="color color--blue"></div>
                <div class="label">Achat main d'oeuvre </div>
                <div class="value"> {{ data?.billingTreasury?.expenditures?.operationSheetDetails?.total | RoudingNumber | ShowCurrency }}</div>
              </div>
              <div class="legend">
                <div class="color color--yellow"></div>
                <div class="label">Sous-traitance</div>
                <div class="value">  {{ data?.billingTreasury?.expenditures?.expenseDetails[1]?.totalPaid +
                  data?.billingTreasury?.expenditures?.expenseDetails[1]?.restToPay | RoudingNumber | ShowCurrency }} </div>
              </div>
              <div class="legend">
                <div class="color color--green"></div>
                <div class="label">Avancement dépenses</div>
                <div class="value"> {{ AvancDepense | RoudingNumber}} %</div>
              </div>
            </div>
            <div class="chart">
              <div class="info">
                <span class="value">{{  data?.billingTreasury?.expenditures?.total | RoudingNumber | ShowCurrency}} </span>
                <span class="label">Dépenses engagées</span>
              </div>
              <canvas id="dc_reel"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="graph-card">
        <div class="graph-card__head">
          <h2>Marge du chantier</h2>
        </div>
        <div class="graph-card__body">
          <div class="graph-card__left">
            <div class="chart chart--dashed">
              <div class="info">
                <span class="value">{{ data?.predictions?.margin?.total | RoudingNumber | ShowCurrency}} </span>
                <span class="label">{{'labels.marge_Previsionnel' | translate}} </span>
                <span class="sub">Taux : {{ getnull(data?.predictions?.margin?.percent) | RoudingNumber }} % </span>
              </div>
              <canvas id="mc_prev"></canvas>
            </div>
            <div class="legends">
              <div class="legend">
                <div class="color color--red"></div>
                <div class="label">
                  {{'labels.retenueGarantier' | translate}}  
                  <!-- <div class="sub">Taux: {{ marge_Previsionnel?.elements[0]?.pourcentage | RoudingNumber }} % </div> -->
                </div>
                <div class="value"> {{ data?.predictions?.margin?.totalHoldback  | RoudingNumber | ShowCurrency }} </div>
              </div>
              <div class="legend">
                <div class="color color--blue"></div>
                <div class="label">
                  {{'labels.margeMateriel' | translate}}
                  <!-- <div class="sub">Taux: {{ marge_Previsionnel?.elements[1]?.pourcentage | RoudingNumber }} %</div> -->
                </div>
                <div class="value"> {{ data?.predictions?.margin?.materialMargin | RoudingNumber | ShowCurrency }} </div>
              </div>
              <div class="legend"> 
                <div class="color color--yellow"></div>
                <div class="label">
                  {{'labels.margeMainOeuvre' | translate}}
                  <!-- <div class="sub">Taux: {{ marge_Previsionnel?.elements[2]?.pourcentage | RoudingNumber }} %</div> -->
                </div>
                <div class="value"> {{ data?.predictions?.margin?.workforceMargin | RoudingNumber | ShowCurrency }} </div>
              </div>
            </div>
          </div>
          <div class="graph-card__right">
            <div class="legends">
              <div class="legend">
                <div class="color color--red"></div>
                <div class="label">
                  {{'labels.retenueGarantier' | translate}}
                  <div class="sub">Taux:   {{ data?.billingTreasury?.margin?.percentTotalHoldback | RoudingNumber }} </div>
                </div>
                <div class="value">  {{ data?.billingTreasury?.margin?.totalHoldback | RoudingNumber | ShowCurrency }} </div>
              </div>
              <div class="legend">
                <div class="color color--blue"></div>
                <div class="label">
                  {{'labels.margeMateriel' | translate}}  
                  <div class="sub">Taux:   {{ data?.billingTreasury?.margin?.percentMaterialMargin | RoudingNumber }} % </div>
                </div>
                <div class="value">  {{ getnull(data?.billingTreasury?.margin?.materialMargin) | RoudingNumber | ShowCurrency }} </div>
              </div>
              <div class="legend">
                <div class="color color--yellow"></div>
                <div class="label">
                  Marge sur main d'oeuvre
                  <div class="sub">Taux:  {{ data?.billingTreasury?.margin?.percentWorkforceMargin | RoudingNumber }} %</div>
                </div>
                <div class="value"> {{ data?.billingTreasury?.margin?.workforceMargin | RoudingNumber | ShowCurrency }} </div>
              </div>
              <div class="legend">
                <div class="color color--green"></div>
                <div class="label">Avancement marge</div>
                <div class="value"> {{data?.billingTreasury?.margin?.deference | RoudingNumber}}% </div>
              </div>
            </div>
            <div class="chart">
              <div class="info">
                <span class="value">{{  data?.billingTreasury?.margin?.total | RoudingNumber | ShowCurrency}} </span>
                <span class="label">Marge réelle</span>
                <span class="sub">Taux : {{ getnull(data?.billingTreasury?.margin.percent) | RoudingNumber }} % </span>
              </div>
              <canvas id="mc_reel"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row row--bg">
    <div class="col">
      <div class="graph-card">
        <div class="graph-card__head">
          <h2>Trésorerie du chantier</h2>
        </div>
        <div class="graph-card__body">
          <div class="cust-card cust-card--position">
            <div class="cust-card__body">
              <div>
                <div class="info-bundle">
                  <span class="label">Encaissements</span>
                  <span class="value value--positive">  {{ data?.billingTreasury?.invoicesDetails?.totalPaid | RoudingNumber | ShowCurrency }} </span>
                </div>
                <div class="info-bundle">
                  <span class="label">Total</span>
                  <span class="value value--constant"> {{ data?.totalWorkshopTreasury | RoudingNumber | ShowCurrency }} </span>
                </div>
              </div> 
              <div>
                <div class="info-bundle">
                  <span class="label">Décraissements</span>
                  <span class="value value--negative">    {{ data?.billingTreasury?.invoicesDetails?.totalRestToPay | RoudingNumber | ShowCurrency }}</span>
                </div>
                <div class="info-bundle">
                  <span class="label">Date</span>
                  <span class="value value--neutral"> {{ date | date:'d/M/yy' }}</span>
                </div>
              </div>
              <div>
                <div class="icon">
                  <img src="./assets/app/images/Icons/dollar-sign.svg"
                    alt="Hoist icon">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>