.body-login {
  background-color: #47A2C1;
  height: 100%;
  .col-row {
    padding: 0;
  }
  .row-first {
    height: 100%;
  }
  .col-form{
    display: flex;
  }
  .container .row {
    height: 100%;
  }
  .cust-button {
    width: 100%;
    text-align: center;
    margin-top: 35px;
  }
  .cust-input-group {
    margin-bottom: 35px;
    .cust-label{
      font-weight: bold;
      font-size: 16px;
      color: #494948;
    }
  }
}
.card-link{
  color: #47A2C1;
  text-decoration:underline ;
  font-size:12px;
}
.body-animation{
  background-color: #FFF;
  display: flex;
  img {
    width: 100%;
  }
}

.card {
  box-shadow: none !important;
  background: transparent;
}


.card {
  width: 60%;
  background-color: white;
  border-radius: 7px;
  padding: 0 40px;
}

.card-header {
  background: transparent;
}
.card-footer {
  background: transparent;
}


@media (max-width: 980px) {
  .card-footer.border-0 {
    height: 0px;
    padding-bottom: 12%;
  }
}

@media (max-width: 780px) {
  .card-footer.border-0 {
    height: 0px;
    padding-bottom: 6%;
  }
}

@media (max-width: 500px) {
  .card-footer.border-0 {
    height: 0px;
    padding-bottom: 10%;
  }
}
