<div class="root">
  <div class="row">
    <div class="col">
      <div class="details">
        <div class="cust-card cust-card--padding">

          <div class="cust-card__head">

            <div class="left">
              <div class="title">
                Information
              </div>
            </div>

          </div>

          <div class="cust-card__body">

            <div class="row">

              <div class="col">
                <div class="cust-input-group">
                  <div class="cust-label">{{  'LABELS.CLIENT' | translate }} :</div>
                  <div class="cust-labelGros"> {{ visiteMaintenance?.client?.name }} </div>
                </div>
              </div>

              <div class="col">
                <div class="cust-input-group">
                  <div class="cust-label">{{  'LABELS.SITE' | translate }} :</div>
                  <div class="cust-labelGros"> {{ visiteMaintenance?.site?.designation }} </div>
                </div>
              </div>

              <div class="col">
                <div class="cust-input-group">
                  <div class="cust-label">{{  'LABELS.DATE' | translate }} :</div>
                  <div class="cust-labelGros"> {{date}} </div>
                </div>
              </div>

              <!-- Status -->
              <div class="col">
                <div class="cust-input-group">
                  <div class="cust-label">{{ 'LABELS.STATUS' | translate }} </div>
                  <div class="cust-input cust-input--select cust-input--status"
                    [style.color]="getColor(visiteMaintenance.status)">
                    <label class="cust-input__wrapper">
                      <input class="cust-input__input" id="add-status-form-btn"
                        type="text" [value]="visiteMaintenance.status | translate" disabled>
                    </label>
                  </div>
                </div>
              </div>

            </div>



          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<div class="root">
  <div class="row">
    <div class="col">
      <div class="details">
        <div class="cust-card cust-card--padding">

          <div class="cust-card__head">

            <div class="left">
              <div class="title">
                {{ 'LABELS.listequipement' | translate }}
              </div>
            </div>

          </div>

          <div class="cust-card__body">

            <div class="row">
              <div class="col-md-12">

                <div class="row title-table">
                  <div class="col-md-6">{{'labels.equipement' | translate}}</div>
                  <div class="col-md-6" style="padding-left: 33px;">{{'labels.observations' | translate}}</div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="tree-node-container">
                      <div class="tree-equipepent"
                        *ngFor="let equipement of ListGammeEquipement;let indexElemnet=index">
                        <div>
                          <i class="ft-chevron-right" (click)="openElement(indexElemnet)"
                            *ngIf="!checkElementIsOpen(indexElemnet)"></i>
                          <i class="ft-chevron-down" (click)="openElement(indexElemnet)"
                            *ngIf="checkElementIsOpen(indexElemnet)"></i>
                          {{equipement?.equipmentName}}
                        </div>


                        <div class="tree-equipepent-libelle" *ngIf="checkElementIsOpen(indexElemnet)">
                          <ul class="tree-equipepent-libelle-list"
                            *ngFor="let libelle of equipement?.maintenanceOperations;let indexChild=index" style="padding: 0;
                              margin: 0;">
                            <li>
                              <div style="background: #e3ebf366; padding: 10px 0px 10px 15px;">

                                <i class="ft-chevron-right" (click)="openChild(indexElemnet,indexChild)"
                                  *ngIf="!checkChildIsOpen(indexElemnet,indexChild)"></i>
                                <i class="ft-chevron-down" (click)="openChild(indexElemnet,indexChild)"
                                  *ngIf="checkChildIsOpen(indexElemnet,indexChild)"></i>
                                <!-- [ngClass]="{'ft-chevron-right': (checkElementIsOpen(indexElemnet) == false),'ft-chevron-down': (checkElementIsOpen(indexElemnet) == true)}"
                                      aria-hidden="true"></i>-->
                                {{libelle?.name}}
                                <!-- sort-down -->
                              </div>
                              <!-- {{libelle?.operations | json}} -->
                              <div class="tree-equipepent-libelle-operation"
                                *ngIf="checkChildIsOpen(indexElemnet,indexChild)">
                                <ul class="tree-equipepent-libelle-operation-list"
                                  *ngFor="let operations of libelle?.subOperations" style="padding: 0;
                                    margin: 0;">
                                  <li style="background: #ffffff; padding: 10px 5px 10px 40px;border-bottom: #e3ebf3 solid 1px;
                                    ">
                                    <div class="row">
                                      <div class="col-md-6"> {{operations?.name}}</div>
                                      <!-- <div class="col-md-6"> <span *ngIf="listObservation.length !=0">
                                          {{getObservations(operations?.id)}}</span></div> -->
                                    </div>


                                  </li>
                                </ul>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>


                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<div class="root" *ngIf="visiteMaintenance?.previousMaintenanceVisits?.length!= 0 ">
  <div class="row">
    <div class="col">
      <div class="details">
        <div class="cust-card cust-card--padding">

          <div class="cust-card__head">

            <div class="left">
              <div class="title">
                Liste visite maintenance
              </div>
            </div>

          </div>

          <div class="cust-card__body">

            <div class="row">
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>{{ 'labels.client' | translate }}</th>
                      <th>{{ 'labels.site' | translate }}</th>
                      <th>{{ 'labels.mois' | translate }}</th>
                      <th>{{ 'labels.annee' | translate }}</th>
                      <th>{{'labels.technicien'| translate}}</th>
                      <th>{{ 'labels.statut' | translate }}</th>
                      <th *ngIf="!isPlanification">{{ 'labels.actions' | translate }}</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr *ngFor="let item of visiteMaintenance?.previousMaintenanceVisits">
                      <td>{{visiteMaintenance?.client?.name}} </td>
                      <td>{{visiteMaintenance?.site?.designation}}
                      </td>
                      <td>{{getMonth(item?.month)}}</td>
                      <td>{{item?.year}}</td>
                      <td>{{ item?.technician}}</td>
                      <td>
                        <span *ngIf="item?.status == statutVisiteMaintenance.Unplanned"
                          class="badge badge-default badge-enretard ">{{ 'labels.aplanifier' | translate }}</span>
                        <span *ngIf="item?.status == statutVisiteMaintenance.Planned"
                          class="badge badge-default badge-success ">{{ 'labels.planifier' | translate }}</span>
                      </td>
                      <td *ngIf="!isPlanification">
                        <button type="button" class="btn btn-primary btn-md btn-actions" (click)="refreshVisite(item)"
                          placement="bottom" ngbTooltip="{{ 'toolip.detail' | translate }}"><i class="ft-eye"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>



          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<custom-loader [displayLoader]="processing"></custom-loader>