<div class="root" *ngIf="creationForm">
  <div class="row">
    <div class="col">
      <div class="details">
        <div class="cust-card cust-card--padding">

          <div class="cust-card__head">

            <div class="left">
              <div class="title" *ngIf="isModif() && document">
                {{  'update.' + docType | translate }} : {{ document?.reference }}
              </div>
              <div class="title" *ngIf="!isModif()">
                {{  'create.' + docType | translate }}
              </div>
            </div>

            <div class="right flexcontrols">
              <div class="flexcontrols">

                <div id="annuler" class="cust-button cust-button--secondary" (click)="close()">
                  <span> Annuler </span>
                </div>

                <div class="flexcontrols">
                  <div id="brouillon" class="cust-button cust-button--light"
                    (click)="submit(statutContratEntretien.Brouillon)"
                    *ngIf="!isModif() ||(isModif() && document?.status=='draft')">
                    <span>Brouillon</span>
                  </div>

                  <div id="valider" class="cust-button cust-button--success" (click)="submit()">
                    <span>Valider </span>
                  </div>
                </div>
              </div>


            </div>
          </div>

          <div class="cust-card__body">
            <div class="body">
              <form [formGroup]="creationForm">

                <div class="row">

                  <div class="col">
                    <div class="cust-input-group">
                      <div class="cust-label">
                        {{ 'LABELS.REFERENCE' | translate  }}
                        :</div>
                      <div class="cust-input">
                        <label class="cust-input__wrapper">
                          <input class="cust-input__input" id="add-refernce-form-btn" id="refernce" type="text"
                            formControlName="reference">
                        </label>
                      </div>
                      <small class="text-danger"
                        *ngIf="f?.reference?.errors?.required">{{'errors.required'| translate }}</small>
                      <small class="text-danger"
                        *ngIf="f?.reference?.hasError('CheckUniqueReference')">{{'errors.required'| translate }}</small>
                    </div>
                  </div>

                  <div class="col">
                    <div class="cust-input-group">
                      <div class="cust-label">{{ 'LABELS.CLIENT' | translate }} :</div>
                      <div class="cust-input cust-input--select">
                        <label class="cust-input__wrapper">
                          <mat-select id="add-client-form-btn" class="cust-input__input" formControlName="idClient"
                            (selectionChange)="loadAddreseClient(f?.idClient?.value)">
                            <mat-option>
                              <ngx-mat-select-search ngModel (ngModelChange)="filterclient($event)"
                                placeholderLabel="Chercher" noEntriesFoundLabel="aucun élément trouvé"
                                [ngModelOptions]="{standalone: true}">
                              </ngx-mat-select-search>
                            </mat-option>
                            <mat-option class="mat-add" id="add-add-client-form-btn" (click)="addClient()">
                              <span class="colorVert">Nouveau client</span>
                              <img src="./assets/app/imgs/addVert.png" alt="Plus icon">
                            </mat-option>
                            <mat-option *ngFor="let client of listClients; let i = index" id="add-client"
                              [value]="client">
                              {{ client?.reference }} : {{ client?.name }}</mat-option>
                          </mat-select>
                        </label>
                      </div>
                      <small class="text-danger"
                        *ngIf="f?.idClient?.errors?.required">{{'errors.required' | translate }}</small>
                    </div>
                  </div>

                  <div class="col btn-list">
                    <div class="cust-input-group">
                      <div class="cust-label">{{ 'LABELS.SITE' | translate }} :</div>
                      <div class="cust-input cust-input--select">
                        <label class="cust-input__wrapper">

                          <mat-select id="add-site-document-form-btn" class="cust-input__input" formControlName="site">
                            <mat-option *ngFor="let adresse of adresses; let i = index" id="add-site" [value]="adresse">
                              {{ adresse?.designation }}</mat-option>
                          </mat-select>
                        </label>
                      </div>
                      <small class="text-danger"
                        *ngIf="f?.site?.errors?.required">{{'errors.required' | translate }}</small>
                    </div>

                    <!-- <list-address (listContacts)="setNewAddress($event)"
                            [show]="creationForm.value.idClient != null">
                            </list-address> -->
                  </div>

                </div>
                <br>

                <div class="row">

                  <!-- date creation -->
                  <div class="col">

                    <div class="cust-input-group">
                      <div class="cust-label">{{ 'LABELS.DATE_DEBUT' | translate }} :</div>
                      <div class="cust-input cust-input--date">
                        <label class="cust-input__wrapper">
                          <input class="cust-input__input" #fromInput matInput [matDatepicker]="creationDate"
                            [placeholder]="'Date Début'" formControlName="dateDebut">
                          <mat-datepicker-toggle matSuffix [for]="creationDate">
                          </mat-datepicker-toggle>
                          <mat-datepicker #creationDate></mat-datepicker>
                        </label>
                      </div>
                    </div>
                  </div>

                  <!-- date echenace -->

                  <div class="col">

                    <div class="cust-input-group">
                      <div class="cust-label">{{ 'LABELS.DATE_FIN' | translate }} :</div>
                      <div class="cust-input cust-input--date">
                        <label class="cust-input__wrapper">
                          <input class="cust-input__input" #fromInput matInput [matDatepicker]="picker"
                            [placeholder]="'Date fin'" formControlName="dateFin">
                          <mat-datepicker-toggle matSuffix [for]="picker">
                          </mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                        </label>
                      </div>
                    </div>

                  </div>

                  <!-- Status -->
                  <div class="col" *ngIf="isModif()">
                    <div class="cust-input-group">
                      <div class="cust-label">{{ 'LABELS.STATUS' | translate }} </div>
                      <div class="cust-input cust-input--select cust-input--status"
                        [style.color]="getColor(selectedStatus)">
                        <label class="cust-input__wrapper">
                          <mat-select id="add-status-document-form-btn" *ngIf="status.length !== 0"
                            class="cust-input__input" [panelClass]="'cust-menu--status'" [value]="selectedStatus"
                            (valueChange)="onStatusChanged($event)">
                            <mat-option *ngFor="let stts of status; let i = index" id="add-status-document"
                              [style.color]="getColor(stts)" [value]="stts">{{ stts | translate  }}</mat-option>
                          </mat-select>
                          <input *ngIf="status.length === 0" class="cust-input__input" id="add-status-document-form-btn"
                            type="text" [value]="selectedStatus | translate" disabled>
                        </label>
                      </div>
                    </div>
                  </div>


                </div>

                <br>

                <div class="row">

                  <div class="col">
                    <div class="cust-input-group">
                      <!-- <div class="cust-label">{{ 'LABELS.ALERTEXPERATION' | translate }} :</div> -->

                      <div class="container form-check-inline">
                        <mat-checkbox class="new-checkbox mr-1" formControlName="expiration">
                          {{ 'LABELS.ALERTEXPERATION' | translate }}
                        </mat-checkbox>
                        <!-- <mat-checkbox class="new-checkbox mr-1" formControlName="expiration"></mat-checkbox> -->
                      </div>

                    </div>

                  </div>

                  <div class="col" *ngIf="creationForm.value.expiration">
                    <div class="cust-label"> Entrer période </div>
                    <div class="cust-input">
                      <label class="cust-input__wrapper">
                        <input class="cust-input__input" id="add-periode-form-btn" id="periode" type="text"
                          formControlName="periode">
                      </label>

                    </div>

                  </div>


                  <div class="col" *ngIf="creationForm.value.expiration">
                    <div class="cust-label"> Choisir période </div>
                    <div class="cust-input cust-input--select">
                      <label class="cust-input__wrapper">
                        <mat-select id="add-typePeriode-form-btn" class="cust-input__input"
                          formControlName="typePeriode">
                          <mat-option [value]="PeriodType.Day"> Jour </mat-option>
                          <mat-option [value]="PeriodType.Week"> Semaine </mat-option>
                          <mat-option [value]="PeriodType.Month"> Mois </mat-option>
                          <mat-option [value]="PeriodType.Year"> Annee </mat-option>
                        </mat-select>
                      </label>
                    </div>

                  </div>

                  <div class="col">
                    <div class="cust-input-group">
                      <!-- <div class="cust-label">{{ 'LABELS.Renouvellement' | translate }} :</div> -->

                      <div class="container form-check-inline">
                        <mat-checkbox class="new-checkbox mr-1" formControlName="enableAutoRenewal">
                          {{ 'LABELS.Renouvellement' | translate }}
                        </mat-checkbox>
                        <!-- <mat-checkbox class="new-checkbox mr-1" formControlName="enableAutoRenewal"></mat-checkbox> -->
                      </div>
                    </div>
                  </div>


                </div>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col"></div>
    <div class="col"></div>
  </div>
</div>

<br>
<br>
<div class="root">
  <div class="row">
    <div class="col">
      <div class="details">
        <div class="cust-card cust-card--padding">


          <div class="cust-card__head">

            <div class="left">
              <div class="title"> {{ 'LABELS.piecesJointes' | translate }}
              </div>
            </div>

          </div>



          <div class="cust-card__body">

            <div class="col-12">
              <table class="table">
                <tr>
                  <th>{{'LABELS.NOM' | translate}}</th>
                  <th style="text-align: center !important;">{{'LABELS.ACTIONS' | translate}}</th>
                </tr>
                <tr *ngFor="let pieceJointe of piecesJointes;let index= index">
                  <td style="line-height: 40px;">
                    {{ pieceJointe?.fileName }}
                  </td>
                  <td style="text-align: center !important; line-height: 40px;">
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-primary btn-md btn-actions" placement="bottom"
                        (click)="downloadPieceJointe(index)">
                        <i class="ft-download"></i>
                      </button>

                      <button type="button" class="btn btn-danger btn-md btn-actions" placement="bottom"
                        (click)="removeFile(index)">
                        <i class="ft-trash-2"></i>
                      </button>
                    </div>

                  </td>
                </tr>
                <tr *ngIf="piecesJointes.length == 0">
                  <td colspan="2" class="text-center">
                    {{'LABELS.noDataAvaible' | translate}}
                  </td>
                </tr>
              </table>
              <div class="file float-right;">
                <label for="file21" class="btn btn-primary" style="float:right"> Choisir le ficher <i
                    class="ft-upload"></i></label>
                <input class="file-input" type="file" (change)="startUpload($event.target.files)" id="file21"
                  name="files" style="visibility:hidden;">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<div class="root">
  <div class="row">
    <div class="col">
      <div class="details">
        <div class="cust-card cust-card--padding">


          <div class="cust-card__head">

            <div class="left">
              <div class="title"> {{ 'LABELS.equipement' | translate }}
              </div>
            </div>

          </div>



          <div class="cust-card__body">

            <div class="col-12">

              <div class="row">
                <div class="col-12">
                  <button type="button" class="btn btn-success btn-md btn-actions float-right" id="select_gamme"
                    style="margin-bottom: 20px;" placement="top" (click)="select_gamme_maintenance_equipement()"><i
                      class="ft-list"></i>
                    {{'LABELS.selectGammemaintenanceEquipement'|translate}}
                  </button>
                </div>
                <div class="col-12">
                  <div class="nav-pills">
                    <div class="btn-groupbtn-group-custom" role="group">
                      <ng-container
                        *ngFor="let libelle of gamme_maintenance_equipement_Selected_libelles;let index = index">
                        <button type="button" class="btn gamme-maintenance-equipement" (click)="changeTab(index)"
                          [ngClass]="{'gamme-maintenance-equipement-active': selectedGammeMaintenanceEquipement == index}">
                          {{ libelle}}
                          <i class="ft ft-x removeEquipement" (click)="removeEquipement(index)" placement="top"></i>
                        </button>
                      </ng-container>
                    </div>
                  </div>
                  <div class="tab-content-custom">
                    <ng-container *ngFor="let gamme of gamme_maintenance_equipement_Selected;let index = index">
                      <div class="tab-pane-custom" *ngIf="selectedGammeMaintenanceEquipement == index">
                        <div class="row">


                          <div class="col">
                            <div class="cust-input-group">
                              <div class="cust-label"> {{ 'LABELS.NOM' | translate  }} :</div>
                              <div class="cust-input">
                                <label class="cust-input__wrapper">
                                  <input type="text" [(ngModel)]="gamme.equipmentName" class="cust-input__input"
                                    [ngModelOptions]="{standalone: true}">
                                </label>
                              </div>
                              <small class="text-danger"
                                *ngIf="gamme?.equipmentName?.length < 3 && gamme?.equipmentName?.length != 0">
                                {{'errors.minLength'|translate:{ number:3} }}
                              </small>
                              <small class="text-danger"
                                *ngIf="gamme?.equipmentName?.length == 0">{{'errors.required' | translate }}</small>
                            </div>
                          </div>

                          <div class="col">
                            <div class="cust-input-group">
                              <div class="cust-label"> Sélectionner matérial : </div>
                              <div class="cust-input cust-input--select">
                                <label class="cust-input__wrapper">
                                  <mat-select id="add-material-form-btn" class="cust-input__input"
                                    [(ngModel)]="gamme.idMaterial"
                                    (selectionChange)="selectMaterial($event , gamme , index)">
                                    <mat-option>
                                      <ngx-mat-select-search ngModel (ngModelChange)="filtermaterial($event)"
                                        placeholderLabel="Sélectionner" noEntriesFoundLabel="aucun élément trouvé"
                                        [ngModelOptions]="{standalone: true}">
                                      </ngx-mat-select-search>
                                    </mat-option>

                                    <mat-option *ngFor="let material of listMaterials; let i = index" id="add-materuial"
                                      [value]="material.id">
                                      {{ material?.designation }} </mat-option>
                                  </mat-select>
                                </label>
                              </div>
                            </div>
                          </div>


                        </div>

                        <div class="row">

                          <div class="col">
                            <div class="cust-input-group">
                              <div class="cust-label">
                                {{ 'LABELS.brand' | translate  }}
                                :</div>
                              <div class="cust-input">
                                <label class="cust-input__wrapper">
                                  <input type="text" [(ngModel)]="gamme.brand" class="cust-input__input"
                                    [ngModelOptions]="{standalone: true}" id="brand">
                                </label>
                              </div>
                              <small class="text-danger"
                                *ngIf="gamme?.brand?.length == 0">{{'errors.required' | translate }}</small>
                            </div>
                          </div>

                          <div class="col">
                            <div class="cust-input-group">
                              <div class="cust-label">
                                {{ 'LABELS.module' | translate  }}
                                :</div>
                              <div class="cust-input">
                                <label class="cust-input__wrapper">
                                  <input type="text" [(ngModel)]="gamme.model" class="cust-input__input"
                                    [ngModelOptions]="{standalone: true}" id="module">
                                </label>
                              </div>
                              <small class="text-danger"
                                *ngIf="gamme?.model?.length == 0">{{'errors.required' | translate }}</small>
                            </div>
                          </div>

                        </div>

                        <div class="row">

                          <div class="col">
                            <div class="cust-input-group">
                              <div class="cust-label">
                                {{ 'LABELS.serialNumber' | translate  }}
                                :</div>
                              <div class="cust-input">
                                <label class="cust-input__wrapper">
                                  <input type="text" [(ngModel)]="gamme.serialNumber" class="cust-input__input"
                                    [ngModelOptions]="{standalone: true}" id="serialNumber">
                                </label>
                              </div>
                              <small class="text-danger"
                                *ngIf="gamme?.serialNumber?.length == 0">{{'errors.required' | translate }}</small>
                            </div>
                          </div>

                          <div class="col">

                            <div class="cust-input-group">
                              <div class="cust-label">{{ 'LABELS.installationDate' | translate }} :</div>
                              <div class="cust-input cust-input--date">
                                <label class="cust-input__wrapper">
                                  <input class="cust-input__input" #fromInput matInput [matDatepicker]="creationDate"
                                    [placeholder]="'Date Début'" [(ngModel)]="gamme.installationDate">
                                  <mat-datepicker-toggle matSuffix [for]="creationDate">
                                  </mat-datepicker-toggle>
                                  <mat-datepicker #creationDate></mat-datepicker>
                                </label>
                              </div>

                              <small class="text-danger"
                                *ngIf="gamme?.installationDate?.length == 0">{{'errors.required' | translate }}</small>
                            </div>
                          </div>
                        </div>
                        <br>
                        <div class="col-md-12">
                          <gamme-maintenance-equipement [libelles]="gamme?.maintenanceOperations" [load]="emitter">
                          </gamme-maintenance-equipement>
                        </div>
                      </div>

                    </ng-container>
                  </div>
                </div>
              </div>



            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<br>

<div class="root">
  <div class="row">
    <div class="col">
      <div class="details">

        <table-article [load]="emitterArticle" [readOnly]="false" [showAdditionalInfos]="false" [articles]="articles">
        </table-article>

      </div>
    </div>
  </div>
</div>

<br>


<div class="root">
  <div class="row">
    <div class="col">
      <div class="details">
        <div class="cust-card cust-card--padding">




          <div class="cust-card__head">

            <div class="left">
              <div class="title"> {{ 'LABELS.recurrente' | translate }}
              </div>
            </div>

          </div>



          <div class="cust-card__body">
            <div class="body">
              <form [formGroup]="creationForm">

                <div class="row " style="margin-bottom: 9px;">
                  <div class="col-md-5 text-right" style="padding-top: 5px;     color: black;">
                    <span>Périodicité</span> <span class="color-red">(*)</span>
                  </div>
                  <div class="col-lg-6 col-md-12 col-sm-12">

                    <div class="row">
                      <div class="col-lg-5 col-md-12 col-sm-12">
                        <select class="select-type" formControlName="nbr_repetition"
                          (change)="selectTypeRecurrent(f?.nbr_repetition?.value)">
                          <option [value]="periodicityType.Monthly"> Mensuelle
                          </option>
                          <option [value]="periodicityType.BiMonthly"> Bimestriele
                          </option>
                          <option [value]="periodicityType.Quarterly"> Trimestrielle
                          </option>
                          <option [value]="periodicityType.EveryFourMonths"> Quadrimestrielle
                          </option>
                          <option [value]="periodicityType.Biannual"> Semestrielle
                          </option>
                          <option [value]="periodicityType.Annually"> Annuelle
                          </option>
                          <option [value]="periodicityType.Custom"> Personalise
                          </option>
                        </select>
                      </div>

                      <div class="col-lg-2 col-md-12 col-sm-12"
                        *ngIf="f?.nbr_repetition?.value ==  periodicityType.Custom">
                        <button type="button" (click)="LoadPersonaliseReccurente()"
                          class="btn btn-warning  btn-personalise">
                          <i class="ft-edit"></i> Personalisé
                        </button>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <small class="text-danger" style="margin-left: -12px;"
                        *ngIf="f?.nbr_repetition?.errors?.required">{{'errors.required' | translate }}</small>
                    </div>
                  </div>

                </div>

                <div class="row " style="margin-bottom: 9px;">
                  <div class="col-md-5 text-right" style="padding-top: 5px;color: black;">
                    <span>Prochaine échéance </span> <span class="color-red">(*)</span>
                  </div>
                  <div class="col-md-3">

                    <div class="select-datepicker">
                      <mat-form-field select-datepicker>
                        <input matInput [matDatepicker]="dateV" [min]="min" formControlName="date_validation"
                          (dateChange)="setDate()">
                        <mat-datepicker-toggle matSuffix [for]="dateV"></mat-datepicker-toggle>
                        <mat-datepicker #dateV></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <small class="text-danger"
                      *ngIf="f?.date_validation?.errors?.required">{{'errors.required' | translate }}</small>

                  </div>

                </div>

                <ng-container>
                  <div class="row " style="margin-bottom: 9px;">
                    <div class="col-md-5 text-right" style="padding-top: 5px;color: black;">
                      <span>Validité</span> <span class="color-red">(*)</span>
                    </div>
                    <div class="col-md-3 container">
                      <div class="radio">
                        <input id="radio-1" name="type_termine" type="radio" [value]="periodicityEndingType.Undifined"
                          formControlName="type_termine"
                          [checked]="f?.type_termine?.value==periodicityEndingType.Undifined">
                        <label for="radio-1" class="radio-label">illimité</label>
                      </div>

                      <div class="radio">
                        <input id="radio-2" name="type_termine" type="radio"
                          [value]="periodicityEndingType.SpecificDate" formControlName="type_termine"
                          [checked]="f?.type_termine?.value==periodicityEndingType.SpecificDate">
                        <label for="radio-2" class="radio-label">jusqu'au</label>
                      </div>

                      <div class="radio" *ngIf="f?.nbr_repetition?.value ==  periodicityType.Custom">
                        <input id="radio-3" name="type_termine" type="radio"
                          [value]="periodicityEndingType.SpecificNumberOfTime" formControlName="type_termine"
                          [checked]="f?.type_termine?.value==periodicityEndingType.SpecificNumberOfTime">
                        <label for="radio-3" class="radio-label">Après</label>
                      </div>
                      <small class="text-danger"
                        *ngIf="f?.type_termine?.errors?.required">{{'errors.required' | translate }}</small>

                    </div>

                  </div>

                  <div class="row " style="margin-bottom: 9px;"
                    *ngIf="f?.type_termine?.value==periodicityEndingType.SpecificDate">
                    <div class="col-md-5 text-right" style="padding-top: 5px;color: black;">
                      <span>Fin de validité</span> <span class="color-red">(*)</span>
                    </div>
                    <div class="col-md-3 ">

                      <div class="select-datepicker">
                        <mat-form-field select-datepicker>
                          <input matInput [matDatepicker]="dateVF" [min]="minFinDate" formControlName="date_fin">
                          <mat-datepicker-toggle matSuffix [for]="dateVF"></mat-datepicker-toggle>
                          <mat-datepicker #dateVF></mat-datepicker>
                        </mat-form-field>
                      </div>

                      <small class="text-danger"
                        *ngIf="f?.date_fin?.errors?.required">{{'errors.required' | translate }}</small>

                    </div>
                  </div>

                  <div class="row " style="margin-bottom: 9px;"
                    *ngIf="f?.type_termine?.value==periodicityEndingType.SpecificNumberOfTime">
                    <div class="col-md-5 text-right" style="padding-top: 5px;     color: black;">
                      <span>Nombre d'occurrences</span> <span class="color-red">(*)</span>
                    </div>
                    <div class="col-md-3 ">

                      <div class="select-datepicker">
                        <mat-form-field>
                          <input matInput type="number" placeholder="Choisir nombre" autocomplete="off" tabindex="0"
                            autofocus="" min="1" formControlName="nbr_occurence">
                        </mat-form-field>
                      </div>


                    </div>
                  </div>


                </ng-container>


              </form>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<br>
<custom-loader [displayLoader]="processing"></custom-loader>