@import "./../core/mixins/scrollbar";

.cust-card {
  background-color: white;

  border-radius: 10px;
  box-shadow: 0px 3px 6px #2c28281c;

  overflow: hidden;

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 2px solid #eeeeee;
    padding: 20px 30px;

    .title {
      font-family: qanelas;
      font-size: 19px;
      font-weight: bold;

      color: #494948;
      letter-spacing: 0px;
    }
  }

  &__tabs {
    @include scrollbar;

    display: flex;
    flex-wrap: nowrap;

    align-items: center;
    justify-content: flex-start;

    border-color: #eeeeee;
    border-radius: 0 !important;

    overflow: auto hidden;
  }

  &__tab {
    border: none !important;
    border-radius: 0 !important;
    color: #494948;

    margin-bottom: 0 !important;
    padding: 1rem !important;

    white-space: nowrap;

    transition-delay: 0.2s;
    transition-property: background-color;

    &:hover {
      background-color: #f8f8f8;
    }

    &:not(:first-of-type) {
      border-left: 1px solid #eeeeee !important;
    }

    &.active {
      border-bottom: none !important;
      position: relative;

      &::after {
        content: "";
        position: absolute;

        bottom: 0;
        left: 0;

        height: 4px;
        width: 100%;

        background-color: #47a2c1;
      }
    }
  }

  &__body {
    padding: 20px;

    &.tab-content {
      border-top: none !important;
    }
  }

  &__foot {
    padding: 0 20px 20px 20px;
  }

  &--padding {
    .cust-card__body {
      padding: 50px 30px;
    }
  }
}
