.cust-checkbox {
  .mat-checkbox-frame {
    border-radius: 5px;
    color: #494948;
  }

  .mat-checkbox-background {
    background-color: transparent !important;

    svg {
      filter: invert(1);
      transform: scale(0.7);
    }
  }

  .mat-ripple-element {
    background-color: #47a2c1 !important;
  }
}

.custom-checkbox {
  // .mat-checkbox-background {
  //   background-color: #38B475;
  // }

  .mat-checkbox-checked .mat-checkbox-background,
  .mat-checkbox-indeterminate .mat-checkbox-background {
    background-color: #38b475 !important;
  }
  .mat-checkbox-inner-container {
    border: 1px solid;
    border-radius: 6px;
    width: 30px !important;
    height: 30px !important;
  }
  .mat-checkbox {
    margin-left: 10px;
  }
}

.new-checkbox {
  .mat-checkbox-inner-container {
    height: 30px;
    width: 30px;
  }

  .mat-checkbox-frame {
    border-radius: 8px;
    overflow: hidden;
  }

  .mat-checkbox-label {
    position: relative;
    top: 4px;
  }

  &.mat-checkbox-checked {
    .mat-checkbox-background {
      background-color: #38b475 !important;
      border-radius: 8px;
    }
  }
}
