@import "./../core/mixins/scrollbar";

@mixin input-placeholder {
  font-size: 13px;
  font-family: Raleway;

  letter-spacing: 0px;
  text-align: left;

  color: #172b4d;
}

@mixin input-selectable {
  cursor: pointer;

  .cust-input__wrapper {
    cursor: pointer;
  }

  &:hover {
    background: #f0f3f4 0% 0% no-repeat padding-box;
  }
}

.cust-input {
  background: #f7fafc 0% 0% no-repeat padding-box;
  border-radius: 5px;
  box-shadow: 0px 3px 6px #1717172d;

  min-height: 42px;

  transition-duration: 0.2s;
  transition-property: background-color box-shadow;

  &__wrapper {
    display: flex;
    align-items: center;

    min-height: 42px;
    margin: 0;
    padding: 5px 18px;

    span.cust-input__input {
      @include input-placeholder;
    }
  }

  &__icon {
    margin-right: 12px;

    img {
      filter: grayscale(1);
      opacity: 0.6;

      width: 24px;
    }
  }

  &__input {
    font-family: raleway;
    font-size: 14px;

    border: none;
    background-color: transparent;

    padding: 0;
    width: 100%;

    &--number {
      font-family: Qanelas !important;
    }

    &::placeholder {
      @include input-placeholder;
    }

    &:focus,
    &:active {
      outline: none;
    }
  }

  &:focus-within {
    box-shadow: 0 0 1em #47a2c1;
  }

  &--selectable {
    @include input-selectable;
  }

  &--select {
    @include input-selectable;
    position: relative;

    .mat-select-placeholder {
      @include input-placeholder;
    }

    .mat-select-arrow {
      visibility: hidden;
    }

    input.cust-input__input {
      padding: 0 24px 0 0;
    }

    &::after {
      display: inline-block;
      pointer-events: none;

      content: "\f078";
      font-family: FontAwesome;
      opacity: 0.8;

      position: absolute;
      right: 18px;
      top: 50%;
      transform: translateY(-50%);

      color: #657085;
    }
  }

  &--status {
    position: relative;
    overflow: hidden;

    max-height: 40px;
    padding: 0 18px 0 18px;

    color: #65708514;

    &::before {
      content: "";

      position: absolute;
      left: 0;
      top: 0;

      height: 100%;
      width: 16px;

      background-color: currentColor;
    }
  }

  &--date {
    position: relative;

    .cust-input__wrapper {
      padding: 5px 5px 5px 18px;

      .cust-input__input {
        font-family: qanelas;
        font-size: 13px;
        font-weight: 100;
      }

      .mat-datepicker-toggle {
        height: 40px;

        position: absolute;
        right: 5px;
        top: 50%;

        transform: translateY(-50%);

        &.mat-datepicker-toggle-active > button {
          color: #47a2c1;
        }

        button:focus {
          outline: none;
        }
      }
    }
  }

  &--number {
    .cust-input__wrapper {
      position: relative;

      .cust-input__input {
        font-family: qanelas;
        text-align: right;

        &::-webkit-inner-spin-button {
          margin-left: 20px;
          opacity: 1;
        }
      }

      &::after {
        content: "€";

        position: absolute;
        right: 40px;
        top: 13px;

        font-family: qanelas;
        font-size: 13px;
      }
    }
  }

  &--percent {
    .cust-input__wrapper {
      position: relative;

      .cust-input__input {
        font-family: qanelas;
        text-align: right;

        &::-webkit-inner-spin-button {
          margin-left: 20px;
          opacity: 1;
        }
      }

      &::after {
        content: "%";

        position: absolute;
        right: 40px;
        top: 13px;

        font-family: qanelas;
        font-size: 13px;
      }
    }
  }

  &--numero {
    .cust-input__wrapper {
      position: relative;

      .cust-input__input {
        font-family: qanelas;
        text-align: right;

        &::-webkit-inner-spin-button {
          margin-left: 20px;
          opacity: 1;
        }
      }

      &::after {
        content: attr(data-sign);

        position: absolute;
        right: 40px;
        top: 13px;

        font-family: qanelas;
        font-size: 13px;
      }
    }
  }

  &--textarea {
    .cust-input__wrapper {
      padding: 0;

      .cust-input__input {
        @include scrollbar;
        padding: 8px 18px;
      }
    }
  }

  &--readonly {
    background: #e5e8eb 0% 0% no-repeat padding-box;
  }
}

.cust-input-group {
  .cust-label {
    font-size: 13px;
    font-weight: raleway;

    letter-spacing: 0px;
    text-align: left;

    color: #172b4d;
    margin-bottom: 8px;

    &--nowrap {
      white-space: nowrap;
    }
  }

  .cust-labelGros {
    font-size: 13px;
    font: normal normal bold 19px/20px Qanelas;
    letter-spacing: 0px;
    text-align: left;
    opacity: 1;
    color: #494948;
    margin-bottom: 20px;
  }

  .cust-labelDate {
    font-size: 13px;
    font: normal normal bold 19px/20px Qanelas;
    letter-spacing: 0px;
    text-align: left;
    opacity: 1;
    color: #494948;
    margin-bottom: 20px;
  }
}

.cdk-overlay-container {
  z-index: 9999 !important;
}
