.cust-menu {
  background-color: #f7fafc;
  border-radius: 10px !important;

  .mat-menu-content {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }

  .menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: raleway;
    font-size: 13px;
    font-weight: 100;

    height: 40px;

    &--divider {
      border-top: 1px solid #e4e4e4;
    }

    .icon {
      img {
        opacity: 0.6;

        //margin-left: 15px;
        width: 18px;
        margin: 10px;
      }

      &--opaque img {
        opacity: 1;
      }
    }
  }

  &--compact {
    max-width: fit-content !important;
    min-width: fit-content !important;

    .menu-item {
      display: flex;
      align-items: center;
      justify-content: center;

      text-align: center;
    }
  }

  &--horizontal {
    .mat-menu-content {
      display: flex;

      .menu-item.mat-menu-item {
        position: relative;
        padding: 0;

        display: flex;
        flex: 1;

        align-items: center;
        justify-content: center;

        &:not(:last-of-type)::after {
          content: "";

          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);

          height: 60%;
          width: 1px;

          background-color: #e3e3e3;
        }

        .icon img {
          margin-left: 0;
          width: 20px;
          margin: 10px;
        }
      }
    }
  }

  &--status {
    position: relative;
    left: -20px;

    min-width: calc(100% + 72px) !important;

    mat-option {
      position: relative;
      color: #65708514;

      * {
        color: rgba(0, 0, 0, 0.87);
      }

      .mat-option-text {
        padding-left: 15px;

        font-family: raleway;
        font-weight: 100;
      }

      &::before {
        content: "";

        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);

        height: 100%;
        width: 16px;

        background-color: currentColor;
      }
    }
  }

  &--number {
    .menu-item {
      font-family: qanelas;
    }
  }
}

.mat-add .mat-option-text {
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    opacity: 0.6;
    width: 18px;
  }
}
