.notifications-list {
  background-color: white;
  border-radius: 10px;

  overflow: hidden;
  width: 300px;

  &__head {
    padding: 25px;
    border-bottom: 2px solid #e9e9e9;

    font-family: qanelas;
    font-size: 18px;
    font-weight: bold;
  }

  &__body {
    padding: 10px 25px;
  }
}
