.slider {
  .mat-slider-wrapper,
  .mat-slider-track-wrapper,
  .mat-slider-ticks-container,
  .mat-slider-track-background,
  .mat-slider-track-fill,
  .mat-slider-ticks {
    border-radius: 6px !important;
    height: 5px !important;
  }

  .mat-slider-track-background {
    background-color: lightgrey;
  }

  .mat-slider-thumb,
  .mat-slider-track-fill {
    background-color: #05658d !important;
  }
}
