<div class="axiobat-modal">
  <div class="root">

    <!-- #region Head -->
    <div class="head">

      <div class="left">
        <div class="title">
          {{ defaultData
								? ('edit-title' | translate: { name: defaultData?.name })
								: ('create-title' | translate)
							}}
        </div>
      </div>

      <div class="right">
        <div id="annuler"
          class="cust-button cust-button--secondary"
          (click)="close()">
          <span>{{ 'labels.btnCancel' | translate }}</span>
        </div>

        <div id="valider"
          class="cust-button cust-button--success"
          (click)="submit()">
          <span>Valider</span>
        </div>
      </div>

      <div class="close"
        (click)="close()">
        <img src="./assets/app/images/Icons/x.svg"
          alt="Close button">
      </div>
    </div>
    <!-- #endregion -->

    <!-- #region Body -->
    <div class="body">
      <form [formGroup]="form">
        <div class="row">

          <!-- Name -->
          <div class="col">
            <div class="cust-input-group">
              <div class="cust-label">{{ 'labels.nom' | translate }} :</div>
              <div class="cust-input">
                <label class="cust-input__wrapper">
                  <input class="cust-input__input"
                    id="add-nom-chantier-form-btn"
                    type="text"
                    formControlName="nom">
                </label>
              </div>
            </div>
          </div>

          <!-- Client -->
          <div class="col">
            <div class="cust-input-group">
              <div class="cust-label">{{ 'labels.client' | translate }} :</div>
              <div class="cust-input cust-input--select">
                <label class="cust-input__wrapper">
                  <mat-select id="add-client-chantier-form-btn"
                    class="cust-input__input"
                    formControlName="idclient"
                    (change)="getClients()">
                    <mat-option>
                      <ngx-mat-select-search ngModel
                        (ngModelChange)="filterclient($event)"
                        placeholderLabel="Chercher"
                        noEntriesFoundLabel="aucun élément trouvé"
                        [ngModelOptions]="{standalone: true}">
                      </ngx-mat-select-search>
                    </mat-option>

                    <mat-option class="mat-add"
                      id="add-add-chantier-form-btn"
                      (click)="addClient()">
                      <span>Nouveau client</span>
                      <img src="./assets/app/images/Icons/plus.svg"
                        alt="Plus icon">
                    </mat-option>
                    <mat-option *ngFor="let client of clients; let i = index"
                      id="add-client-chantier"
                      [value]="client.id">{{ client?.reference }} : {{ client?.name }}</mat-option>
                  </mat-select>
                </label>
              </div>
            </div>
          </div>

          <!-- Status -->
          <div class="col">
            <mat-form-field id="status-select"
              class="cust-input-group">
              <div class="cust-label">{{ 'labels.status' | translate }} :</div>
              <div class="cust-input cust-input--select cust-input--status"
                [style.color]="selectedStatus?.color">
                <label class="cust-input__wrapper">
                  <mat-select id="add-status-chantier-form-btn"
                    class="cust-input__input"
                    [panelClass]="'cust-menu--status'"
                    [value]="selectedStatus"
                    (valueChange)="onStatusChanged($event)">
                    <mat-option *ngFor="let stts of statuts; let i = index"
                      id="add-status-chantier"
                      [style.color]="stts?.color"
                      [value]="stts">{{ stts?.label }}</mat-option>
                  </mat-select>
                </label>
              </div>
            </mat-form-field>
          </div>

          <!-- Montant -->
          <div class="col">
            <div class="cust-input-group">
              <div class="cust-label cust-label--nowrap">{{ 'labels.montant' | translate }} heure de sous-traitance:
              </div>
              <div class="cust-input cust-input--number">
                <label class="cust-input__wrapper">
                  <input class="cust-input__input"
                    matInput
                    type="number"
                    id="add-montant-chantier-form-btn"
                    formControlName="montant">
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="row">

          <!-- Hours -->
          <div class="col">
            <div class="cust-input-group">
              <div class="cust-label">Nombres d'heures de sous traitance :</div>
              <div class="cust-input">
                <label class="cust-input__wrapper">
                  <input class="cust-input__input"
                    matInput
                    type="number"
                    min="0"
                    id="add-montant-chantier-form-btn"
                    formControlName="nombrHeure">
                </label>
              </div>
            </div>
          </div>

          <!-- Description -->
          <div class="col">
            <div class="cust-input-group">
              <div class="cust-label">{{ 'labels.description' | translate }} :</div>
              <div class="cust-input cust-input--textarea">
                <label class="cust-input__wrapper">
                  <textarea matInput
                    class="cust-input__input"
                    id="add-description-chantier-form-btn"
                    rows="5"
                    formControlName="description"
                    [placeholder]="'Entrez votre description'"></textarea>
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="row">

          <!-- Comment -->
          <div class="col">
            <div class="cust-input-group">
              <div class="cust-label">{{ 'labels.commentaire' | translate }} :</div>
              <div class="cust-input cust-input--textarea">
                <label class="cust-input__wrapper">
                  <textarea matInput
                    class="cust-input__input"
                    id="add-commentaire-chantier-form-btn"
                    rows="5"
                    formControlName="commentaire"
                    [placeholder]="'Entrez votre commentaire'"></textarea>
                </label>
              </div>
            </div>
          </div>

          <!-- Advancelent -->
          <div class="col">
            <div class="cust-input-group">
              <div class="cust-label">Taux d'avancement :</div>
              <div class="slider">
                <app-slider [value]="form?.value?.tauxAvancement || 0"
                  (change)="onTauxUpdate($event)"></app-slider>
              </div>
            </div>
          </div>
        </div>
        <!-- add rubrique -->
        <div class="row">
          <div class="col">
            <div class="cust-input-group">
              <div class="cust-label">{{ 'labels.addRubrique' | translate }} : </div>
              <div>
                <tags-rubrique [allTagsList]="allTagsList"
                  [newTags]="newTags"
                  [load]="[]"
                  (onTagsChange)="onTagsChange($event)">
                </tags-rubrique>
              </div>
            </div>
          </div>
        </div>

      </form>
    </div>
    <!-- #endregion -->
  </div>
</div>
