.agenda-form {
  padding: 20px;

  max-width: 80vw;
  width: 412px;

  .head {
    position: relative;

    .title {
      .input {
        margin-top: 20px;
        padding-bottom: 5px;

        border: none;
        border-bottom: 1px solid #51717b36;

        font-family: Qanelas;
        font-size: 1.4rem;
        font-weight: 500;

        color: #72949e;
        width: 100%;

        &:active,
        &:focus {
          outline: none;
        }

        &::placeholder {
          color: #72949e;
        }
      }
    }

    .types {
      display: flex;
      flex-wrap: wrap;

      margin-top: 15px;

      .type {
        cursor: pointer;

        border-radius: 4px;
        border: 1px solid #a2a2a2;

        background-color: #ffffff;
        color: #797979;
        font-family: Raleway;

        margin: 0 15px 15px 0;
        padding: 8px 10px;

        transition-duration: 0.2s;
        transition-property: background-color border-color color;

        &:last-of-type {
          margin-right: 0;
        }

        &:hover {
          background-color: #f0f0f0;
        }

        &.active {
          &.type--rappels {
            background-color: #feb969 !important;
            border-color: #feb969 !important;
            color: #ffffff !important;
          }

          &.type--taches {
            background-color: #47a2c1 !important;
            border-color: #47a2c1 !important;
            color: #ffffff !important;
          }

          &.type--evenements {
            background-color: #38b475 !important;
            border-color: #38b475 !important;
            color: #ffffff !important;
          }

          &.type--interventionsMaintenance {
            background-color: #05658d !important;
            border-color: #05658d !important;
            color: #ffffff !important;
          }

          &.type--interventionsChantier {
            background-color: #f14f63 !important;
            border-color: #f14f63 !important;
            color: #ffffff !important;
          }
        }
      }
    }

    .close {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .body {
    margin-top: 5px;

    .upper-row {
      display: flex;
      align-items: center;

      padding: 0 18px;

      .checkbox {
        cursor: pointer;

        margin-left: auto;
        margin-top: 10px;

        input {
          position: relative;
          top: 1px;
        }

        span {
          margin-left: 5px;
        }
      }
    }

    .timepicker {
      display: flex;
      align-items: center;

      height: 100%;
      width: fit-content;

      input {
        border: none;

        font-family: Qanelas;
        font-size: 14px;
        font-weight: 600;

        &:focus,
        &:active {
          outline: none;
        }
      }
    }
    mat-form-field {
      padding-bottom: 0 !important;
      width: 100%;

      &::ng-deep {
        .mat-form-field-wrapper {
          padding-bottom: 0 !important;
        }

        .mat-form-field-label {
          left: 15px !important;
        }
      }

      textarea {
        position: relative;
        top: -10px;

        border: 0;
        border-radius: 5px;

        background-color: #f1f7f9;
        padding: 16px 18px;

        width: 100%;

        &:active,
        &:focus {
          outline: none;
        }
      }
    }
  }

  .foot {
    text-align: right;

    .validation {
      cursor: pointer;
      padding: 12px 14px;

      border: none;
      border-radius: 4px;

      background-color: #38b475;
      color: white;

      transition-duration: 0.2s;
      transition-property: background-color;

      &:focus {
        outline: none;
      }

      &:hover {
        background-color: #4bc487;
      }
    }

    .otheroption {
      cursor: pointer;
      padding: 12px 14px;

      border: none;
      border-radius: 4px;

      background-color: #cfd6d3;
      color: white;

      transition-duration: 0.2s;
      transition-property: background-color;
      margin-right: 5px;

      &:focus {
        outline: none;
      }

      &:hover {
        background-color: #cfd6d3;
      }
    }
  }
}

.colorVert {
  color: #8bd0ad;
}
