@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800&display=swap');
body {
  font-family: 'Raleway', sans-serif !important;
}

.navigation > li {
  padding: 0 !important;
  border-left: 0px !important;
  border: 0.5px solid #ecf0f1 !important;
}

.navigation li a {
  border-left: 0px !important;
}

.main-menu.menu-light .navigation > li > a {
  padding: 0px !important;
}

.navigation li.active > a > i {
  background-color: #1b9db3 !important;
  color: #ffffff;
}

.main-menu.menu-light .navigation > li > a i {
  top: 0px;
}

.menu-title {
  font-size: 13.5px;
  font-family: 'Open Sans', sans-serif !important;
}

a > i {
  text-align: center !important;
  background-color: transparent !important;
}

/*================================================================================
	Item Name: Stack - Responsive Admin Theme
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

ngb-accordion.accordion .card {
  border: 1px solid #404e67;
}

ngb-accordion.accordion .card-header {
  padding-top: 0;
  padding-bottom: 0;
  background: #eeeeef;
}

ngb-accordion.accordion .btn.btn-link {
  display: block;
  width: 100%;
  text-align: left;
}

ngb-accordion.accordion .btn.btn-link .btn-group.btn-action {
  right: 0;
  float: right;
}

ngb-accordion.accordion .btn.btn-link > span {
  display: inline-block;
  margin-top: 10px;
}

.module {
  float: left;
  width: 25%;
  padding: 10px;
  background: #fdfdfd;
  margin: 5px;
}

.module .title {
  padding: 5px;
  background: #eeeeef;
  text-align: center;
}
/* 
.card-body {
  overflow: auto;
} */

.action {
  padding: 5px 10px;
}

/*
.form-inova-control  input {
    width: 90%;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #4E5154;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #BABFC7;
    border-radius: 0.25rem;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-inova-control {
    display: block;
}

.form-inova-control span {
    display: block;
}

.form-inova-control button {
    font-size: 1rem;
    line-height: 1.25;
    color: #4E5154;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #BABFC7;
    border-radius: 0.25rem;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    padding-top: 0.25rem;
    padding-right: 0rem;
    padding-bottom: 0.25rem;
    padding-left: 0rem;
}
.ui-calendar.ui-calendar-w-btn input {
    padding: 0.75rem 1rem !important;
}

.inova-btns {
    padding: 17px 0px;
}*/

.actions {
  text-align: center;
}

.btn-actions {
  padding: 0.4rem 0.6rem !important;
}

.ng-select .ng-select-container {
  height: 2.3rem !important;
  min-height: 0 !important;
}

.navbar-semi-light {
  background: #0c5cde;
  /* background-image: url(assets/app/images/sbp.png); */
  background-color: #f5f5f5 !important;
  background-position: 100% 61%;
  transform: translate3d(0px, 0px, 0px);
  background-size: 100%;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: white;
  background-color: #434242;
  font-weight: 600;
}

.btn-primary {
  color: white !important;
  background-color: #1b9db3 !important;
  border-color: #1b9db3 !important;
  border-width: 2px;
  font-weight: 700;
  padding-right: 25px;
  padding-left: 25px;
}
.btn-primary:hover {
  color: #1b9db3 !important;
  background-color: transparent !important;
  border-color: #1b9db3 !important;
}

body a {
  color: #84cbab;
  text-decoration: none;
}

footer.footer-dark {
  background: #404e67;
  color: rgba(255, 255, 255, 0.47) !important;
}

.navigation > li {
  padding: 0 !important;
  border-left: 0px !important;
  border: 0.5px solid #ecf0f1 !important;
}

.navigation li a {
  border-left: 0px !important;
}

.navigation-main > .nav-item > a > i {
  background: #84cbab;
  color: #fff;
  padding: 10%;
  margin-left: 0 !important;
}

.main-menu.menu-light .navigation > li > a {
  padding-left: 0 !important;
  margin-left: 0 !important;
}

.navigation li.active > a > i {
  background-color: #1b9db3 !important;
  color: #ffffff;
}

.main-menu.menu-light .navigation > li > a i {
  top: 0px;
}

.menu-title {
  font-size: 13.5px !important;
  /*font-family: "Open Sans", sans-serif !important;*/
  /* //color: white !important; */
}

a > i {
  text-align: center !important;
}

/* .main-menu.menu-light .navigation > li.active > a {
  background-color: #1B9DB3 !important;
  color: #fff !important;
} */

.main-menu.menu-light .navigation > li.active > a {
  color: #fff;
  background: #84cbab;
}

.main-menu.menu-light .navigation > li.active > a > i {
  color: #fff;
  background: #1b9db3;
}

.main-menu.menu-light .navigation > li.hover > a {
  color: #fff;
  background: #4da1bf;
}

.main-menu.menu-light .navigation > li.hover > a > i {
  color: #fff;
  background: #4da1bf;
}

.main-menu.menu-light .navigation > li {
  padding: 0 !important;
  border-left: none;
}

.btn-danger {
  color: #fff !important;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger:hover {
  color: #d9534f !important;
}

.btn-success {
  border-color: #1b9db3 !important;
  background-color: #1b9db3 !important;
  border-width: 2px;
  color: white !important;
  font-weight: 700;
}

.btn-success:hover {
  border-color: #1b9db3 !important;
  background-color: transparent !important;
  color: #1b9db3 !important;
}

.btn-success:focus,
.btn-success:active {
  border-color: #1b9db3 !important;
  background-color: transparent !important;
  color: #1b9db3 !important;
}
span.float-md-left.d-block.d-md-inline-block {
  color: rgb(255, 255, 255);
}

a.text-bold-800.grey.darken-2 {
  color: #84cbab;
}

.timeline-item > .timeline-card > .card-header {
  background-color: #1b9db366;
  border-bottom: 1px solid #1b9db3;
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color: #84cbab;
  background-color: transparent;
  border: 1px solid #84cbab;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #1b9db3;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  background-color: #1b9db3;
}

.bg-primary {
  background-color: #1b9db3 !important;
  color: white !important;
}

.border-primary {
  border: 1px solid #1b9db3 !important;
}

.custom-loader {
  background-color: #1b9db3 !important;
  color: #fff !important;
  width: 25em !important;
  padding: 3rem 0rem !important;
  opacity: 0.95 !important;
  position: absolute;
  top: 35%;
  left: 35%;
  text-align: center;
}

.main-menu.menu-light .navigation > li ul .active > a {
  background-color: #0c5cde !important;
  color: white !important;
}

.main-menu.menu-light .navigation > li ul .active > a:hover {
  background-color: #4da1bf !important;
  color: #ffffff !important;
}

.menu-item .is-shown .hover {
  background-color: #1b9db3 !important;
}

.main-menu.menu-light .navigation > li > a:hover {
  background: #0c5cde !important;
  color: #fff;
}

.main-menu.menu-light .navigation > li ul li > a:hover {
  /* // padding: 10px 18px 10px 50px; */
  background: #4da1bf !important;
  color: #fff;
}

.main-menu.menu-light .navigation > li ul li > a:hover > i {
  background: #4da1bf !important;
  color: #fff;
}

form .form-section {
  line-height: 3rem;
  margin-bottom: 20px;
  color: #434242;
  border-bottom: 1px solid #434242;
  /* font-family: montserrat; */
  font-size: 16px;
  font-weight: 500;
}

.modal-header > h4 {
  text-align: center;
  width: 100%;
  /* font-family: "Source Sans Pro"; */
}

.modal-header > h3 {
  text-align: center;
  width: 100%;
  /* font-family: "Source Sans Pro"; */
}

.modal-header {
  color: white;
  background: #1b9db3;
  border-bottom: none;
  /* border-bottom: 2px solid rgb(0, 17, 25); */
  /* font-family: "Source Sans Pro"; */
}

.modal-body {
  max-height: 30vw !important;
  /* overflow: auto; */
}

.modal-content--cloture .modal-body {
  max-height: auto !important;
}

.modal-body.user-select {
  max-height: 80vh !important;
}

.fc-button-primary {
  color: #434242 !important;
  background: #ffffff !important;
  border: 1px solid #434242 !important;
}
.fc-button-primary.fc-button-active {
  color: #ffffff !important;
  background-color: #434242 !important;
  border-color: #434242 !important;
  box-shadow: none !important;
}
.fc-button.fc-button-primary {
  box-shadow: none !important;
}
h2 {
  color: #434242;
}

span.fc-icon.fc-icon-chevrons-right:before {
  /* background: red !important; */
  /* width: 20px; */
  font-family: FontAwesome;
  /* content: "\f100"; */
  content: '\f101';
}

span.fc-icon.fc-icon-chevrons-left:before {
  font-family: FontAwesome;
  content: '\f100';
}

span.fc-icon.fc-icon-chevron-left:before {
  font-family: FontAwesome;
  content: '\f104';
}

span.fc-icon.fc-icon-chevron-right:before {
  font-family: FontAwesome;
  content: '\f105';
}

.main-menu.menu-light {
  color: #ffffff;
  background: #2c445a;
  border-right: none;
}

.navigation-main > .nav-item > a > i {
  background: #2c445a;
  color: #fff;
  padding: 10%;
  margin-left: 0 !important;
}

.navigation-main > .nav-item > a > i {
  background: #2c445a;
  color: rgba(255, 255, 255, 0.47) !important;
  padding: 10%;
  margin-left: 0 !important;
}

.main-menu.menu-light .navigation > li.open > a {
  color: #ffffff !important;
  background-color: #0c5cde !important;
  border: none !important;
}

.main-menu.menu-light .navigation > li.active > a > i {
  color: #fff !important;
  background: #1b9db3;
}

.main-menu.menu-light .navigation > li.open {
  /* border-bottom: 1px solid rgba(107, 108, 109, 0.19) !important; */
  border-bottom: none;
}

.navigation > li {
  border-left: 0px !important;
  border-bottom: none !important;
}

li.nav-item {
  border: none !important;
}

a#dropdownUser {
  color: #758593 !important;
}

a#stackNavMenu {
  color: #758593 !important;
}

.navbar-header {
  background: #0c5cde !important;
}

nav#stackNav {
  border: none;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.content-wrapper {
  background: #ececec !important;
}

.app-content.content {
  background: #eaeaea;
}

li.menu-item.has-sub {
  border-top: none !important;
}

li.nav-item.active {
  line-height: 26px;
}

.card-header {
  background: #1b9db3;
  color: white;
  padding: 1rem 1.5rem;
}

.avatar i {
  position: absolute;
  right: -7px;
  bottom: 12px;
  width: 10px;
  font-weight: 800;
}

span.user-name {
  font-weight: 600;
}

.main-menu.menu-light .navigation > li.has-sub.open > a {
  color: rgba(255, 255, 255, 0.47) !important;
  background-color: #0c5cde !important;
  border: none !important;
}

/* ng-reflect-ng-class="menu-item has-sub open" */

.main-menu.menu-light .navigation > li.has-sub.open > a > i {
  color: rgba(255, 255, 255, 0.47) !important;
  background-color: #283d51 !important;
  border: none !important;
}

.main-menu.menu-light .navigation > li.open > a:hover {
  color: #ffffff !important;
  background-color: #0c5cde !important;
}

.main-menu.menu-light .navigation > li.active > a > i:hover {
  color: #fff !important;
  background: #4da1bf !important;
}

.nav-pill-bordered > .nav-item > a {
  border: 1px solid #434242;
  color: #434242;
  border-radius: 0%;
}
.navbar-header {
  background: #0c5cde !important ;
}

li.breadcrumb-item > a {
  color: #434242 !important;
  font-weight: 600;
}

li.nav-item.open > a > i {
  background-color: #0c5cde !important;
  color: #fff !important;
}

.btn-lg,
.btn-light {
  padding: 1rem 1.25rem !important;
  font-size: 1.25rem !important;
  line-height: 0.75 !important;
  border-radius: 0.27rem !important;
  font-size: 15px !important;
}
.btn-primary:focus,
.btn-primary:active {
  color: #434242 !important;
  background-color: transparent !important;
  border-color: #1b9db3 !important;
}

.no-data-available {
  text-align: center;
}

.modal-footer {
  color: white;
  background: #ffffff;
  border-top: 1px solid #1b9db3;
  margin: 0 !important;
  padding: 0.3rem 0.5rem !important;
}

p-splitbutton > .ui-button-primary > button {
  height: 40px;
}

.main-menu ul.navigation-main {
  overflow-y: scroll;
  height: 100%;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
.main-menu ul.navigation-main::-webkit-scrollbar {
  width: 0px;
}
mat-dialog-container {
  padding: 0 !important;
  overflow: hidden !important;
}

.dataTables_empty {
  display: none;
}

select.custom-select.custom-select-sm.form-control.form-control-sm {
  /* height: calc(1.375rem + 2px); */
  /* background-color: #3e5e7b; */
  color: #434242 !important;
  border: 1px solid #1b9db3 !important;
}

/**
* Custom icon color
**/
.icon-primary {
  color: #918f90 !important;
}
.icon-danger {
  color: #f44336 !important;
}
.icon-success {
  color: #2ecc71 !important;
}
.icon-warning {
  color: #ba9376 !important;
}

.btn-transparent {
  border-color: transparent !important;
  background-color: transparent !important;
  color: #ffffff !important;
}

.font-italic {
  font-style: italic !important;
}

/**
* Price show
**/
.display-price {
  white-space: nowrap;
}

th.sorting {
  color: #404e67 !important;
}
th.sorting_disabled {
  color: #404e67 !important;
}
th {
  color: #404e67 !important;
}
th.ng-star-inserted.sorting_disabled {
  /* text-align: center; */
  text-align: center !important;
}
.btn-warning {
  color: #fff !important;
  background-color: #ffa87d;
  border-color: #ffa87d;
}
.btn-warning:hover {
  color: #fff !important;
  background-color: #ff8e57;
  border-color: #ff864a;
}
.btn-warning.focus,
.btn-warning:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 168, 125, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(255, 168, 125, 0.5);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #fff !important;
  background-color: #ffa87d;
  border-color: #ffa87d;
}
.btn-warning:not(:disabled):not(.disabled).active,
.btn-warning:not(:disabled):not(.disabled):active,
.show > .btn-warning.dropdown-toggle {
  color: #fff !important;
  background-color: #ff864a;
  border-color: #ff7d3d;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff !important;
  background-color: #1b9db3;
  border-color: #1b9db3;
}
.btn-info {
  border-color: #22c2dc !important;
  background-color: #2dcee3 !important;
  color: #fff !important;
}

.btn-info:hover {
  border-color: #28c9e0 !important;
  background-color: #4dd5e7 !important;
  color: #fff !important;
}
.btn-info:active,
.btn-info:focus {
  border-color: #22c2dc !important;
  background-color: #1cbcd8 !important;
  color: #fff !important;
}
.btn-outline-info {
  border-color: #2dcee3;
  background-color: transparent;
  color: #2dcee3;
}
.btn-outline-info:hover {
  background-color: #2dcee3;
  color: #fff !important;
}

body .ui-button {
  color: #ffffff !important;
}

.btn-warning:hover {
  color: #ff864a !important;
  background-color: #ff8e57;
  border-color: #ff864a;
}

.btn-warning:focus,
.btn-warning.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 168, 125, 0.5);
}

.btn-warning.disabled,
.btn-warning:disabled {
  color: #fff;
  background-color: #ffa87d;
  border-color: #ffa87d;
}

.btn-warning:not(:disabled):not(.disabled):active,
.btn-warning:not(:disabled):not(.disabled).active,
.show > .btn-warning.dropdown-toggle {
  color: #fff;
  background-color: #ff864a;
  border-color: #ff7d3d;
}

.btn-warning:not(:disabled):not(.disabled):active:focus,
.btn-warning:not(:disabled):not(.disabled).active:focus,
.show > .btn-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 168, 125, 0.5);
}
/* span.ui-button-text.ui-clickable {
  color: black !important;
} */
span.ui-button-text.ui-clickable {
  color: white !important;
  background-color: #1b9db3 !important;
}

span.ui-button-text.ui-clickable:hover {
  color: white !important;
  background-color: #1b9db3 !important;
}
.ng-tns-c6-0.ui-button-primary.ui-splitbutton.ui-buttonset.ui-widget {
  background-color: #1b9db3 !important;
}
button.ui-splitbutton-menubutton.ui-button.ui-widget.ui-state-default.ui-corner-right.ui-button-icon-only {
  color: #fff !important;
  background-color: #1b9db3 !important;
}
button.ui-splitbutton-menubutton.ui-button.ui-widget.ui-state-default.ui-corner-right.ui-button-icon-only:hover {
  color: #fff !important;
  background-color: #1b9db3 !important;
}
