<div class="root">
	<div class="col">

		<div class="row">
			<div class="root col">
				<div class="details">
					<div class="cust-card cust-card--padding">
						<div class="cust-card__head">
							<div class="left">
								<div class="title"> {{ chantier?.name}}

									<mat-tab-group mat-align-tabs="center" (selectedTabChange)="tabs($event)">
										<!-- information -->
										<mat-tab data-name="information" [label]="'show.information' | translate">

										</mat-tab>
										<!-- documents -->
										<mat-tab data-name="documents" [label]="'show.documents' | translate" (click)="getNbDocuments()">
										</mat-tab>
										<!-- recaptulatiffinancier -->
										<mat-tab data-name="recaptulatiffinancier" [label]="'show.recaptulatiffinancier' | translate"
											(click)="GetRecapitulatifFinancier()">

										</mat-tab>
										<mat-tab data-name="retenuegarantie" [label]="'show.retenuegarantie' | translate">

										</mat-tab>
										<mat-tab data-name="historique" [label]="'show.historique' | translate">

										</mat-tab>


									</mat-tab-group>

								</div>
							</div>

							<!-- Right controls -->
							<div class="right flexcontrols">

								<div id="modifier" class="cust-button cust-button--success" (click)="modifier()">
									<span>Modifier</span>
								</div>
							</div>
						</div>
						<div class="cust-card__body" [ngClass]="{ 'no-padding': selectedTabs === 'recaptulatiffinancier' }"
							*ngIf="selectedTabs !== 'information'">

							<div *ngIf="selectedTabs === 'documents'">
								<app-rebrique (OnRefresh)="refresh($event)" [nbDocuments]="nbDocuments">
								</app-rebrique>
							</div>

							<div *ngIf="selectedTabs === 'recaptulatiffinancier'">
								<app-recaptulatif-financier [recapitulatifFinancierData]="recapitulatifFinancierData">
								</app-recaptulatif-financier>
							</div>
							<div *ngIf="selectedTabs === 'retenuegarantie'">
								<app-retenue-garantie [listRetenueGaranties]="listRetenueGaranties"
									(ChangeStatut)="changeStatut($event)" (ChangeDateRetenue)="changeDateRetenue($event)">
								</app-retenue-garantie>
							</div>
							<div *ngIf="selectedTabs === 'historique'">
								<common-historiques [historique]="historique"></common-historiques>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div *ngIf="selectedTabs === 'information'" class="col">
				<chantier-information [chantier]="chantier"></chantier-information>
			</div>
		</div>

	</div>
</div>
<!-- 
<div *ngIf="selectedTabs === 'information'">
	<chantier-information [chantier]="chantier"></chantier-information>

</div> -->