<div class="row" *ngIf="contratEntretien">
    <div class="col main-col" [ngClass]="{ 'collapsed-col': !actionsOpened }">
        <div class="row">
            <div class="root col">
                <div class="details">
                    <div class="cust-card cust-card--padding">
                        <div class="cust-card__head">
                            <div class="left">
                                <div class="title"> {{ contratEntretien?.reference}}
                                </div>
                            </div>
                            <div>
                                <mat-tab-group mat-align-tabs="center" (selectedTabChange)="tabs($event)">
                                    <!-- Information -->
                                    <mat-tab data-name="information" [label]="'LABELS.INFORMATIONS' | translate"
                                        (click)="modifier()">
                                    </mat-tab>

                                    <!-- note -->
                                    <mat-tab data-name="note" [label]="'LABELS.NOTES' | translate">

                                    </mat-tab>


                                    <!-- History -->
                                    <mat-tab data-name="historique" [label]="'LABELS.HISTORIQUE' | translate">

                                    </mat-tab>


                                    <mat-tab *ngIf="contratEntretien?.status != statutContratEntretien.Brouillon"
                                        data-name="visiteMain" [label]="'LABELS.visiteMaintenance' | translate">

                                    </mat-tab>
                                </mat-tab-group>
                            </div>

                            <!-- Right controls -->
                            <div class="right flexcontrols menu-points-beta">
                                <div id="modifier" class="cust-button cust-button--success" (click)="modifier()">
                                    <span>Modifier</span>
                                </div>


                            </div>
                        </div>

                        <div class="cust-card__body" *ngIf="selectedTabs !== 'information'">

                            <div *ngIf="selectedTabs === 'note'">
                                <common-memos [memos]="memos" (valueChange)="saveMemo($event)"
                                    (download)="downloadPieceJointe($event)" [processIsStarting]="processing">
                                </common-memos>
                            </div>

                            <div *ngIf="selectedTabs === 'historique'">
                                <common-historiques [historique]="historique"></common-historiques>
                            </div>

                            <div *ngIf="selectedTabs === 'visiteMain'">
                                <app-visite-maintenance [visiteMaintenance]="visiteMain" (OnRefresh)="refresh()">
                                </app-visite-maintenance>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div *ngIf="selectedTabs === 'information'" class="col">
                <information-contratEntretien [contratEntretien]="contratEntretien" [recurrente]="recurrente">
                </information-contratEntretien>
            </div>
        </div>

    </div>
    <div class="col side-col">
        <app-actions [actions]="items" [document]="contratEntretien" (toggeled)="onToggle($event)"></app-actions>
    </div>
</div>

<custom-loader [displayLoader]="processing"></custom-loader>