<button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon color="primary">reorder icon</mat-icon>
</button>

<mat-menu #menu="matMenu">
    <li *ngFor="let column of columns;let i = index"
        (click)="$event.stopPropagation();ColumnSelected(i, !_checkedColumns[i], true)"
        mat-menu-item>
        <mat-icon [color]="!_checkedColumns[i] ? 'primary' : 'secondary'">check</mat-icon>
        <span class="mr-3">{{ column | translate }}</span>
    </li>
      <li mat-menu-item>
        <button
            class="btn btn-brand w-100"
            (click)="operations()">
            {{(showAll ? 'LABELS.SHOW_NONE' : 'LABELS.SHOW_ALL') |translate }}
        </button>
      </li>
</mat-menu>
