<div class="root">
  <div class="row">
    <div class="col">
      <div class="details">
        <div class="cust-card cust-card--padding">

          <div class="cust-card__head">

            <div class="left">
              <div class="title"
                *ngIf="isModif()">
                {{  'update.' + docType | translate }} : {{ user?.reference }}
              </div>
              <div class="title"
                *ngIf="!isModif()">
                {{  'create.' + docType | translate }}
              </div>
            </div>

            <div class="right flexcontrols">
              <div class="flexcontrols">

                <div id="annuler"
                  class="cust-button cust-button--secondary"
                  (click)="close()">
                  <span> Annuler </span>
                </div>

                <div id="valider"
                  class="cust-button cust-button--success"
                  (click)="submit()">
                  <span>Valider</span>
                </div>
              </div>

            </div>
          </div>

          <div class="cust-card__body">
            <div class="body">
              <form [formGroup]="form">

                <div class="row">

                  <!-- REFERENCE -->
                  <div class="col">
                    <div class="cust-input-group">
                      <div class="cust-label">{{ 'LABELS.LASTNAME' | translate }} :</div>
                      <div class="cust-input">
                        <label class="cust-input__wrapper">
                          <input class="cust-input__input"
                            id="add-nom-btn"
                            type="text"
                            formControlName="nom">
                        </label>
                      </div>
                      <small class="text-danger"
                        *ngIf="f?.nom?.errors?.required">{{'errors.required'
                                                | translate }}</small>
                      <small class="text-danger"
                        *ngIf="f?.nom?.errors?.minlength">{{'errors.minLength'
                                                | translate:{ number:2} }}</small>
                    </div>
                  </div>

                  <div class="col">
                    <div class="cust-input-group">
                      <div class="cust-label">{{ 'LABELS.NOM' | translate }} :</div>
                      <div class="cust-input">
                        <label class="cust-input__wrapper">
                          <input class="cust-input__input"
                            id="add-prenom-btn"
                            type="text"
                            formControlName="prenom">
                        </label>
                      </div>
                      <small class="text-danger"
                        *ngIf="f?.prenom?.errors?.required">{{'errors.required'
                                                | translate }}</small>
                      <small class="text-danger"
                        *ngIf="f?.prenom?.errors?.minlength">{{'errors.minLength'
                                                | translate:{ number:2} }}</small>
                    </div>
                  </div>


                  <div class="col">
                    <div class="cust-input-group">
                      <div class="cust-label">{{ 'LABELS.MATRICULE' | translate }} :</div>
                      <div class="cust-input">
                        <label class="cust-input__wrapper">
                          <input class="cust-input__input"
                            id="add-matricule-btn"
                            type="text"
                            formControlName="matricule">
                        </label>
                      </div>
                      <small class="text-danger"
                        *ngIf="f?.matricule?.errors?.required">{{'errors.required' | translate }}</small>
                      <small class="text-danger"
                        *ngIf="f?.matricule?.hasError('CheckUniqueReference')">{{'errors.unique' | translate }}</small>
                    </div>
                  </div>

                </div>

                <br>

                <div class="row">

                  <!-- REFERENCE -->
                  <div class="col">
                    <div class="cust-input-group">
                      <div class="cust-label">{{ 'LABELS.USERNAM' | translate }} :</div>
                      <div class="cust-input">
                        <label class="cust-input__wrapper">
                          <input class="cust-input__input"
                            id="add-username-btn"
                            type="text"
                            formControlName="username">
                        </label>
                      </div>
                      <small class="text-danger"
                        *ngIf="f?.username?.errors?.minlength">{{'errors.minLength'
                                                | translate:{number:6} }}</small>
                      <small class="text-danger"
                        *ngIf="f?.username?.errors?.required">{{'errors.required'
                                                | translate }}</small>
                      <small class="text-danger"
                        *ngIf="f?.username?.hasError('checkUniqueUserName')">{{'errors.unique' | translate }}</small>
                    </div>
                  </div>


                  <div class="col">
                    <div class="cust-input-group">
                      <div class="cust-label">{{ 'LABELS.EMAIL' | translate }} :</div>
                      <div class="cust-input">
                        <label class="cust-input__wrapper">
                          <input class="cust-input__input"
                            id="add-username-btn"
                            type="text"
                            formControlName="email">
                        </label>
                      </div>
                      <small class="text-danger"
                        *ngIf="f?.email?.errors?.pattern">
                        {{'errors.pattern' | translate}}
                      </small>
                    </div>
                  </div>

                  <div class="col">
                    <div class="cust-input-group">
                      <div class="cust-label">{{ 'LABELS.PHONE' | translate }} :</div>
                      <div class="cust-input">
                        <label class="cust-input__wrapper">
                          <input class="cust-input__input"
                            id="add-username-btn"
                            type="text"
                            formControlName="phonenumber">
                        </label>
                      </div>
                      <small class="text-danger"
                        *ngIf="f?.phonenumber?.errors?.minlength">{{'errors.minLength'
                                            | translate:{number:10} }}</small>
                      <small class="text-danger"
                        *ngIf="f?.phonenumber?.errors?.pattern">
                        {{'errors.pattern' | translate}}
                      </small>
                    </div>
                  </div>

                </div>

                <br>

                <div class="row">

                  <div class="active-checkbox">
                    <div class="cust-input-group">
                      <mat-checkbox class="new-checkbox"
                        formControlName="actif">
                        {{ 'LABELS.ACTIF' | translate }}
                      </mat-checkbox>
                    </div>
                  </div>

                  <div class="col">
                    <div class="cust-input-group">
                      <div class="cust-label">{{ 'LABELS.PROFILE' | translate }} :</div>
                      <div class="cust-input cust-input--select">
                        <label class="cust-input__wrapper">
                          <mat-select id="add-idprofile-form-btn"
                            class="cust-input__input"
                            formControlName="idprofile">
                            <mat-option *ngFor="let profile of Profiles"
                              id="add-profile"
                              [value]="profile.id">
                              {{profile?.libelle}} </mat-option>
                          </mat-select>

                        </label>
                      </div>
                      <small class="text-danger"
                        *ngIf="f?.idprofile?.errors?.required">{{'errors.required'
                                                | translate }}</small>
                    </div>
                  </div>

                  <div class="col"
                    *ngIf="getTechnicien() == f?.idprofile?.value">
                    <div class="cust-input-group">
                      <div class="cust-label"> {{ 'LABELS.TYPETECH' | translate }} </div>
                      <div class="cust-input cust-input--select">
                        <label class="cust-input__wrapper">
                          <mat-select id="add-typeTechnicien-form-btn"
                            class="cust-input__input"
                            formControlName="typeTechnicien">
                            <mat-option *ngFor="let profile of ProfilesTechnicien"
                              id="add-profile"
                              [value]="profile.id">
                              {{profile?.libelle}} </mat-option>
                          </mat-select>
                        </label>
                      </div>
                      <small class="text-danger"
                        *ngIf="f?.typeTechnicien?.errors?.required">{{'errors.required'
                                                | translate }}</small>
                    </div>
                  </div>

                </div>

                <br>

                <div class="row">

                  <!-- PASSWORD -->
                  <div class="col"
                    *ngIf="!isModif()">
                    <div class="cust-input-group">
                      <div class="cust-label">{{ 'LABELS.PASSWORD' | translate }} :</div>
                      <div class="cust-input">
                        <label class="cust-input__wrapper">
                          <input class="cust-input__input"
                            id="add-password-btn"
                            type="password"
                            formControlName="password">
                        </label>
                      </div>
                      <small class="text-danger"
                        *ngIf="f?.password?.errors?.minlength">{{'errors.minLength'
                                                | translate:{number:6} }}</small>
                      <small class="text-danger"
                        *ngIf="f?.password?.errors?.required">{{'errors.required'
                                                | translate }}</small>
                    </div>
                  </div>

                  <div class="col"
                    *ngIf="!isModif()">
                    <div class="cust-input-group">
                      <div class="cust-label">{{ 'LABELS.CONFIRM_PASSWORD' | translate }} :</div>
                      <div class="cust-input">
                        <label class="cust-input__wrapper">
                          <input class="cust-input__input"
                            id="add-confirmpassword-btn"
                            type="password"
                            formControlName="confirmpassword">
                        </label>
                      </div>

                      <small class="text-danger"
                        *ngIf="f?.confirmpassword?.errors?.required">{{'errors.required'
                                            | translate }}</small>

                      <small class="text-danger"
                        *ngIf="form?.hasError('notSame') && !f?.confirmpassword?.errors?.required">
                        {{'errors.passwordsDoNotMatch' | translate}}
                      </small>
                    </div>
                  </div>
                </div>



              </form>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col"></div>
    <div class="col"></div>
  </div>
</div>
