<div class="root">
  <form class="form form-horizontal" [formGroup]="form">
    <div class="row">
      <div class="col">
        <div class="cust-card">
          <div class="cust-card__head">
            <div class="left">
              <h2 class="title">Information de l'entreprise</h2>
            </div>
            <div class="right">
              <div id="modifier" class="cust-button cust-button--success" (click)="update()">
                <span>{{ ('labels.modifier' | translate) }}</span>
              </div>
            </div>
          </div>
          <div class="cust-card__body">
            <div class="row">
              <div class="col">
                <div class="cust-input-group">
                  <div class="cust-label">{{ 'parametragePdf.companyName' | translate }} :</div>
                  <div class="cust-input">
                    <label class="cust-input__wrapper">
                      <input class="cust-input__input" type="text" formControlName="companyName"
                        [placeholder]="'parametragePdf.companyName' | translate">
                    </label>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="cust-input-group">
                  <div class="cust-label">{{ 'parametragePdf.email' | translate }} :</div>
                  <div class="cust-input">
                    <label class="cust-input__wrapper">
                      <input class="cust-input__input" type="email" formControlName="email"
                        [placeholder]="'parametragePdf.email' | translate">
                    </label>
                  </div>
                </div>
              </div>

            </div>
            <div class="row mt-2">

              <div class="col">
                <div class="cust-input-group">
                  <div class="cust-label">{{ 'parametragePdf.phoneNumber' | translate }} :</div>
                  <div class="cust-input cust-input--numero">
                    <label class="cust-input__wrapper">
                      <input class="cust-input__input" style="text-align: left;" type="tel"
                        formControlName="phoneNumber" [placeholder]="'parametragePdf.phoneNumber' | translate">
                    </label>
                  </div>
                </div>
              </div>
              <div class="col">
              </div>
            </div>

            <div class="row mt-2">
              <div class="col">
                <div class="cust-input-group">
                  <div class="cust-label">{{ 'parametragePdf.logo' | translate }} :</div>
                  <div class="form-group row">

                    <div *ngIf="logo == null" class="col">
                      <label class="label-control" for="add-startUpload-file-btn"
                        class="btn-file-upload">{{'parametragePdf.chooseFile' | translate}}</label>
                      <input class="file-input" type="file" (change)="startUpload($event.target.files)"
                        id="add-startUpload-file-btn" name="files" style="visibility:hidden;" /><br />
                      <!-- <small class="text-danger"
                        *ngIf="f?.devisExel?.errors?.required">{{'errors.required' | translate }}</small> -->
                    </div>

                    <div *ngIf="logo != null" class="col img">
                      <img [src]="logo" style="width: 60%;">
                      <i class="ft-trash ml-3" style="color: red;
                        font-size: 20px;" ngbTooltip="{{'labels.supprimer' | translate}} logo"
                        id="add-removeFile-file-btn" (click)="removeFile()"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="cust-input-group">
                  <div class="cust-label">{{ 'parametragePdf.cachet' | translate }} :</div>
                  <div class="form-group row">

                    <div *ngIf="cachet == null" class="col">
                      <label class="label-control" for="add-startUpload-file-btn"
                        class="btn-file-upload">{{'parametragePdf.chooseFile' | translate}}</label>
                      <input class="file-input" type="file" (change)="startUploadCachet($event.target.files)"
                        id="add-startUpload-file-btn" name="files" style="visibility:hidden;" /><br />
                      <!-- <small class="text-danger"
                        *ngIf="f?.devisExel?.errors?.required">{{'errors.required' | translate }}</small> -->
                    </div>

                    <div *ngIf="cachet != null" class="col img">
                      <img [src]="cachet" style="width: 60%;">
                      <i class="ft-trash ml-3" style="color: red;
                        font-size: 20px;" ngbTooltip="{{'labels.supprimer' | translate}} cachet"
                        id="add-removeFile-file-btn" (click)="removeFileCachet()"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col">
        <div class="cust-card">
          <div class="cust-card__head">
            <div class="left">
              <h2 class="title">Adresse de l'entreprise</h2>
            </div>
          </div>
          <div class="cust-card__body">
            <div class="row">
              <div class="col">
                <div class="cust-input-group">
                  <div class="cust-label">{{ 'parametragePdf.street' | translate }} :</div>
                  <div class="cust-input">
                    <label class="cust-input__wrapper">
                      <input class="cust-input__input" formControlName="street"
                        [placeholder]="'parametragePdf.street' | translate">
                    </label>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="cust-input-group">
                  <div class="cust-label">{{ 'parametragePdf.city' | translate }} :</div>
                  <div class="cust-input">
                    <label class="cust-input__wrapper">
                      <input class="cust-input__input" formControlName="city"
                        [placeholder]="'parametragePdf.city' | translate">
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <div class="cust-input-group">
                  <div class="cust-label">{{ 'parametragePdf.postalCode' | translate }} :</div>
                  <div class="cust-input cust-input--numero">
                    <label class="cust-input__wrapper">
                      <input class="cust-input__input" type="text" style="text-align: left;"
                        formControlName="postalCode" [placeholder]="'parametragePdf.postalCode' | translate">
                    </label>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="cust-input-group">
                  <div class="cust-label">{{ 'parametragePdf.countryCode' | translate }} :</div>
                  <div class="cust-input cust-input--numero">
                    <label class="cust-input__wrapper">
                      <input class="cust-input__input" style="text-align: left;" type="text"
                        formControlName="countryCode" [placeholder]="'parametragePdf.countryCode' | translate">
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col">
        <div class="cust-card">
          <div class="cust-card__head">
            <div class="left">
              <h2 class="title">Pied de page</h2>
            </div>
          </div>
          <div class="cust-card__body">
            <div class="row">
              <div class="col">
                <div class="cust-input-group">
                  <div class="cust-label">{{ 'parametragePdf.line1' | translate }} :</div>
                  <div class="cust-input">
                    <label class="cust-input__wrapper">
                      <input class="cust-input__input" formControlName="line1"
                        [placeholder]="'parametragePdf.line1' | translate">
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mt-2">
              <div class="col">
                <div class="cust-input-group">
                  <div class="cust-label">{{ 'parametragePdf.line2' | translate }} :</div>
                  <div class="cust-input">
                    <label class="cust-input__wrapper">
                      <input class="cust-input__input" formControlName="line2"
                        [placeholder]="'parametragePdf.line2' | translate">
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mt-2">
              <div class="col">
                <div class="cust-input-group">
                  <div class="cust-label">{{ 'parametragePdf.line3' | translate }} :</div>
                  <div class="cust-input cust-input--numero">
                    <label class="cust-input__wrapper">
                      <input class="cust-input__input" type="text" style="text-align: left;" formControlName="line3"
                        [placeholder]="'parametragePdf.line3' | translate">
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- <div class="content-header row">
  <div class="content-header-left col-md-6 col-12 mb-2">
    <h3 class="content-header-title mb-0"></h3>
  </div>
  <div class="content-header-right col-md-6 col-12">
    <div class="btn-group float-md-right"
      role="group">
      <button (click)="update()"
        type="submit"
        class="btn btn-success"
        placement="bottom"
        ngbTooltip="{{ 'labels.modifier' | translate }} {{ 'parametragePdf.title' | translate }}">
        <i class="fa fa-check-square-o"></i> {{ 'labels.modifier' | translate }}
      </button>
    </div>
  </div>
</div>
<section id="multi-column">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="card box-shadow-0 border-primary">
        <div class="card-content collapse show">
          <div class="card-body">
            <form class="form form-horizontal"
              [formGroup]="form">
              <h4 class="form-section">
                <i class="fa fa-address-card"></i>Information de l'entreprise
              </h4>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-md-3 label-control"
                      for="companyName">{{'parametragePdf.companyName' | translate}}
                      :
                    </label>
                    <div class="col-md-9">
                      <input type="text"
                        formControlName="companyName"
                        class="form-control"
                        placeholder="{{'parametragePdf.companyName' | translate}}">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <div class="col-md-3">
                      <label class="label-control">{{'parametragePdf.logo' | translate}}</label>
                    </div>
                    <div class="col-md-9"
                      *ngIf="logo == null">
                      <label class="label-control"
                        for="add-startUpload-file-btn"
                        class="btn-file-upload">{{'parametragePdf.chooseFile' | translate}}</label>
                      <input class="file-input"
                        type="file"
                        (change)="startUpload($event.target.files)"
                        id="add-startUpload-file-btn"
                        name="files"
                        style="visibility:hidden;" /><br />
                      <small class="text-danger"
                        *ngIf="f?.devisExel?.errors?.required">{{'errors.required' | translate }}</small>
                    </div>
                    <div class="col-md-9"
                      *ngIf="logo != null">
                      <img [src]="logo"
                        style="width: 60%;">
                      <i class="ft-trash ml-3"
                        style="color: red;
                        font-size: 20px;"
                        ngbTooltip="{{'labels.supprimer' | translate}}"
                        id="add-removeFile-file-btn"
                        (click)="removeFile()"></i>
                    </div>

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-md-3 label-control"
                      for="email">{{'parametragePdf.email' | translate}} : </label>
                    <div class="col-md-9">
                      <input type="text"
                        formControlName="email"
                        class="form-control"
                        placeholder="{{'parametragePdf.email' | translate}}">

                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-md-3 label-control"
                      for="phoneNumber">{{'parametragePdf.phoneNumber' | translate}}
                      :
                    </label>
                    <div class="col-md-9">
                      <input type="text"
                        formControlName="phoneNumber"
                        class="form-control"
                        placeholder="{{'parametragePdf.phoneNumber' | translate}}">
                    </div>
                  </div>
                </div>

              </div>
              <h4 class="form-section">
                <i class="ft-map-pin"></i>Adresse de l'entreprise

              </h4>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-md-3 label-control"
                      for="street">{{'parametragePdf.street' | translate}}
                      :
                    </label>
                    <div class="col-md-9">
                      <input type="text"
                        formControlName="street"
                        class="form-control"
                        placeholder="{{'parametragePdf.street' | translate}}">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-md-3 label-control"
                      for="city">{{'parametragePdf.city' | translate}}
                      :
                    </label>
                    <div class="col-md-9">
                      <input type="text"
                        formControlName="city"
                        class="form-control"
                        placeholder="{{'parametragePdf.city' | translate}}">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-md-3 label-control"
                      for="postalCode">{{'parametragePdf.postalCode' | translate}}
                      :
                    </label>
                    <div class="col-md-9">
                      <input type="text"
                        formControlName="postalCode"
                        class="form-control"
                        placeholder="{{'parametragePdf.postalCode' | translate}}">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-md-3 label-control"
                      for="countryCode">{{'parametragePdf.countryCode' | translate}}
                      :
                    </label>
                    <div class="col-md-9">
                      <input type="text"
                        formControlName="countryCode"
                        class="form-control"
                        placeholder="{{'parametragePdf.countryCode' | translate}}">
                    </div>
                  </div>
                </div>
              </div>

              <h4 class="form-section">
                <i class="ft-file-text"></i> Pied de page
              </h4>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group row">
                    <label class="col-md-1 label-control"
                      for="line1">{{'parametragePdf.line1' | translate}}
                      :
                    </label>
                    <div class="col-md-11">
                      <input type="text"
                        formControlName="line1"
                        class="form-control"
                        placeholder="{{'parametragePdf.line1' | translate}}">
                    </div>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group row">
                    <label class="col-md-1 label-control"
                      for="line2">{{'parametragePdf.line2' | translate}}
                      :
                    </label>
                    <div class="col-md-11">
                      <input type="text"
                        formControlName="line2"
                        class="form-control"
                        placeholder="{{'parametragePdf.line2' | translate}}">
                    </div>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group row">
                    <label class="col-md-1 label-control"
                      for="line3">{{'parametragePdf.line3' | translate}}
                      :
                    </label>
                    <div class="col-md-11">
                      <input type="text"
                        formControlName="line3"
                        class="form-control"
                        placeholder="{{'parametragePdf.line3' | translate}}">
                    </div>
                  </div>
                </div>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->