<div>
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="myModalLabel35"> Ajouter abservation</h3>
            <button type="button" class="close" (click)="close()" id="close-memos-btn">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form>
            <div class="modal-body">
                <fieldset class="form-group floating-label-form-group">
                    <label for="title1">{{'LABELS.observation' | translate}}</label>
                    <textarea class="form-control" [(ngModel)]="observation" name="observation" id="title1" rows="3"
                        placeholder="saisir ici une observation"></textarea>
                </fieldset>
            </div>
            <div class="modal-footer">
                <input type="reset" class="btn grey btn-light" (click)="close()"  id="close-memos-btn"
                    [value]="'LABELS.CLOSE' | translate" placement="top">
                <input type="submit" (click)="save()" class="btn btn-success btn-lg" data-dismiss="modal" id="save-memos-btn"
                    [value]="'LABELS.DONE' | translate" placement="top">
            </div>
        </form>
    </div>
</div>
</div>