@import './../../../assets/scss/core/mixins/scrollbar';

.close {
  font-size: 1.8rem !important;
  position: relative !important;
  top: -1.15rem !important;
  color: red !important;
  right: -1rem !important;
}

.field-value {
  padding-top: 0.75em !important;
  overflow: auto !important;
  height: 4rem !important;
}

.card {
  border: 1px #656565 solid !important;
  box-shadow: 4px 4px #656565 !important;
}

h4.card-title,
strong {
  color: #065cb3 !important;
}

.card-footer,
.card-header {
  padding: 0rem !important;
  margin: 0px !important;
}

#scrollable-content {
  padding: 5px;
  height: 70px;
  font-style: italic;
  color: #a4b0be;
  overflow: auto;
}

.custom {
  float: right;
  padding: 0px;
  margin: 0px;
  li {
    padding-right: 10px;
    padding-top: 15px;
  }
}

.list-inline {
  margin: 0px !important;
  padding-right: 5px;
  li {
    margin: 0px !important;
    padding-right: 2px;
    padding-top: 9px;
  }
}

.card-body-custom {
  padding-top: 12px;
  padding-bottom: 9px;
}

.card-body {
  height: 15rem;
}

.card {
  margin-top: 0.15rem;
}

.card-text {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.modal-content {
  max-height: 40vw;
  // overflow: scroll;
}

.card:hover {
  border: 1px #1b9db3 solid !important;
  box-shadow: 4px 4px #1b9db3 !important;
  .adresseFacturation {
    color: #1b9db3;
  }
}

.card-header {
  background: transparent;
  border: navajowhite;
  font-size: 1.5rem;
  padding: 0;
  margin-left: 0.5rem;
  .btn-edit {
    color: #656565;
    cursor: pointer;
  }
  .btn-remove {
    color: #656565;
    cursor: pointer;
  }
}

.btn-edit:hover {
  color: #2dcee3 !important;
}

.btn-remove:hover {
  color: #ffa87d !important;
}

.modal-body {
  overflow: auto !important;
}

.max-height {
  @include scrollbar;

  max-height: calc(100vh - 180px);
  overflow: auto;
}
