<form class="form form-horizontal">
	<div class="row">
		<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12" *ngFor="let item of contacts;let i=index">
			<div class="card">
				<div class="card-header">
					<div class="custom" *ngIf="show">
						<ul class="list-inline">
							<li><a data-toggle="modal" data-target="#editContact" (click)="chargeContact(i)"
									id="add-chargeContact-contact-btn"><i class="ft-edit-2 btn-edit"></i></a></li>
							<li (click)="removeContact(i)" id="add-removeContact-contact-btn"><a><i class="ft-x btn-remove"></i></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="card-content collpase show">
					<div class="card-body  pb-0" [ngClass]="{'card-body-custom': show}">
						<h5 style="font-weight: bold">{{item.civility}} {{item.lastName }} {{item.firstName}} </h5>
						<h5 style="font-weight: 500"> {{item?.function}}</h5>
						<div class="card-text" style="line-height: 1.8 !important;">
							<ng-container *ngIf="item?.email != '' && item?.email != null">
								<i class="fa fa-at" style="font-size: 15px;padding: 5px 5px;"
									*ngIf="item?.email != ''"></i>{{item?.email}} <br>
							</ng-container>
							<ng-container *ngIf="item?.phoneNumber != '' && item?.phoneNumber != null">
								<i class="fa fa-mobile" style="font-size: 20px;padding: 5px 5px;" *ngIf="item?.phoneNumber != ''"></i>
								&nbsp;{{item?.phoneNumber}} <br />
							</ng-container>
							<ng-container *ngIf="item?.landline != '' && item?.landline != null">
								<i class="fa fa-phone" style="font-size: 15px;padding: 5px 5px;" *ngIf="item?.landline != ''"></i>
								{{item?.landline}}
							</ng-container>
						</div>
						<br>
						<div id="scrollable-content">
							{{item?.comment}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row" *ngIf="show">
		<div class="col-12 text-right">
			<button class="btn btn-success pull-right" data-toggle="modal" data-target="#addContact" placement="bottom"
				id="add-addContact-contact-btn" ngbTooltip="{{'labels.addContact' | translate}}"> <i class="fa fa-plus"></i>
				{{'labels.addContact' | translate}} </button>
		</div>
	</div>

	<br> <br> <br>
</form>


<!-- Modal Add contact -->
<div class="modal fade text-left" id="addContact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
	aria-hidden="true">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content">
			<form [formGroup]="form" (ngSubmit)="add()">

				<div class="cust-card">
					<div class="cust-card__head">
						<div class="left">
							<h2 class="title">{{ 'labels.addContact' | translate }}</h2>
						</div>
						<div class="right">
							<label>
								<div class="cust-button cust-button--secondary mr-1" (click)="modalDismiss()">
									<button style="display: none" type="reset"></button>
									<span>{{ 'labels.close' | translate }}</span>
								</div>
							</label>
							<label>
								<div class="cust-button cust-button--success" (click)="modalDismiss()">
									<button style="display: none" type="submit"></button>
									<span>{{ 'labels.valider' | translate }}</span>
								</div>
							</label>
						</div>
					</div>
					<div class="cust-card__body max-height">

						<!-- Civility -->
						<div class="row">
							<div class="col">
								<div class="cust-input-group">
									<div class="cust-label">{{ 'labels.civilite' | translate }} :</div>
									<div class="cust-input">
										<label class="cust-input__wrapper">
											<mat-select formControlName="civility" id="add-civility-contact-btn">
												<mat-option value="">{{ 'labels.selectionner' | translate }} </mat-option>
												<mat-option value="M.">{{'labels.monsieur' | translate }} </mat-option>
												<mat-option value="Mme.">{{ 'labels.madame' | translate }}</mat-option>
												<mat-option value="Mlle">{{'labels.mademoiselle' | translate}}</mat-option>
											</mat-select>
										</label>
									</div>
								</div>
							</div>
						</div>

						<!-- Lastname -->
						<div class="row mt-2">
							<div class="col">
								<div class="cust-input-group">
									<div class="cust-label">{{ 'labels.nom' | translate }} :</div>
									<div class="cust-input">
										<label class="cust-input__wrapper">
											<input class="cust-input__input" type="text" formControlName="lastName">
										</label>
									</div>
								</div>
							</div>
						</div>

						<!-- Firstname -->
						<div class="row mt-2">
							<div class="col">
								<div class="cust-input-group">
									<div class="cust-label">{{ 'labels.prenom' | translate }} :</div>
									<div class="cust-input">
										<label class="cust-input__wrapper">
											<input class="cust-input__input" type="text" formControlName="firstName">
										</label>
									</div>
								</div>
							</div>
						</div>

						<!-- Function -->
						<div class="row mt-2">
							<div class="col">
								<div class="cust-input-group">
									<div class="cust-label">{{ 'labels.fonction' | translate }} :</div>
									<div class="cust-input">
										<label class="cust-input__wrapper">
											<input class="cust-input__input" type="text" formControlName="function">
										</label>
									</div>
								</div>
							</div>
						</div>

						<!-- Email -->
						<div class="row mt-2">
							<div class="col">
								<div class="cust-input-group">
									<div class="cust-label">{{ 'labels.email' | translate }} :</div>
									<div class="cust-input">
										<label class="cust-input__wrapper">
											<input class="cust-input__input" type="email" formControlName="email">
										</label>
									</div>
								</div>
								<small class="text-danger" *ngIf="f?.email?.errors?.pattern">
									{{'errors.pattern' | translate}}
								</small>
							</div>
						</div>

						<!-- Phone number -->
						<div class="row mt-2">
							<div class="col">
								<div class="cust-input-group">
									<div class="cust-label">{{ 'labels.mobile' | translate }} :</div>
									<div class="cust-input cust-input--numero">
										<label class="cust-input__wrapper">
											<input class="cust-input__input" type="text" formControlName="phoneNumber">
										</label>
									</div>
								</div>
							</div>
						</div>

						<!-- Line number -->
						<div class="row mt-2">
							<div class="col">
								<div class="cust-input-group">
									<div class="cust-label">{{ 'labels.fixe' | translate }} :</div>
									<div class="cust-input cust-input--numero">
										<label class="cust-input__wrapper">
											<input class="cust-input__input" type="text" formControlName="landline">
										</label>
									</div>
								</div>
							</div>
						</div>

						<!-- Comment -->
						<div class="row mt-2">
							<div class="col">
								<div class="cust-input-group">
									<div class="cust-label">{{ 'labels.commentaire' | translate }} :</div>
									<div class="cust-input cust-input--textarea">
										<label class="cust-input__wrapper">
											<textarea class="cust-input__input" rows="4" formControlName="comment"></textarea>
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- Modal edit contact -->
<div class="modal fade text-left" id="editContact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
	ria-hidden="true" *ngIf="editForm">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title" id="myModalLabel35"> {{'labels.editContact' | translate}}</h3>
			</div>
			<form [formGroup]="editForm" (ngSubmit)="update()">
				<div class="modal-body">
					<div class="container">

						<div class="form-group row">
							<label class="col-md-3 label-control">{{'labels.civilite' | translate}}</label>
							<div class="col-md-9">
								<select class="form-control" formControlName="civility" id="edit-civility-contact-btn">
									<option value="">{{ 'labels.selectionner' | translate }} </option>
									<option value="M.">{{'labels.monsieur' | translate }} </option>
									<option value="Mme.">{{ 'labels.madame' | translate }}</option>
									<option value="Mlle">{{'labels.mademoiselle' | translate}}</option>
								</select>
								<ng-container *ngIf="editForm.touched && editForm.invalid">
									<small class="text-danger" *ngIf="fEdit?.civility?.errors?.required">
										{{'errors.required' | translate}}
									</small>
								</ng-container>
							</div>
						</div>

						<div class="form-group row">
							<label class="col-md-3 label-control">{{'labels.nom' | translate}}</label>
							<div class="col-md-9">
								<input type="text" formControlName="lastName" class="form-control" id="edit-lastName-contact-btn"
									placeholder="{{'labels.nom' | translate}}">
								<ng-container *ngIf="editForm.touched && editForm.invalid">
									<small class="text-danger" *ngIf="fEdit?.lastName?.errors?.required">
										{{'errors.required' | translate}}
									</small>
								</ng-container>
							</div>
						</div>

						<div class="form-group row">
							<label class="col-md-3 label-control">{{'labels.prenom' | translate}}</label>
							<div class="col-md-9">
								<input type="text" formControlName="firstName" class="form-control" id="edit-firstName-contact-btn"
									placeholder="{{'labels.prenom' | translate}}">
							</div>
						</div>

						<div class="form-group row">
							<label class="col-md-3 label-control">{{'labels.fonction' | translate}}</label>
							<div class="col-md-9">
								<input type="text" formControlName="function" class="form-control" id="edit-function-contact-btn"
									placeholder="{{'labels.fonction' | translate}}">
							</div>
						</div>

						<div class="form-group row">
							<label class="col-md-3 label-control">{{'labels.email' | translate}}</label>
							<div class="col-md-9">
								<input type="email" formControlName="email" class="form-control" id="edit-email-contact-btn"
									placeholder="{{'labels.email' | translate}}">
								<small class="text-danger" *ngIf="f?.email?.errors?.pattern">
									{{'errors.pattern' | translate}}
								</small>
							</div>
						</div>

						<div class="form-group row">
							<label class="col-md-3 label-control">{{'labels.mobile' | translate}}</label>
							<div class="col-md-9">
								<input type="text" formControlName="phoneNumber" class="form-control" id="edit-phoneNumber-contact-btn"
									placeholder="{{'labels.mobile' | translate}}">
								<small class="text-danger" *ngIf="fEdit?.phoneNumber?.errors?.pattern">
									{{'errors.pattern' | translate}}
								</small>
							</div>
						</div>

						<div class="form-group row">
							<label class="col-md-3 label-control">{{'labels.fixe' | translate}}</label>
							<div class="col-md-9">
								<input type="text" formControlName="landline" class="form-control" id="edit-landline-contact-btn"
									placeholder="{{'labels.fixe' | translate}}">
								<small class="text-danger" *ngIf="fEdit?.landline?.errors?.pattern">
									{{'errors.pattern' | translate}}
								</small>
							</div>
						</div>

						<div class="form-group row">
							<label class="col-md-3 label-control">{{'labels.commentaire' | translate}}</label>
							<div class="col-md-9">
								<textarea rows="4" formControlName="comment" class="form-control" id="edit-comment-contact-btn"
									placeholder="{{'labels.commentaire' | translate}}">
				  </textarea>
							</div>
						</div>

					</div>
				</div>
				<div class="modal-footer">
					<button type="reset" class="btn grey btn-light" (click)="modalDismiss()" id="edit-modalDismiss-contact-btn"
						ngbTooltip="{{ 'labels.close'| translate }}">{{ 'labels.close'| translate }} </button>
					<button type="submit" class="btn btn-success btn-lg" placement="bottom" id="edit-update-contact-btn"
						ngbTooltip="{{ 'labels.update' | translate }}"> <i class="fa fa-edit"></i>
						{{ 'labels.valider' | translate }}
					</button>
				</div>
			</form>
		</div>
	</div>
</div>