<div class="root">
  <div class="slider">
    <mat-slider min="1"
      max="100"
      step="1"
      [value]="value"
      (change)="onChange($event)"
      [disabled]="readOnly">
    </mat-slider>
  </div>
  <div #label
    class="label"
    [ngClass]="{ 'label--readonly': readOnly }">
    <span [ngStyle]="{ left: getLabelPos() }">{{ formatDisplay() }}</span>
  </div>
</div>
