.menu-item-section {
  border: none !important;
  background-color: #fff;
  color: #000;
  padding: 10px 30px !important;
}

.main-menu.menu-light .navigation li a {
  padding: 2.5px 20px !important;
}

.titlesection {
  background-color: whitesmoke !important;
  color:#2c3648;
  font-weight: 500;
}

.main-menu.menu-light .navigation li a {
  background: #fff;
  color: #2c3648;
  text-shadow: none;
  &:hover {
    background:#e8e5e5 !important;
    i{
      color: #2c3648;
    }
  }
}

.main-menu.menu-light .navigation > li.open > a {
  background: #1b9db330 !important;
  border-right: 3px solid #f5f5f5  !important;
  color: #404E67 !important;
}

.navigation-main > .nav-item > a > i {
  padding: 0 !important;
  background: none !important;
  color: #404E67 !important;

}

body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content > span.menu-title,
body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content a.menu-title {
  display: none !important;
}
.main-menu.menu-light .navigation > li.has-sub.open > a > i {
  color: #404E67 !important;
  background-color: transparent !important;
}
