<!-- Sidebar Content starts -->
<div id="stackMenu" data-scroll-to-active="true" class="main-menu menu-fixed menu-light menu-accordion menu-shadow">
    <!-- main menu content-->
    <div class="main-menu-content">
        <ul id="main-menu-navigation menu-native-scroll" style="padding-bottom: 10px;"
            data-menu="menu-navigation" class="navigation navigation-main">
            <!-- First level menu -->

            <li *ngFor="let menuItem of menuItems;let i=index" [ngClass]="[menuItem.class]"
                [routerLinkActive]="menuItem.submenu.length != 0 ? '' : 'active'"
                [routerLinkActiveOptions]="{exact: true}">
                <ng-container *ngIf="menuItem?.isTitleSection == true">
                    <a class="titlesection" *ngIf="!menuItem.isExternalLink && !menuItem.isNavHeader"
                        (click)="clickSubMenu(i,$event)">
                        <i style="font-size: 1.18rem;" [ngClass]="[menuItem.icon]"></i>
                        <span class="menu-title">{{menuItem.title | translate}}</span>
                        <span *ngIf="menuItem.badge != '' " [ngClass]="[menuItem.badgeClass]">{{menuItem.badge}}</span>
                    </a>


                    <a [href]="[menuItem.path]" target="_blank"
                        *ngIf="menuItem.isExternalLink  && !menuItem.isNavHeader">
                        <i style="font-size: 1.18rem;" [ngClass]="[menuItem.icon]"></i>
                        <span class="menu-title">{{menuItem.title  | translate}}</span>
                        <span *ngIf="menuItem.badge != '' " [ngClass]="[menuItem.badgeClass]">{{menuItem.badge}}</span>
                    </a>

                    <span *ngIf="menuItem.isNavHeader">{{menuItem.title | translate}}</span>
                    <i style="font-size: 1.18rem;" *ngIf="menuItem.isNavHeader" data-toggle="tooltip"
                        data-placement="right" [attr.data-original-title]="menuItem.title"
                        [ngClass]="[menuItem.icon]"></i>

                </ng-container>


                <ng-container *ngIf="menuItem?.isTitleSection != true">
                    <a [routerLink]="menuItem.class === 'nav-item' ? [menuItem.path] : null"
                        *ngIf="!menuItem.isExternalLink && !menuItem.isNavHeader" (click)="clickSubMenu(i,$event)">
                        <i class="i-container">
                            <i [ngClass]="[menuItem.icon]"></i>
                        </i>
                        <span class="menu-title">{{menuItem.title | translate}}</span>
                        <span *ngIf="menuItem.badge != '' " [ngClass]="[menuItem.badgeClass]">{{menuItem.badge}}</span>
                    </a>
                    <a [href]="[menuItem.path]" target="_blank"
                        *ngIf="menuItem.isExternalLink  && !menuItem.isNavHeader">
                        <i class="i-container">
                            <i [ngClass]="[menuItem.icon]"></i>
                        </i>
                        <span class="menu-title">{{menuItem.title | translate}}</span>
                        <span *ngIf="menuItem.badge != '' " [ngClass]="[menuItem.badgeClass]">{{menuItem.badge}}</span>
                    </a>
                    <span *ngIf="menuItem.isNavHeader">{{menuItem.title | translate}}</span>
                    <i *ngIf="menuItem.isNavHeader" data-toggle="tooltip" data-placement="right"
                        [attr.data-original-title]="menuItem.title" [ngClass]="[menuItem.icon]"></i>

                    <!-- Second level menu -->
                    <ul class="menu-content" *ngIf="menuItem.submenu.length > 0">
                        <li *ngFor="let menuSubItem of menuItem.submenu"
                            [routerLinkActive]="menuSubItem.submenu.length > 0 ? '' : 'active'"
                            [ngClass]="[menuSubItem.class]">
                            <a [routerLink]="menuSubItem.submenu.length > 0 ? null : [menuSubItem.path]"
                                *ngIf="!menuSubItem.isExternalLink && !menuItem.isNavHeader; else externalSubLinkBlock">
                                <!-- <i [ngClass]="[menuSubItem.icon]"></i> -->
                                <span class="menu-title">{{menuSubItem.title | translate}}</span>
                                <span *ngIf="menuSubItem.badge != '' "
                                    [ngClass]="[menuSubItem.badgeClass]">{{menuSubItem.badge}}</span>
                            </a>
                            <ng-template #externalSubLinkBlock>
                                <a [href]="[menuSubItem.path]">
                                    <!--  <i [ngClass]="[menuSubItem.icon]"></i> -->
                                    <span class="menu-title">{{menuSubItem.title | translate}}</span>
                                    <span *ngIf="menuSubItem.badge != '' "
                                        [ngClass]="[menuSubItem.badgeClass]">{{menuSubItem.badge}}</span>
                                </a>
                            </ng-template>
                            <!-- Third level menu -->
                            <ul class="menu-content" *ngIf="menuSubItem.submenu.length > 0">
                                <li *ngFor="let menuSubsubItem of menuSubItem.submenu" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}" [ngClass]="[menuSubsubItem.class]">
                                    <a [routerLink]="[menuSubsubItem.path]"
                                        *ngIf="!menuSubsubItem.isExternalLink && !menuItem.isNavHeader; else externalSubSubLinkBlock">
                                        <!-- <i [ngClass]="[menuSubsubItem.icon]"></i> -->
                                        <span class="menu-title">{{menuSubsubItem.title | translate}}</span>
                                        <span *ngIf="menuSubsubItem.badge != '' "
                                            [ngClass]="[menuSubsubItem.badgeClass]">{{menuSubsubItem.badge}}</span>
                                    </a>
                                    <ng-template #externalSubSubLinkBlock>
                                        <a [href]="[menuSubsubItem.path]">
                                            <!-- <i [ngClass]="[menuSubsubItem.icon]"></i> -->
                                            <span class="menu-title">{{menuSubsubItem.title | translate}}</span>
                                            <span *ngIf="menuSubsubItem.badge != '' "
                                                [ngClass]="[menuSubsubItem.badgeClass]">{{menuSubsubItem.badge}}</span>
                                        </a>
                                    </ng-template>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </ng-container>


            </li>
        </ul>
    </div>
</div>