<h1 mat-dialog-title class="modal-title">
  Récurrence personnalisée
</h1>
<mat-dialog-content>

  <div class="row firt-div">
    <form class="form form-horizontal" [formGroup]="creationForm">

      <div class=" y5BXK yH57yd LTMj8">
        <span class="Y9xwie INTSje">Répéter tou(te)s les</span>
        <span class="EtqQ2e">
          <div class="Kb2sf nXeosb gx0Krc t4IwDf CDELXb" jscontroller="pxq3x"
            jsaction="clickonly:KjsqPd; focus:Jt1EX; blur:fpfTEe; input:Lg5SV" jsshadow="" jsname="t0oSud"><label
              class="xlxsj oJeWuf">
              <div class="mVuQpd">
                <div class="kw5sif">
                  <input type="number" formControlName="nbr_repetition" class="WpDZC zHQkBf" jsname="YPqjbf"
                    autocomplete="off" tabindex="0" aria-label="Récurrence (en semaines)" value="1" autofocus="" min="1"
                    dir="ltr" data-initial-value="1" data-previous-value="1"
                    [attr.disabled]="data?.readOnly ? true : null">
                </div>
              </div>
              <div class="WnqCuf mIZh1c"></div>
              <div jsname="XmnwAc" class="DSC0Mc cXrdqd Y2Zypf"></div>
            </label>
            <div class="wOWxX">
              <div jsname="ty6ygf" class="qCTOIe Is7Fhb"></div>
              <div jsname="B34EJ" class="cvUi3d RxsGPe" aria-atomic="true" aria-live="assertive" role="alert"></div>
            </div>
          </div>
        </span>
        <!-- Liste type repetition -->
        <div class="jZ0DTb SNlH9 YLjIvf">
          <div role="listbox" aria-expanded="false" class="jgvuAb GfgKp" jscontroller="WmhYvc"
            jsaction="click:cOuCgd(LgbsSe); keydown:I481le; keypress:Kr2w4b; mousedown:UX7yZ(LgbsSe),npT2md(preventDefault=true); mouseup:lbsD7e(LgbsSe); mouseleave:JywGue; touchstart:p6p2H(LgbsSe); touchmove:FwuNnf; touchend:yfqBxc(LgbsSe|preventMouseEvents=true|preventDefault=true); touchcancel:JMtRjd(LgbsSe); focus:AHmuwe; blur:O22p3e;b5SvAb:TvD9Pc;Z2AmMb:b50fGb;arGABd:aqzPVe;"
            jsshadow="" jsname="qSL4Zd" aria-label="Fréquence">
            <div jsname="LgbsSe" role="presentation">
              <div class="ry3kXd Ulgu9" jsname="d9BH4c" role="presentation">
                <div class="MocG8c exdKj LMgvRb KKjvXb" jsname="wQNmvb" jsaction="" data-value="DAILY"
                  aria-selected="true" tabindex="0" role="option">
                  <div class="kRoyt MbhUzd" jsname="ksKsZd">

                  </div>
                  <!-- <span jsslot="" class="vRMGwf oJeWuf">jour</span> -->
                  <div class="col-md-4">
                    <select class="ry3kXd Ulgu9" jsname="d9BH4c" role="presentation" formControlName="type_repetition"
                      [attr.disabled]="data?.readOnly ? true : null">
                      <option [value]="typeRepetitionenum.EveryDay">Jour</option>
                      <option [value]="typeRepetitionenum.EveryWeek">Semaine</option>
                      <option [value]="typeRepetitionenum.EveryMonth">Mois</option>
                    </select>

                  </div>

                  <!--  -->
                </div>

              </div>

              <div class="e2CuFe eU809d" role="presentation">

              </div>
            </div>


            <div class="OA0qNb ncFHed qs41qe" soy-server-key="5:pZtlf"
              jsaction="click:dPTK6c(wQNmvb); mousedown:uYU8jb(wQNmvb); mouseup:LVEdXd(wQNmvb); mouseover:nfXz1e(wQNmvb); touchstart:Rh2fre(wQNmvb); touchmove:hvFWtf(wQNmvb); touchend:MkF9r(wQNmvb|preventMouseEvents=true)"
              role="presentation" jsname="V68bde" style="min-width: 86px; top: 58.6094px; display: none;"
              aria-hidden="true"></div>
          </div>
        </div>

      </div>
      <div style="padding-left: 211px;">
        <small class="text-danger"
          *ngIf="f?.type_repetition?.errors?.required">{{'errors.required' | translate }}</small>

      </div>
      <!-- start semaine -->
      <ng-container *ngIf="f?.type_repetition?.value==typeRepetitionenum.EveryWeek">
        <div class="y5BXK opSYtb" jsaction="JIbuQc:MuWeq">
          <div class="Sb3EDe">Répéter le</div>
          <div class=" row-day-checkBox">
            <div class="day-checkBox" *ngFor="let dayCheckBox of daysCheckBox;let index = index"
              (click)="selectDayCheckBox(index)" [ngClass]="{ 
                          'day-checkBox-selected': dayCheckBox.value,
                          'day-checkBox-inselected': !dayCheckBox.value
                      }">
              {{ dayCheckBox?.label }}
            </div>
          </div>

        </div>
      </ng-container>
      <!-- end semaine -->

      <!-- start repetition mois -->
      <ng-container *ngIf="f?.type_repetition?.value==typeRepetitionenum.EveryMonth">

        <div class="y5BXK yvcipf">
          <div class="jZ0DTb SNlH9 d3XV">
            <div role="listbox" aria-expanded="false" class="jgvuAb GfgKp" jscontroller="WmhYvc"
              jsaction="click:cOuCgd(LgbsSe); keydown:I481le; keypress:Kr2w4b; mousedown:UX7yZ(LgbsSe),npT2md(preventDefault=true); mouseup:lbsD7e(LgbsSe); mouseleave:JywGue; touchstart:p6p2H(LgbsSe); touchmove:FwuNnf; touchend:yfqBxc(LgbsSe|preventMouseEvents=true|preventDefault=true); touchcancel:JMtRjd(LgbsSe); focus:AHmuwe; blur:O22p3e;b5SvAb:TvD9Pc;Z2AmMb:b50fGb;arGABd:aqzPVe;"
              jsshadow="" jsname="rsTvEd" aria-label="Répétition">
              <div jsname="LgbsSe" role="presentation">
                <div class="ry3kXd Ulgu9 " jsname="d9BH4c" role="presentation">
                  <div jsname="wQNmvb" role="option" class="MocG8c xMNHl LMgvRb KKjvXb moisDate" data-value="false"
                    aria-selected="true" tabindex="0">
                    <div class="kRoyt MbhUzd" jsname="ksKsZd"></div><span jsslot="" class="vRMGwf oJeWuf">Tous les mois
                      le
                    </span>
                    <div class="kRoyt MbhUzd" jsname="ksKsZd"></div><span jsslot="" class="vRMGwf oJeWuf">
                      <input type="number" formControlName="jour" class="WpDZC zHQkBf" jsname="YPqjbf"
                        autocomplete="off" tabindex="0" aria-label="Date à laquelle la récurrence se termine" value="1"
                        autofocus="" min="1" dir="ltr" data-initial-value="1" data-previous-value="1"
                        style="text-align: right;     width: 59px;" [attr.disabled]="data?.readOnly ? true : null">
                    </span>

                  </div>

                </div>
                <div class="e2CuFe eU809d" role="presentation"></div>
              </div>
              <div class="OA0qNb ncFHed"
                jsaction="click:dPTK6c(wQNmvb); mousedown:uYU8jb(wQNmvb); mouseup:LVEdXd(wQNmvb); mouseover:nfXz1e(wQNmvb); touchstart:Rh2fre(wQNmvb); touchmove:hvFWtf(wQNmvb); touchend:MkF9r(wQNmvb|preventMouseEvents=true)"
                role="presentation" jsname="V68bde" style="display:none;"></div>
            </div>
          </div>
        </div>

      </ng-container>
      <!-- ens mois -->

    </form>
  </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button class="btn grey btn-light float-right" (click)="close()">Fermer</button>
  <button mat-buttonv class="btn btn-success float-right" (click)="save()" cdkFocusInitial>Terminé</button>
</mat-dialog-actions>