
<div class="root">
    <div class="display-table">
        <!-- #region Display head -->
        <div class="display-table__head">
            <!-- Left controls-->
            <div class="left">
                <div class="cust-input cust-input--search">
                    <label class="cust-input__wrapper">
                        <div class="cust-input__icon">
                            <img src="./assets/app/images/Icons/search.svg" alt="Search icon">
                        </div>
                        <input class="cust-input__input" type="search" [placeholder]="'dataTables.search' | translate"
                            (keyup)="searchByQuery(searchQuery.value)" #searchQuery>
                    </label>
                </div>

                <div class="cust-input cust-input--selectable cust-input--filter" #filtersTrigger="cdkOverlayOrigin"
                    cdkOverlayOrigin (click)="onFiltersTriggered()">
                    <label class="cust-input__wrapper">
                        <div class="cust-input__icon">
                            <img src="./assets/app/images/Icons/filter.svg" alt="Filter icon">
                        </div>
                        <span class="cust-input__input">Filtrer</span>
                    </label>
                </div>



            </div>
            <!-- Right controls -->
            <div class="right">
                <div class="cust-button cust-button--success" [routerLink]="['/produits/ajouter']">
                    <span>Nouveau produit</span>
                </div>
            </div>
        </div>
        <!-- #endregion -->

        <div class="display-table__body">
            <div class="col-xl-12 col-lg-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body init-card-body card-dashboard">
                            <!-- <recherche-avancee>
                                <div class="recherche-avancee-body">
                                    <div class="container-fuild">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input type="text" class="form-control"
                                                    (keyup)="searchByQuery(searchQuery.value)" #searchQuery
                                                    [placeholder]="'dataTables.search' | translate" />
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <div class="col-md-12">
                                                        <ng-select [items]="labelsList" [multiple]="true" (clear)="clear()"
                                                            [closeOnSelect]="false" [hideSelected]="true" bindLabel="name"
                                                            [placeholder]="'labels.filtrerLabel' | translate"
                                                            [(ngModel)]="selectedLables" (change)="filterParLabel()"
                                                            class="tags-select">
                                                        </ng-select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
        
                            </recherche-avancee> -->
                            <div class="row">
                                <ng-container *ngFor="let produit of Produits?.value;let index = index">
                                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6"
                                        [class.pd-left]="((index +1) % 2) == 0" [class.pd-right]="((index +1) % 2) != 0"
                                        (dblclick)="doubleClick(produit?.id)">
                                        <div class="produit-card row" (mouseenter)="showAction = index;"
                                            (mouseleave)="showAction = null;">
                                            <div class="col-md-9 produit-description">
                                                <h3 style="color: #4da1bf;">
                                                    <span>{{ produit?.reference}}</span> - {{produit?.nom }}
                                                </h3>
                                                <p style="font-size: 0.9rem;">
                                                    {{ produit?.designation | truncate : 100 }}</p>
                                                <div style="white-space: nowrap;">
                                                    <span *ngFor="let label of produit.labels" class="tag">
                                                        {{ label.value }}
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-3 actions" style="margin: auto;">
                                                <h4 class="prix" style="color: #4da1bf; font-size: 1vw;">
                                                    {{ TotalHt(produit) | RoudingNumber | ShowCurrency }} (HT)
                                                </h4>
                                                <div class="btn-group" aria-label="Basic example">
                                                    <ng-container *ngIf="showAction == index">
                                                        <button id="detail" type="button"
                                                            style="    margin-right: 11px;"
                                                            class="btn  btn-md btn-actions"
                                                            [routerLink]="['/produits/detail',produit?.id]"
                                                            placement="bottom"
                                                            ngbTooltip="{{ 'labels.afficher'|translate }} {{ 'labels.produit'|translate }}"><i
                                                                class="ft-eye"></i>
                                                        </button>
                                                        <button id="modifier" type="button"
                                                            class="btn  btn-md btn-actions btn-edit"
                                                            [routerLink]="['/produits/modifier',produit?.id]"
                                                            placement="bottom"
                                                            ngbTooltip="{{ 'labels.modifier'|translate }} {{ 'labels.produit'|translate }}"><i
                                                                class="ft-edit"></i>
                                                        </button>
                                                        <button id="delete" type="button"
                                                            style="    margin-right: 11px;"
                                                            class="btn  btn-md btn-actions"
                                                            (click)="delete(produit?.id)" placement="bottom"
                                                            ngbTooltip="{{ 'labels.supprimer'|translate }} {{ 'labels.produit'|translate }}"
                                                            [disabled]="produit?.lot == 1"><i class="ft-trash-2"></i>
                                                        </button>
                                                    </ng-container>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>



                            <ng-container *ngIf="Produits?.value?.length  == 0">
                                <div class="no-data-available"> {{'noDataAvaible' | translate}}</div>
                            </ng-container>
                            <div class="row">
                                <div class="col-md-12">
                                    <paination [painationInfo]="Produits" (chagePageNamber)="chagePageNamber($event)"
                                        (changePageSize)="changePageSize($event)"></paination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- </ng-container> -->


<!-- <custom-loader [displayLoader]="processing"></custom-loader> -->

<!-- #region Filter overlay -->
<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="filtersTrigger" [cdkConnectedOverlayOpen]="filtersOpened"
    [cdkConnectedOverlayHasBackdrop]="true" (backdropClick)="filtersOpened = false">
    <div class="filter-overlay">
        <div class="filter-overlay__controls">
            <div class="filter-overlay__btn" (click)="onBackdropClicked()">
                <span>Reinitialiser</span>
                <i class="fa fa-repeat"></i>
            </div>
            <div class="filter-overlay__btn" (click)="filtersOpened = false ; onBackdropClicked()">
                <i class="fa fa-times"></i>
            </div>
        </div>
        <div class="filter-overlay__filters">
            <div class="top">
                <!-- list labels  -->

                <div class="cust-input cust-input--select">
                    <label class="cust-input__wrapper">
                        <mat-select class="cust-input__input" [(ngModel)]="selectedLables"
                            (selectionChange)="filterParLabel()" [placeholder]="getPlacholder()" multiple>
                            <mat-option *ngFor="let label of labelsList" [value]="label">{{label.name}}</mat-option>
                        </mat-select>
                    </label>
                </div>

            </div>
        </div>
    </div>
</ng-template>