@import "./../../../../assets/scss/core/mixins/scrollbar";

.no-data-available {
  text-align: center;
}

.dataTables_empty {
  display: none;
}

@media only screen and (min-width: 1300px) {
  show-hide-table-columns {
    position: relative !important;
    float: right !important;
  }
}

@media only screen and (max-width: 1300px) {
  show-hide-table-columns {
    position: relative !important;
    margin-bottom: 5rem !important;
    top: -2rem !important;
  }
}

.tag {
  background-color: #404e67;
  padding: 0.2rem 1rem;
  color: #fff;
  font-size: 0.8rem;
  margin: 0.1rem;
}

.prix {
  color: #4da1bf;
}

.enRepture {
  text-align: center;
  color: #99c240;
  padding-top: 0.5rem;
  height: 2rem;
  p {
    color: #e12382;
    font-weight: bold;
  }
}

.text-Promotion {
  background-color: #e12382cf;
  border-radius: 50%;
  text-align: center;
  height: 3vw;
  width: 4vw;
  font-size: 0.7vw;
  padding-top: 1vw;
  color: white;
  position: absolute;
  bottom: 12rem;
  float: right;
  margin-right: 0.5vw;
  top: 0.2vw;
  right: 0.5vw;
  z-index: 1;
}

.image-Promotion {
  position: absolute;
  right: 0.7vw;
  width: 90%;
  height: 10.3rem;
  border: 2px #e12382 solid;
}

.produit-image {
  height: 12rem;
}

.img-container {
  width: 100%;
  height: 10.3rem;
  border: 2px #e12382 solid;
}

.zome-image:hover {
  width: 200% !important;
  height: 16rem !important;
  position: absolute !important;
  left: -0.5rem !important;
  z-index: 1 !important;
  top: -2rem !important;
  border: 2px #e12382 solid !important;
}

input {
  height: 2.3rem !important;
}

.produit-card {
  background: #e7e7e8 !important;
  padding: 1rem 0.1rem !important;
  margin: 0rem 0rem 1% 0rem;
  height: 110px;
}

.produit-image {
  width: 100%;
  height: 10rem;
}

.row {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.btn-group {
  height: 28px;
}

.pd-left {
  padding: 0 0 0 0.25% !important;
}

.pd-right {
  padding: 0 0.25% 0 0 !important;
}

h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-group > .btn:first-child {
  margin-left: 0;
}

.btn-add {
  height: 40px !important;
}

.btn-edit {
  margin-right: 11px;
  // background-color: #38B475;
  // background: var(--unnamed-color-38b475) 0% 0% no-repeat padding-box;
  background: #38b475 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  color: white;
}

button#modifier {
  // background: var(--unnamed-color-38b475) 0% 0% no-repeat padding-box;
  background: #38b475 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  color: white;
}

button#detail {
  //background: var(--unnamed-color-47a2c1) 0% 0% no-repeat padding-box;
  background: #47a2c1 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  color: white;
}

button#delete {
  // background: var(--unnamed-color-f53c56) 0% 0% no-repeat padding-box;
  background: #f53c56 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  color: white;
}
.row-bady {
  // max-height: calc(100vh - 265px);
  // overflow: auto;
  // @include scrollbar;
}
.card-content {
  max-height: calc(100vh - 265px);
  overflow: auto;
  @include scrollbar;
}
