<ng-container *ngIf="show && displayJustTheForm">
    <button class="btn btn-primary btn-sm" type="button" data-toggle="modal" id="add-adresse-btn"
        [attr.data-target]="createId(addModalId)" placement="bottom" ngbTooltip="{{'labels.addAddress' | translate}}">
        <i class="fa fa-plus"></i></button>

</ng-container>

<form class="form form-horizontal" *ngIf="!displayJustTheForm">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let item of addresses;let i = index">
            <div class="card">
                <div class="card-header" *ngIf="show">
                    <div class="custom">
                        <ul class="list-inline">
                            <li><a data-toggle="modal" [attr.data-target]="createId(editModalId)"
                                    (click)="chargeAddress(i)"><i class="ft-edit-2 btn-edit"></i></a></li>
                            <li><a (click)="removeAddress(i)"><i class=" btn-remove ft-x"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-content collpase show">
                    <div class="card-body" [ngClass]="{'card-body-custom': show}">
                        <h5 style="font-weight: bold">{{ item?.street }}</h5>
                        <div class="card-text">
                            <ng-container *ngIf="item?.complement != '' && item?.complement != null">
                                {{ item?.complement }} <br />
                            </ng-container>
                            <ng-container *ngIf="item?.postalCode != '' && item?.postalCode != null">
                                {{item?.city}} {{item?.postalCode}}<br />
                            </ng-container>
                            <ng-container *ngIf="item?.department != '' && item?.department != null">
                                {{item?.department}}<br />
                            </ng-container>
                            <ng-container *ngIf="item?.countryCode != '' && item?.countryCode != null">
                                {{ item?.countryCode }}
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <span *ngIf="item?.isDefault" class="adresseFacturation">
                        {{ 'labels.adresseFacturation' | translate }}<i
                            style="color: #ffa502; font-size: 22px; float: right;" class="fa fa-star"></i>
                    </span>
                    <span class="float-right" *ngIf="!item?.isDefault">
                        <i style="color: #ffffff;font-size: 22px" class="fa fa-star"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div style="float: right;margin-right: 15px;">
        <div class="row" *ngIf="show">
            <button class="btn btn-success pull-right" data-toggle="modal" [attr.data-target]="createId(addModalId)"
                id="addAddress-adresse-btn" placement="bottom" ngbTooltip="{{'labels.addAddress' | translate}}"> <i
                    class="fa fa-plus"></i>
                {{'labels.addAddress' | translate}} </button>
        </div>
    </div>
    <br> <br>
</form>
<!-- Modal Add contact -->
<div class="modal fade text-left" id="{{ addModalId }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
    aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel35"> {{'labels.addAddress' | translate}}</h3>
            </div>
            <form [formGroup]="form" (ngSubmit)="add()">
                <div class="modal-body">
                    <div class="container">



                        <div class="form-group row">
                            <label class="col-md-3 label-control">{{'labels.designation' | translate}}</label>
                            <div class="col-md-9">
                                <div class="cust-input">
                                    <label class="cust-input__wrapper">
                                        <input type="text" class="cust-input__input" formControlName="designation"
                                            name="designation" id="add-designation-adresse-btn"
                                            placeholder="{{'labels.designation' | translate}}">
                                    </label>
                                </div>
                                <small class="text-danger" *ngIf="f?.designation?.errors?.required">
                                    {{'errors.required' | translate}}
                                </small>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 label-control" for="street">{{'labels.adresse' | translate}}</label>
                            <div class="col-md-9">
                                <div class="cust-input">
                                    <label class="cust-input__wrapper">
                                        <input type="text" class="cust-input__input" formControlName="street"
                                            name="street" id="add-street-adresse-btn"
                                            placeholder="{{'labels.adresse' | translate}}">
                                    </label>
                                </div>
                                <small class="text-danger" *ngIf="f?.street?.errors?.required">
                                    {{'errors.required' | translate}}
                                </small>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 label-control"
                                for="complement">{{'labels.complementAdresse' | translate}}</label>
                            <div class="col-md-9">
                                <div class="cust-input">
                                    <label class="cust-input__wrapper">
                                        <input type="text" class="cust-input__input" formControlName="complement"
                                            id="add-complement-adresse-btn"
                                            placeholder="{{'labels.complementAdresse' | translate}}">
                                    </label>
                                </div>

                                <small class="text-danger" *ngIf="f?.complement?.errors?.required">
                                    {{'errors.required' | translate}}
                                </small>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 label-control">{{'labels.ville' | translate}}</label>
                            <div class="col-md-9">
                                <div class="cust-input">
                                    <label class="cust-input__wrapper">
                                        <input type="text" class="cust-input__input" formControlName="city"
                                            id="add-city-adresse-btn" placeholder="{{'labels.ville' | translate}}">
                                    </label>
                                </div>

                                <small class="text-danger" *ngIf="f?.city?.errors?.required">
                                    {{'errors.required' | translate}}
                                </small>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 label-control"
                                for="codePostal">{{'labels.codePostal' | translate}}</label>
                            <div class="col-md-9">
                                <div class="cust-input">
                                    <label class="cust-input__wrapper">
                                        <input type="text" class="cust-input__input" formControlName="postalCode"
                                            id="add-postalCode-adresse-btn"
                                            placeholder="{{'labels.codePostal' | translate}}">
                                    </label>
                                </div>
                                <small class="text-danger" *ngIf="f?.postalCode?.errors?.required">
                                    {{'errors.required' | translate}}
                                </small>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 label-control">{{'labels.departement' | translate}}</label>
                            <div class="col-md-9">
                                <div class="cust-input">
                                    <label class="cust-input__wrapper">
                                        <input type="text" class="cust-input__input" formControlName="department"
                                            id="add-department-adresse-btn"
                                            placeholder="{{'labels.departement' | translate}}">
                                    </label>
                                </div>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 label-control" for="pays">{{'labels.pays' | translate}}</label>
                            <div class="col-md-9">
                                <div class="cust-input">
                                    <label class="cust-input__wrapper">
                                        <input type="text" class="cust-input__input" formControlName="countryCode"
                                            id="add-countryCode-adresse-btn"
                                            placeholder="{{'labels.pays' | translate}}">
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row" *ngIf="!displayJustTheForm">
                            <label class="col-md-3 label-control" for="default"></label>
                            <div class="col-md-9">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" formControlName="isDefault" class="custom-control-input"
                                        id="add-isDefault-adresse-btn" id="isDefault">
                                    <label class="custom-control-label"
                                        for="isDefault">{{ 'labels.defaultAddress' | translate }}</label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="cust-button cust-button--secondary" (click)="modalDismiss()"
                        ngbTooltip="{{ 'labels.close'| translate }}">
                        <span> {{ 'labels.close' | translate }}</span>
                    </button>
                    <button type="submit" class="cust-button cust-button--success" placement="top"
                        id="add-add-adresse-btn" ngbTooltip="{{ 'labels.add' | translate }}"> <span>
                            {{ 'labels.valider' | translate }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal edit addresse -->
<div class="modal fade text-left" id="{{ editModalId }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
    ria-hidden="true" *ngIf="editForm">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel35"> {{'labels.editAddress' | translate}}</h3>
            </div>

            <form [formGroup]="editForm" (ngSubmit)="update()">
                <div class="modal-body">


                    <div class="container">

                        <div class="form-group row">
                            <label class="col-md-3 label-control"
                                for="designationn">{{'labels.designation' | translate}}</label>
                            <div class="col-md-9">
                                <div class="cust-input">
                                    <label class="cust-input__wrapper">
                                        <input type="text" class="cust-input__input" formControlName="designation"
                                            name="designation" id="edit-designation-adresse-btn"
                                            placeholder="{{'labels.designation' | translate}}">
                                    </label>
                                </div>

                                <small class="text-danger" *ngIf="fEdit?.designation?.errors?.required">
                                    {{'errors.required' | translate}}
                                </small>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 label-control"
                                for="adressee">{{'labels.adresse' | translate}}</label>
                            <div class="col-md-9">
                                <div class="cust-input">
                                    <label class="cust-input__wrapper">
                                        <input type="text" class="cust-input__input" formControlName="street"
                                            name="adresse" id="edit-street-adresse-btn"
                                            placeholder="{{'labels.adresse' | translate}}">
                                    </label>
                                </div>

                                <small class="text-danger" *ngIf="fEdit?.street?.errors?.required">
                                    {{'errors.required' | translate}}
                                </small>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 label-control"
                                for="complementAdressea">{{'labels.complementAdresse' | translate}}</label>
                            <div class="col-md-9">
                                <div class="cust-input">
                                    <label class="cust-input__wrapper">
                                        <input type="text" class="cust-input__input" formControlName="complement"
                                            id="edit-complement-adresse-btn"
                                            placeholder="{{'labels.complementAdresse' | translate}}">
                                    </label>
                                </div>
                                <small class="text-danger" *ngIf="fEdit?.complement?.errors?.required">
                                    {{'errors.required' | translate}}
                                </small>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 label-control"
                                for="villeville">{{'labels.ville' | translate}}</label>
                            <div class="col-md-9">
                                <div class="cust-input">
                                    <label class="cust-input__wrapper">
                                        <input type="text" class="cust-input__input" formControlName="city"
                                            id="edit-city-adresse-btn" placeholder="{{'labels.ville' | translate}}">
                                    </label>
                                </div>

                                <small class="text-danger" *ngIf="fEdit?.city?.errors?.required">
                                    {{'errors.required' | translate}}
                                </small>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 label-control"
                                for="codePostal">{{'labels.codePostal' | translate}}</label>
                            <div class="col-md-9">
                                <div class="cust-input">
                                    <label class="cust-input__wrapper">
                                        <input type="text" class="cust-input__input" id="codePostal"
                                            formControlName="postalCode" id="edit-postalCode-adresse-btn"
                                            placeholder="{{'labels.codePostal' | translate}}">
                                    </label>
                                </div>
                                <small class="text-danger" *ngIf="fEdit?.postalCode?.errors?.required">
                                    {{'errors.required' | translate}}
                                </small>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 label-control"
                                for="departementdepartement">{{'labels.departement' | translate}}</label>
                            <div class="col-md-9">
                                <div class="cust-input">
                                    <label class="cust-input__wrapper">
                                        <input type="text" class="cust-input__input" formControlName="department"
                                            id="edit-department-adresse-btn"
                                            placeholder="{{'labels.departement' | translate}}">
                                    </label>
                                </div>

                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 label-control" for="payspays">{{'labels.pays' | translate}}</label>
                            <div class="col-md-9">
                                <div class="cust-input">
                                    <label class="cust-input__wrapper">
                                        <input type="text" class="cust-input__input" id="codePostalcodePostal"
                                            formControlName="countryCode" id="edit-countryCode-adresse-btn"
                                            placeholder="{{'labels.pays' | translate}}">
                                    </label>
                                </div>

                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 label-control" for="projectinput44"></label>
                            <div class="col-md-9">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" formControlName="isDefault" class="custom-control-input"
                                        id="edit-isDefault-adresse-btn" id="projectinput44" />
                                    <label class="custom-control-label"
                                        for="projectinput44">{{ 'labels.defaultAddress' | translate }}</label>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="reset" class="cust-button cust-button--secondary" placement="top"
                        (click)="modalDismiss()" id="edit-close-adresse-btn"
                        ngbTooltip=" {{ 'labels.close'| translate }}">
                        <span> {{ 'labels.close' | translate }}</span>
                    </button>
                    <button type="submit" class="cust-button cust-button--success" placement="top"
                        id="edit-update-adresse-btn" ngbTooltip="{{ 'labels.update' | translate }}">
                        <span> {{ 'labels.valider' | translate }}</span>
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>