<div class="root">
    <div class="display-table">

        <!-- #region Display head -->
        <div class="display-table__head">
            <!-- Left controls-->
            <div class="left">

                <!-- <div class="cust-input cust-input--search">
            <label class="cust-input__wrapper">
  
            </label>
          </div> -->
            </div>
            <!-- Right controls -->
            <div class="right">
                <div class="row">
                    <div class=" cust-button cust-button--secondary" (click)="openFormRebrique(null,formType.add)"
                        placement="bottom">
                        <span> {{'labels.attacherPieceJointe' | translate}} <i class="ft-plus"></i></span>
                    </div>

                </div>

            </div>
        </div>
        <!-- #endregion -->

        <!-- #region Display body -->
        <div class="display-table__body">
            <table class="chantier-table" style="overflow: hidden;">
                <thead>
                    <tr>
                        <th *ngFor="let column of tableColumnsDocuments;let i= index">
                            <div class="th-wrapper">
                                <span> {{ column.nameTranslate | translate | uppercase }}</span>
                                <!-- <div class="sort" *ngIf="column.isOrder">
                                    <i class="fa fa-chevron-up" [ngClass]="{
                                        'active': state.SortDirection === sortDirection.Ascending && column.name === state.OrderBy,
                                        'inactive': state.SortDirection === sortDirection.Descending
                                    }" (click)="sortChange(sortDirection.Ascending,column.name)"></i>
                                    <i class="fa fa-chevron-down" [ngClass]="{
                                        'active': state.SortDirection === sortDirection.Descending && column.name === state.OrderBy,
                                        'inactive': state.SortDirection === sortDirection.Ascending
                                    }" (click)="sortChange(sortDirection.Descending,column.name)"></i>
                                </div>  -->
                            </div>
                        </th>

                        <!-- This column is for row actions -->
                        <th class="actions"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let element of data?.value ;let i of data?.value.length" id="chantier-dblclick-btn">

                        <td *ngFor="let column of tableColumnsDocuments;let i= index">
                            <ng-container>

                                <ng-container *ngIf="column.type == columnType.Html">
                                    <span [innerHTML]="element[column.name]"></span>
                                </ng-container>
                                <ng-container *ngIf="column.type == columnType.any">
                                    <span class="text-right text-nowrap"> {{ getValue(element , column.name) }}</span>
                                </ng-container>
                            </ng-container>
                        </td>

                        <!-- Actions trigger -->
                        <td class="actions">
                            <div class="actions-trigger" [matMenuTriggerFor]="matMenu"
                                (onMenuOpen)="onMenuOpened(element)">
                                <img src="./assets/app/images/Icons/more-vertical.svg" alt="Actions icon">
                            </div>

                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="data?.value?.length == 0">
                    <tr style="text-align: center;">
                        {{'noDataAvaible' | translate}}
                    </tr>
                <tbody>
            </table>
        </div>
        <!-- #endregion -->
        <!-- #region Display foot -->
        <div class="display-table__foot">
            <paination [painationInfo]="dataitems" (chagePageNamber)="chagePageNumber($event)"
                (changePageSize)="changePageSize($event)" [pageSizes]="pageSizeOptions"></paination>
        </div>
        <!-- #endregion -->
    </div>
</div>

<!-- #region Actions overlay -->
<mat-menu #matMenu="matMenu" class="cust-menu cust-menu--horizontal cust-menu--actions" overlapTrigger
    xPosition="before">
    <ng-container *ngFor="let action of actions">
        <span mat-menu-item *ngIf="action.appear(selected)" class="menu-item" [matTooltip]="action.label | translate"
            (click)="action.action(selected)">
            <div class="icon">
                <img [src]="action.icon" alt="Edit icon">
                <!-- <mat-icon [color]="action.color"> {{ action.icon }} </mat-icon>  -->
            </div>
        </span>
    </ng-container>
</mat-menu>

<!-- #endregion -->