.root {
  background-color: #f7fafc;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;

  padding: 15px;

  .wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    margin-top: -10px;

    input {
      background-color: transparent;
      border: none;

      flex: 1;
      margin-top: 10px;

      &:focus {
        outline: none;
      }
    }

    .tag {
      background-color: white;
      border-radius: 5px;

      margin-right: 10px;
      margin-top: 10px;
      padding: 5px;

      display: flex;
      align-items: center;
      justify-content: center;

      mat-icon {
        cursor: pointer;
        margin-left: 15px;

        border-radius: 4px;
        color: #a7a7a7;
        font-size: 20px;

        opacity: 0.8;
        height: auto;
        width: auto;

        transition-duration: 0.2s;
        transition-property: opacity;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
