<div class="root">
  <div class="wrapper">
    <div *ngFor="let tag of tags; let i = index;"
      class="tag">
      <span>{{ tag }}</span>
      <mat-icon *ngIf="!readonly"
        (click)="onDelete(i)">close</mat-icon>
    </div>

    <input *ngIf="!readonly"
      type="text"
      [(ngModel)]="input"
      (keyup)="onEnter($event)">
  </div>
</div>
