<div class="root" *ngIf="reccurente!==undefined">
  <div class="row">
    <div class="col">
      <div class="details">
        <div class="cust-card cust-card--padding">

          <div class="cust-card__body">
            <div class="body">

              <div class="row">


                <div class="col" *ngIf="reccurente?.maintenanceContract ==null">
                  <div class="cust-input-group">
                    <div class="cust-label">{{ 'LABELS.WORKSHOP' | translate }} :</div>
                    <div class="cust-labelGros"> {{ workshopName }} </div>
                  </div>
                </div>

                <div class="col" *ngIf="reccurente?.maintenanceContract !=null">
                  <div class="cust-input-group">
                    <div class="cust-label">{{ 'LABELS.CONTRAT' | translate }} :</div>
                    <div class="cust-labelGros"> {{ reccurente?.maintenanceContract?.reference }} </div>
                  </div>
                </div>


                <div class="col">
                  <div class="cust-input-group">
                    <div class="cust-label">{{ 'LABELS.CLIENT' | translate }} :</div>
                    <div class="cust-labelGros"> {{ client?.name  }}
                    </div>
                  </div>
                </div>





                <div class="col">
                  <div class="cust-input-group">
                    <div class="cust-label">{{ 'LABELS.STATUS' | translate }} :</div>
                    <div class="cust-input cust-input--select cust-input--status"
                      [style.color]="getColor(reccurente?.status)">
                      <label class="cust-input__wrapper">
                        <input class="cust-input__input" type="text" [value]="reccurente?.status | translate" disabled>
                      </label>
                    </div>
                  </div>
                </div>

              </div>

              <div class="row">

                <div class="col">
                  <div class="cust-input-group">
                    <div class="cust-label">{{ 'LABELS.ADRESFACTURATION' | translate }} :</div>
                    <div class="cust-input cust-input--textarea">
                      <label class="cust-input__wrapper">
                        <textarea matInput class="cust-input__input" readonly
                          [value]="getAdresseDesignation(client?.addresses)"></textarea>
                      </label>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="cust-input-group">
                    <div class="cust-label">{{ 'LABELS.ADRESINTERVENTION' | translate }} :</div>
                    <div class="cust-input cust-input--textarea">
                      <label class="cust-input__wrapper">
                        <textarea matInput class="cust-input__input" readonly
                          [value]="getAdresseIntervention(reccurente?.document?.addressIntervention)"></textarea>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col"></div>
    <div class="col"></div>
  </div>
</div>

<br>

<div class="root">
  <div class="row">
    <div class="col">
      <div class="details">
        <div class="cust-card cust-card--padding">

          <div class="cust-card__head">

            <div class="left">
              <div class="title">
                {{'labels.recurrente' | translate}}
              </div>
            </div>

          </div>

          <div class="cust-card__body">
            <div class="row " style="margin-bottom: 9px;">
              <div class="col-md-5 text-right" style="padding-top: 5px;color: black;">
                <span>Périodicité</span>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12">

                <div class="row" *ngIf="reccurente!==undefined">
                  <div class="col-lg-5 col-md-12 col-sm-12 select-type" style="text-align: left;margin-left: 17px;
                padding-top: 5px;  max-width: 275px;">

                    <div class="" *ngIf="reccurente.periodicityType==periodicityType.Monthly"><span>Mensuelle</span>
                    </div>
                    <div class="" *ngIf="reccurente.periodicityType==periodicityType.BiMonthly"><span>Bimestriele</span>
                    </div>
                    <div class="" *ngIf="reccurente.periodicityType==periodicityType.Quarterly">
                      <span>Trimestrielle</span>
                    </div>
                    <div class="" *ngIf="reccurente.periodicityType==periodicityType.EveryFourMonths">
                      <span>Quadrimestrielle</span></div>
                    <div class="" *ngIf="reccurente.periodicityType==periodicityType.Biannual">
                      <span>Semestrielle</span>
                    </div>
                    <div class="" *ngIf="reccurente.periodicityType==periodicityType.Annually"> <span>Annuelle</span>
                    </div>
                    <div class="" *ngIf="reccurente.periodicityType==periodicityType.Custom"><span>Personnaliser <i
                          class="ft-eye" style="color: #0e63b8;
                    font-size: 16px;" (click)="LoadPersonaliseReccurente()"></i>
                      </span>
                    </div>
                  </div>

                </div>

              </div>

            </div>

            <div class="row " style="    margin-bottom: 9px;">
              <div class="col-lg-5 col-md-12 col-sm-12 text-right" style="padding-top: 5px;color: black;">
                <span>Prochaine échéance</span>
              </div>

              <div class="col-lg-6 col-md-12 col-sm-12">

                <div class="row">
                  <div class="col-lg-5 col-md-12 col-sm-12 select-type" style="text-align: left;margin-left: 17px;
              padding-top: 5px;  max-width: 275px;">

                    <div class=""><span>{{ getDate(reccurente.startingDate) }} </span>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <ng-container *ngIf="reccurente!==undefined">
              <div class="row " style="margin-bottom: 9px;">
                <div class="col-lg-5 col-md-12 col-sm-12 text-right" style="padding-top: 5px;     color: black;">
                  <span>Validité</span>
                </div>

                <div class="col-lg-3 col-md-12 col-sm-12 container">
                  <div class="radio">
                    <input id="radio-1" name="type_termine" type="radio" value="1"
                      [checked]="reccurente.endingType===periodicityEndingType.Undifined" readonly="readonly"
                      (click)="readolyChecked()">
                    <label for="radio-1" class="radio-label">illimité</label>
                  </div>

                  <div class="radio">
                    <input id="radio-2" name="type_termine" type="radio" value="2"
                      [checked]="reccurente.endingType===periodicityEndingType.SpecificDate" readonly="readonly"
                      (click)="readolyChecked()">
                    <label for="radio-2" class="radio-label">jusqu'au</label>
                  </div>

                  <div class="radio" *ngIf="reccurente.periodicityType==periodicityType.Custom">
                    <input id="radio-3" name="type_termine" type="radio" value="3"
                      [checked]="reccurente.endingType===periodicityEndingType.SpecificNumberOfTime" readonly="readonly"
                      (click)="readolyChecked()">
                    <label for="radio-3" class="radio-label">Aprés</label>
                  </div>


                </div>
              </div>

              <div class="row " style="margin-bottom: 9px;"
                *ngIf="reccurente.endingType===periodicityEndingType.SpecificDate">
                <div class="col-lg-5 col-md-12 col-sm-12 text-right" style="padding-top: 5px; color: black;">
                  <span>Fin de validité</span>
                </div>

                <div class="col-lg-6 col-md-12 col-sm-12">

                  <div class="row">
                    <div class="col-lg-5 col-md-12 col-sm-12 select-type" style="text-align: left;margin-left: 17px;
                padding-top: 5px;  max-width: 275px;">

                      <div class=""><span>{{ getDate(reccurente.endingDate) }} </span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <div class="row " style="margin-bottom: 9px;"
                *ngIf="reccurente.endingType==periodicityEndingType.SpecificNumberOfTime">
                <div class="col-md-5 text-right" style="padding-top: 5px;color: black;">
                  <span>Nombre d'occurrences</span> <span class="color-red">(*)</span>
                </div>
                <div class="col-md-3 ">

                  <div class="select-datepicker">
                    <mat-form-field>
                      <input matInput type="number" autocomplete="off" tabindex="0" autofocus="" min="1"
                        [value]="reccurente.occurringCount" readonly>
                    </mat-form-field>
                  </div>
                </div>
              </div>

            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<div class="root">
  <div class="row">
    <div class="col">
      <div class="details">
        <div class="cust-card cust-card--padding">

          <div class="cust-card__head">

            <div class="left">
              <div class="title">
                Articles
              </div>
            </div>

          </div>

          <div class="cust-card__body">



            <div class="row">
              <div class="col-md-12">
                <table-article [puc]="reccurente?.document?.orderDetails?.puc"
                  [remiseGloabl]="reccurente?.document?.orderDetails?.globalDiscount.value"
                  [retenueGarantieValue]="reccurente?.document?.orderDetails?.holdbackDetails?.holdback"
                  [typeRemiseGloabl]="reccurente?.document?.orderDetails?.type"
                  [partProrata]="reccurente?.document?.orderDetails?.proportion"
                  [tvaGlobal]="reccurente?.document?.orderDetails?.globalVAT_Value" [articles]="articles"
                  [readOnly]="true" [delaiGarantie]="reccurente?.document?.orderDetails?.holdbackDetails.warrantyPeriod"
                 >
                </table-article>

              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>