.category-list {
	background-color: white;

	.list {
		margin: 0;
		padding: 0;

		border-radius: 4px;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
		overflow: hidden;

		.category {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;

			min-height: 54px;
			padding: 10px;

			&--editable {
				cursor: pointer;
				transition-property: background-color;

				&:hover {
					background-color: #f8f8f8;
				}
			}

			.label {
				font-size: 1.2rem;
				font-weight: 500;
			}

			.value {
				font-size: 1.2rem;
				font-weight: 200;
			}

			&:not(:last-of-type) {
				border-bottom: 1px solid #eeeeee;
			}
		}
	}
}
