.root {
  padding: 0 15px 35px 15px;

  .head {
    margin-bottom: 35px;

    @media screen and (max-width: 1199px) {
      .col-xl-4.col-lg-12,
      .col-lg-12.col-xl-6 {
        margin-top: 30px;
      }
    }

    @media screen and (max-width: 991px) {
      .col-xl-4.col-lg-6,
      .col-lg-4.col-md-6,
      .col-md-12.col-lg-4,
      .col-md-12.col-lg-6 {
        margin-top: 30px;
      }
    }
  }

  .analytics {
    margin-bottom: 35px;

    @media screen and (max-width: 1199px) {
      .col-lg-12.col-xl-6:last-of-type {
        margin-top: 30px;
      }
    }

    @media screen and (max-width: 991px) {
      .col-md-12.col-lg-6:last-of-type {
        margin-top: 30px;
      }
    }

    .cust-card {
      height: 100%;

      &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 100%;

        .top {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .left {
          }

          .right {
            display: flex;
            flex-direction: column;

            .info-bundle {
              &:first-of-type {
                margin-bottom: 14px;
              }

              .value {
                position: relative;
                top: -2px;

                font-size: 27px;
              }

              .label {
                margin-top: -4px;
              }

              .value,
              .label {
                text-align: right;
              }
            }
          }
        }

        .bottom {
          margin-top: 45px;
        }
      }
    }
  }

  .tables {
    @media screen and (max-width: 1199px) {
      .col-lg-12.col-xl-4 {
        margin-top: 30px;
      }
    }

    @media screen and (max-width: 991px) {
      .col-md-12.col-lg-4 {
        margin-top: 30px;
      }
    }

    .cust-card {
      &__body {
        padding: 0;

        .title-header {
          padding: 20px;

          &--inline {
            display: flex;
            align-items: center;
          }

          img {
            filter: grayscale(1);
            margin-right: 10px;
          }

          h5 {
            font-family: qanelas;
            font-size: 19px;
            font-weight: bold;
            text-align: left;
            letter-spacing: 0px;

            color: #494948;
          }

          p {
            color: #8d9cad;
            font-size: 13px;
          }

          h5,
          p {
            padding: 0;
            margin: 0;
          }
        }

        .chart-content {
          padding: 30px 10px 0 10px;
        }

        .foot {
          &-content {
            border-top: 1px solid #efefef;
            margin-top: 15px;

            display: flex;
            align-items: center;
          }

          &-element {
            flex: 1;
            text-align: center;

            padding: 10px 0;

            &:not(:last-of-type) {
              border-right: 1px solid #efefef;
            }

            .value,
            .label {
              text-align: center;
            }
          }
        }

        .chips {
          &-list {
            list-style-type: none;
            margin: 0;
            padding: 0;
          }

          &-item {
            display: flex;
            align-items: center;
            justify-content: space-between;

            border-top: 1px solid #efefef;
            padding: 10px 20px;

            &:nth-of-type(odd) {
              background-color: #fbfbfb;
            }
          }

          &-label {
            font-size: 14px;
            color: #494948;

            margin-right: 10px;
          }
        }

        #objectif-ca-yearly {
          canvas {
            height: 200px;
          }
        }

        table {
          margin-bottom: 0 !important;

          thead tr {
            background-color: #f5f7fa;
          }

          tbody {
            tr:nth-of-type(even) {
              background-color: #fbfbfb;
            }
          }
        }
      }
    }
  }

  .cust-card {
    font-family: Qanelas;

    height: auto;
    min-height: 116px;

    &__head {
      border-bottom: none;
    }

    &__body {
      display: flex;
      justify-content: space-between;

      height: 100%;
      padding-bottom: 5px;
    }

    .cust-input--select {
      margin-right: 15px;
      min-width: 90px;
    }

    .left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      height: 100%;

      .top {
        font-size: 19px;

        .title {
          text-align: left;
          letter-spacing: 0px;
          font-weight: bold;

          color: #494948;
        }
      }

      .bottom {
        font-size: 13px;
        font-weight: 400;

        .chip {
          &--encours,
          &--planned {
            color: #feb969;
            margin-right: 25px;
          }

          &--termine,
          &--realised {
            color: #38b475;
          }
        }
      }
    }

    .right {
      .info-bundle {
        .label {
          text-align: right;
        }
      }

      .icon {
        border-radius: 50%;
        background-color: #38b475;

        height: 72px;
        width: 72px;

        display: flex;
        align-items: center;
        justify-content: center;

        img {
          filter: brightness(0) invert(1);
          opacity: 1 !important;
          width: 50% !important;
        }
      }
    }

    &__foot {
      .statuses {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .status {
          cursor: pointer;
          opacity: 0.8;

          transition-property: opacity;
          transition-duration: 0.2s;

          &:hover {
            opacity: 1;
          }

          &--encours {
            color: #feb969;
          }

          &--termine {
            color: #38b475;
          }

          &--signer {
            color: #fb6340;
          }

          &--perdus {
            color: #f53c56;
          }
        }
      }
    }

    &--input {
      min-height: auto;

      .cust-card__body {
        padding: 15px !important;
      }
    }

    &--chart-ca {
      .legends {
        .label {
          &--ca::before {
            background-color: #05658d;
          }

          &--prev::before {
            background-color: #f53c56;
          }

          &--prev-year::before {
            background-color: #8898aa;
          }
        }
      }
    }

    &--chart-depense {
      .legends {
        margin-top: 10px;
        padding: 5px 0;

        .label {
          &--ca::before {
            background-color: #05658d;
          }

          &--prev-year::before {
            background-color: #8898aa;
          }
        }
      }
    }

    &--chart {
      .cust-card__head {
        .right {
          display: flex;
          align-items: center;

          .info-bundle {
            text-align: right;

            .value,
            .label {
              text-align: right;
            }
          }
          .cust-input {
            min-width: 90px;
          }
        }
      }

      canvas {
        height: calc(100vh - 550px) !important;
      }
    }

    &--devis {
      .status--in_progress {
        color: #00d2d3;
      }

      .status--billed {
        color: #3498db;
      }

      .status--signed {
        color: #78a300;
      }
    }

    &--facture {
      .status--in_progress {
        color: #00d2d3;
      }

      .status--late {
        color: #ff0000;
      }

      .status--signed {
        color: #16d39a;
      }
    }

    &--interventions {
      .status--planned {
        color: #00d2d3;
      }

      .status--realized {
        color: #16d39a;
      }

      .status--billed {
        color: #3498db;
      }
    }

    &--chantier {
      .cust-card__body {
        min-height: 186px;
      }

      .status--study {
        color: #fb6340;
      }

      .status--accepted {
        color: #38b475;
      }

      .status--finished {
        color: #11cdef;
      }

      .status--refused {
        color: #fa5502;
      }
    }

    &--contrats {
      .status--waiting {
        color: #feb969;
      }

      .status--finished {
        color: #ff0000;
      }

      .status--in_progress {
        color: #00d2d3;
      }
    }
  }

  .info-bundle {
    display: inline-flex;
    flex-direction: column;

    .label {
      font-family: raleway;
      font-size: 10px;
      letter-spacing: 0px;
      text-align: left;
      white-space: nowrap;

      color: #8898aa;
    }

    .value {
      font-family: qanelas;
      font-size: 19px;
      font-weight: bold;
      text-align: left;
      letter-spacing: 0px;

      color: #8d9cad;

      &--positive {
        color: #38b475;
      }

      &--negative {
        color: #f53c56;
      }

      &--constant {
        color: #05658d;
      }

      &--neutral {
        color: #494948;
      }

      small {
        font-size: 13px;
        font-weight: bold;

        margin-left: -4px;
      }
    }

    &--right {
      .label,
      .value {
        text-align: right;
      }
    }

    &--feature {
      .label {
        color: #494948;
        font-size: 18px;
        font-weight: 700;
      }

      .value {
        font-size: 34px;
      }
    }

    &--feature.info-bundle--same-size {
      .value {
        font-size: 18px;
      }
    }
  }

  .period-input {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    &__value {
      margin-left: auto;
    }

    &__icon {
      margin-left: 10px;
    }
  }

  .legends {
    display: flex;
    align-items: center;

    .label {
      position: relative;

      color: #5a5a5a;

      margin-right: 20px;
      padding-left: 18px;

      &::before {
        content: "";

        border-radius: 2px;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);

        position: absolute;
        top: 2px;
        left: 0;

        height: 13px;
        width: 13px;
      }
    }
  }

  .tab-pane {
    width: 100%;
  }
}
