.nav.nav-tabs .nav-item .nav-link.active {
  color: #fff !important;
  width: 300px !important;
  background-color: #1b9db3 !important;
  border-radius: 0.25rem 0.25rem 0 0 !important;
  border-color: #1b9db3 !important;
  font-weight: 600;
}

.nav.nav-tabs .nav-item .nav-link {
  background-color: white !important;
  width: 300px !important;
  color: #434242 !important;
  padding: 0.5rem 0.7rem;
  display: inline-flex !important;
  border-radius: 0.25rem 0.25rem 0 0 !important;
  border-color: #434242 !important;
  font-weight: 600;
}
.no-data-available {
  text-align: center;
}
