<div class="root">
  <div class="row">
    <div class="col">
      <div class="details">
        <div class="cust-card cust-card--padding">
          <div class="cust-card__head">
            <div class="left">
              <div class="title"> {{ document?.reference}}
              </div>
            </div>
            <div>
              <mat-tab-group mat-align-tabs="center"
                (selectedTabChange)="tabs($event)">

                <!-- Information -->
                <mat-tab data-name="information"
                  [label]="'LABELS.INFORMATIONS' | translate"
                  (click)="modifier()">

                </mat-tab>

                <!-- Situation -->
                <mat-tab data-name="situation"
                  [label]="'LABELS.SITUATION' | translate">
                </mat-tab>

                <!-- User -->
                <mat-tab *ngIf="isClient()"
                  data-name="listuser"
                  [label]="'LABELS.ACCESAPPLI' | translate">
                </mat-tab>

                <!-- note -->
                <mat-tab data-name="note"
                  [label]="'LABELS.NOTES' | translate">
                </mat-tab>

                <!-- History -->
                <mat-tab data-name="historique"
                  [label]="'LABELS.HISTORIQUE' | translate">
                </mat-tab>

                <mat-tab *ngIf="isClient()"
                  data-name="materiel"
                  [label]="'LABELS.MATERIAL' | translate">

                </mat-tab>


              </mat-tab-group>

            </div>

            <!-- Right controls -->
            <div class="right flexcontrols menu-points-beta">

              <div id="modifier"
                class="cust-button cust-button--success"
                (click)="modifier()">
                <span>Modifier</span>
              </div>

              <!-- <div>
                                <button mat-icon-button [matMenuTriggerFor]="menu" class="cust-button btnTrigger">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <div *ngFor="let item of items">
                                        <button mat-menu-item *ngIf="item.appear(document)"
                                            (click)="item.action(document)">
                                            <span>{{ item.label | translate }} </span>
                                        </button>
                                    </div>
                                </mat-menu>
                            </div> -->
            </div>
          </div>

          <div *ngIf="selectedTabs !== 'information' && selectedTabs !== 'situation'"
            class="cust-card__body">

            <div *ngIf="selectedTabs === 'materiel'">
              <app-list-materiel></app-list-materiel>
            </div>

            <div *ngIf="selectedTabs === 'listuser'">
              <app-list-user-client [client]="client"></app-list-user-client>
            </div>

            <div *ngIf="selectedTabs === 'note'">
              <common-memos [memos]="memos"
                (valueChange)="saveMemo($event)"
                (download)="downloadPieceJointe($event)"
                [processIsStarting]="processing">
              </common-memos>
            </div>

            <div *ngIf="selectedTabs === 'historique'">
              <common-historiques [historique]="historique"></common-historiques>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col"></div>
  </div>
</div>

<div *ngIf="selectedTabs === 'information'">
  <app-fiche-contacts [data]="document"></app-fiche-contacts>
</div>

<div *ngIf="selectedTabs === 'situation'">
  <client-situation></client-situation>
</div>


<custom-loader [displayLoader]="processing"></custom-loader>
