<div class="row">
  <div class="col main-col">
    <div class="row">
      <div class="root col">
        <div class="details">
          <div class="cust-card cust-card--padding">
            <div class="cust-card__head">
              <div class="left">
                <div class="title">
                  Configuration Messagerie
                </div>
              </div>
              <div>
              </div>
              <!-- Right controls -->
              <div class="right flexcontrols menu-points-beta">
                <div id="modifier" class="cust-button cust-button--success" (click)="update()" placement="bottom"
                  ngbTooltip="{{ 'labels.modifier' | translate }} Configuration Messagerie ">
                  <span>{{ 'labels.modifier' | translate }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<br>
<form class="form form-horizontal" [formGroup]="form">
  <mat-accordion>
    <mat-expansion-panel [expanded]="true" class="disabled-pointer">
      <mat-expansion-panel-header>
        <mat-panel-title>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="cust-card cust-card--padding">

        <div class="cust-card__body">
          <div class="body">
            <div class="row">

              <div class="col">
                <div class="cust-input-group">
                  <div class="cust-label">{{ 'labels.username' | translate }} :</div>
                  <div class="cust-input">
                    <label class="cust-input__wrapper">
                      <input class="cust-input__input currency-input" id="add-defaultVAT-form-btn" type="number"
                        appInputRemoveDefaultZero formControlName="UserName"
                        placeholder="{{ 'labels.username' | translate }}">
                    </label>
                  </div>
                  <small class="text-danger" *ngIf="f?.UserName?.errors?.required">
                    {{'errors.required' | translate}}
                  </small>
                </div>

              </div>
              <div class="col">
                <div class="cust-input-group">
                  <div class="cust-label">{{ 'labels.password' | translate }} :</div>

                  <div class="cust-input">

                    <label class="cust-input__wrapper">
                      <show-hide-password icon="fa fa eye" btnStyle="primary" [btnOutline]="false">

                        <input class="cust-input__input currency-input" id="add-password-form-btn" type="number"
                          formControlName="Password" placeholder="{{ 'labels.password' | translate }}">
                      </show-hide-password>

                    </label>

                  </div>

                  <small class="text-danger" *ngIf="f?.Password?.errors?.required">
                    {{'errors.required' | translate}}
                  </small>
                </div>
              </div>

            </div>

            <div class="row">

              <div class="col">
                <div class="cust-input-group">
                  <div class="cust-label">{{ 'labels.server' | translate }} :</div>
                  <div class="cust-input">
                    <label class="cust-input__wrapper">
                      <input class="cust-input__input currency-input" id="add-defaultVAT-form-btn" type="number"
                        formControlName="Server" placeholder="{{ 'labels.server' | translate }}">
                    </label>
                  </div>
                  <small class="text-danger" *ngIf="f?.Server?.errors?.required">
                    {{'errors.required' | translate}}
                  </small>
                  <small class="text-danger" *ngIf="f?.Server?.errors?.pattern">
                    {{'errors.pattern' | translate}}
                  </small>
                </div>

              </div>
              <div class="col">
                <div class="cust-input-group">
                  <div class="cust-label">{{ 'labels.port' | translate }} :</div>

                  <div class="cust-input">

                    <label class="cust-input__wrapper">
                      <input class="cust-input__input currency-input" id="add-defaultVAT-form-btn" type="number"
                        appInputRemoveDefaultZero formControlName="Port" placeholder="{{'labels.port' | translate}}">
                    </label>

                  </div>

                  <small class="text-danger" *ngIf="f?.Port?.errors?.required">
                    {{'errors.required' | translate}}
                  </small>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>

    </mat-expansion-panel>

  </mat-accordion>
  <br>
</form>









<!-- <div class="content-header row">
  <div class="content-header-left col-md-6 col-12 mb-2">
    <h3 class="content-header-title mb-0"></h3>
  </div>
  <div class="content-header-right col-md-6 col-12">
    <div class="btn-group float-md-right" role="group">
      <button (click)="update()" type="submit" class="btn btn-success" placement="bottom"
        ngbTooltip="{{ 'labels.modifier' | translate }} {{ 'labels.parametragecouthoraire' | translate }}">
        <i class="fa fa-check-square-o"></i> {{ 'labels.modifier' | translate }}
      </button>
    </div>
  </div>
</div>
<section id="multi-column">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="card box-shadow-0 border-primary">
        <div class="card-content collapse show">
          <div class="card-body">
            <form class="form form-horizontal" [formGroup]="form">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-md-3 label-control" for="projectinput1">{{'labels.username' | translate}} :
                    </label>
                    <div class="col-md-9">
                      <input type="text" formControlName="UserName" class="form-control"
                        placeholder="{{'labels.username' | translate}}">
                      <small class="text-danger" *ngIf="f?.UserName?.errors?.required">
                        {{'errors.required' | translate}}
                      </small>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-md-3 label-control" for="projectinput1">{{'labels.password' | translate}} :
                    </label>
                    <div class="col-md-9">
                      <show-hide-password icon="fa fa eye" btnStyle="primary" [btnOutline]="false">

                        <input type="password" formControlName="Password" id="projectinput7" class="form-control"
                          placeholder="{{'labels.password' | translate}}"
                          style="font-size: 1rem;height: 3rem;width: 85%;">

                      </show-hide-password>
                      <small class="text-danger" *ngIf="f?.Password?.errors?.required">
                        {{'errors.required' | translate}}
                      </small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-md-3 label-control" for="projectinput1">{{'labels.server' | translate}} : </label>
                    <div class="col-md-9">
                      <input type="text" formControlName="Server" class="form-control"
                        placeholder="{{'labels.server' | translate}}">
                      <small class="text-danger" *ngIf="f?.Server?.errors?.required">
                        {{'errors.required' | translate}}
                      </small>
                      <small class="text-danger" *ngIf="f?.Server?.errors?.pattern">
                        {{'errors.pattern' | translate}}
                      </small>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-md-3 label-control" for="projectinput1">{{'labels.port' | translate}} : </label>
                    <div class="col-md-9">
                      <input type="number" appInputRemoveDefaultZero formControlName="Port" class="form-control"
                        placeholder="{{'labels.port' | translate}}">
                      <small class="text-danger" *ngIf="f?.Port?.errors?.required">
                        {{'errors.required' | translate}}
                      </small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-md-3 label-control" for="projectinput1"></label>
                    <div class="col-md-9">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" formControlName="SSL" class="custom-control-input" id="projectinput8">
                        <label class="custom-control-label" for="projectinput8">{{'labels.ssl' | translate}}</label>
                      </div>
                      <small class="text-danger" *ngIf="f?.SSL?.errors?.required">
                        {{'errors.required' | translate}}
                      </small>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->