<div class="root">
  <div class="row">
    <div class="col">
      <div class="details">
        <div class="cust-card cust-card--padding">
          <div class="cust-card__head">
            <div>
              <mat-tab-group mat-align-tabs="start" (selectedTabChange)="tabs($event)">

                <mat-tab data-name=0 [label]="'typeAgenda.task' | translate">
                </mat-tab>

                <mat-tab data-name=1 [label]="'typeAgenda.call' | translate">
                </mat-tab>

                <mat-tab data-name=2 [label]="'typeAgenda.appointment' | translate">
                </mat-tab>

              </mat-tab-group>

            </div>
          </div>

          <div class="cust-card__body">


            <div *ngIf="selectedTab === 0">
              <list-global-index [doctype]="ApiUrl.typesMission" [typeKinds]="MissionKind.TechnicianTask"></list-global-index> 
            </div>


            <div *ngIf="selectedTab === 1">
              <list-global-index [doctype]="ApiUrl.typesMission"  [typeKinds]="MissionKind.Call"></list-global-index> 
            </div>

            <div *ngIf="selectedTab === 2">
              <list-global-index [doctype]="ApiUrl.typesMission" [typeKinds]="MissionKind.Appointment"></list-global-index> 
            </div>



          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col"></div>
  </div>
</div>


<custom-loader [displayLoader]="processing"></custom-loader>