.flexcontrols {
	display :flex;
	div:last-of-type {
		margin-left: 10px;
	}
}


.content {
  color: #455a64;
  text-align: center;

  margin: 10px auto 0 auto !important;

  .icon {
    color: #1b9db3;
    font-size: 6rem;
  }

  .description,
  .date {
    margin-bottom: 30px;
  }

  .date {
    .cloture {
      display: inline-block;
      border: 1px solid #1b9db3;

      color: #1b9db3;
      font-size: 2rem;

      padding: 15px;
      margin-bottom: 15px;

      background-color: rgba(#1b9db3, 0.03);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
      border-radius: 4px;
    }
  }

  .note {
    margin-bottom: 30px;
    padding: 12px 15px;

    background-color: #fff8dc;
    border-radius: 5px;
    box-shadow: 9px 7px 1px 1px #ffe7cb;
  }
}


label {
  display: inline-block;
  margin-bottom: 0.5rem;
  color: #929091 !important;
  font-family: "Jura", sans-serif !important;
}


.modal-content--cloture {
  width: 500px !important;

  .modal-body {
    max-height: auto !important;
  }
}

#cloture-modal-body {
  max-height: 100vh !important;
}

