<div class="root">
    <div class="row">
        <div class="col">
            <div class="details">
                <div class="cust-card cust-card--padding">

                    <div class="cust-card__head">

                        <div class="left">
                            <div class="title" *ngIf="isModif()">
                                {{  'update.' + docType | translate }} : {{ document?.reference }}
                            </div>
                            <div class="title" *ngIf="!isModif()">
                                {{  'create.' + docType | translate }}
                            </div>
                        </div>

                        <div class="right flexcontrols">
                            <div class="flexcontrols">

                                <div id="annuler" class="cust-button cust-button--secondary" (click)="close()">
                                    <span> Annuler </span>
                                </div>

                                <div class="flexcontrols">

                                    <div id="valider" class="cust-button cust-button--light"
                                        *ngIf="!isModif() ||(isModif() && document.status=='draft')"
                                        (click)="submit('draft')">
                                        <span>Brouillon</span>
                                    </div>

                                    <div id="valider" class="cust-button cust-button--success" (click)="submit()">
                                        <span>Valider</span>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="cust-card__body">
                        <div class="body">
                            <form [formGroup]="editHelper?.form">

                                <div class="row">

                                    <!-- REFERENCE -->
                                    <div class="col">
                                        <div class="cust-input-group">
                                            <div class="cust-label">{{ 'LABELS.REFERENCE' | translate }} :</div>
                                            <div class="cust-input">
                                                <label class="cust-input__wrapper">
                                                    <input class="cust-input__input" id="add-nom-chantier-form-btn"
                                                        type="text" formControlName="reference">
                                                </label>
                                            </div>
                                            <small class="text-danger"
                                            *ngIf="f?.reference?.hasError('CheckUniqueReference')">{{'errors.unique' | translate }}</small>
                                            <small class="text-danger"
                                            *ngIf="f?.reference?.errors?.required">{{'errors.required' | translate }}</small>
                                        </div>
                                    </div>

                                    <div class="col" *ngIf="isFicheInterventionM() && !isModif()">
                                        <div class="cust-input-group">
                                            <div class="cust-label">{{ 'LABELS.TYPE' | translate }} :</div>
                                            <div class="cust-input">
                                                <label class="cust-input__wrapper">
                                                    <input class="cust-input__input" id="add-type-form-btn" type="text"
                                                        value="{{'LABELS.SAV' | translate}}" disabled>
                                                </label>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col" *ngIf="isFicheInterventionM() && isModif()">
                                        <div class="cust-input-group">
                                            <div class="cust-label">{{ 'LABELS.TYPE' | translate }} :</div>
                                            <div class="cust-input">
                                                <label class="cust-input__wrapper">
                                                    <input
                                                        *ngIf="document?.type==typeInterventionMaintenance.AfterSalesService"
                                                        class="cust-input__input" id="add-type-form-btn" type="text"
                                                        value="{{'LABELS.SAV' | translate}}" disabled>
                                                    <input
                                                        *ngIf="document?.type==typeInterventionMaintenance.Maintenance"
                                                        class="cust-input__input" id="add-type-form-btn" type="text"
                                                        value="{{'LABELS.ENTRETIEN' | translate}}" disabled>
                                                </label>
                                            </div>

                                        </div>
                                    </div>

                                    <!-- chantier -->
                                    <div class="col" *ngIf="isFicheIntervention()">
                                        <div class="cust-input-group">
                                            <div class="cust-label">{{ 'LABELS.WORKSHOP' | translate }} :</div>
                                            <div class="cust-input cust-input--select">
                                                <label class="cust-input__wrapper">
                                                    <mat-select id="add-chantier-form-btn" class="cust-input__input"
                                                        formControlName="workshopId"
                                                        (openedChange)="loadClientofChantier(f?.workshopId?.value)">
                                                        <mat-option>
                                                            <ngx-mat-select-search ngModel
                                                                (ngModelChange)="filterchantier($event)"
                                                                placeholderLabel="Rechercher"
                                                                noEntriesFoundLabel="aucun élément trouvé"
                                                                [ngModelOptions]="{standalone: true}">
                                                            </ngx-mat-select-search>
                                                        </mat-option>
                                                        <mat-option *ngFor="let workshop of listChantiers"
                                                            id="add-chantier" [value]="workshop.id">
                                                            {{ workshop?.name }} </mat-option>
                                                    </mat-select>
                                                </label>
                                            </div>
                                        </div>
                                        <!-- <small class="text-danger"
                                            *ngIf="f?.workshopId?.errors?.required">{{'errors.required' | translate }}</small> -->
                                    </div>

                                    <!-- Client -->
                                    <div class="col" *ngIf="isClientSelect()">
                                        <div class="cust-input-group">
                                            <div class="cust-label">{{ 'LABELS.CLIENT' | translate }} :</div>
                                            <div class="cust-input cust-input--select">
                                                <label class="cust-input__wrapper">
                                                    <mat-select id="add-client-chantier-form-btn"
                                                        class="cust-input__input" formControlName="client"
                                                        (selectionChange)="getAdressIntervention()">
                                                        <mat-option>
                                                            <ngx-mat-select-search ngModel
                                                                (ngModelChange)="filterclient($event)"
                                                                placeholderLabel="Chercher"
                                                                noEntriesFoundLabel="aucun élément trouvé"
                                                                [ngModelOptions]="{standalone: true}">
                                                            </ngx-mat-select-search>
                                                        </mat-option>
                                                        <mat-option class="mat-add" id="add-add-client-form-btn"
                                                            (click)="addClient()">
                                                            <span class="colorVert">Nouveau client</span>
                                                            <img src="./assets/app/imgs/addVert.png" alt="Plus icon">
                                                        </mat-option>
                                                        <mat-option *ngFor="let client of listClients; let i = index"
                                                            id="add-client-chantier" [value]="client">
                                                            {{ client?.reference }} : {{ client?.name }}</mat-option>
                                                    </mat-select>
                                                </label>
                                            </div>
                                        </div>
                                            <small class="text-danger"
                                                *ngIf="f?.client?.errors?.required">{{'errors.required' | translate }}</small>
                                    </div>

                                    <div class="col" *ngIf="isClientInput()">
                                        <div class="cust-input-group">
                                            <div class="cust-label">{{ 'LABELS.CLIENT' | translate }} :</div>
                                            <div class="cust-input">
                                                <label class="cust-input__wrapper">
                                                    <input class="cust-input__input" id="add-nom-client-form-btn"
                                                        type="text" [value]="f?.client?.value?.name" disabled disabled>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col" *ngIf="isModif()">
                                        <div class="cust-input-group">
                                            <div class="cust-label">{{ 'LABELS.STATUS' | translate }} </div>
                                            <div class="cust-input cust-input--select cust-input--status"
                                                [style.color]="getColor(selectedStatus)">
                                                <label class="cust-input__wrapper">
                                                    <mat-select id="add-status-document-form-btn"
                                                        *ngIf="status.length !== 0" class="cust-input__input"
                                                        [panelClass]="'cust-menu--status'" [value]="selectedStatus"
                                                        (valueChange)="onStatusChanged($event)">
                                                        <mat-option *ngFor="let stts of status; let i = index"
                                                            id="add-status-document" [style.color]="getColor(stts)"
                                                            [value]="stts">{{ stts | translate  }}</mat-option>
                                                    </mat-select>
                                                    <input *ngIf="status.length === 0" class="cust-input__input"
                                                        id="add-status-document-form-btn" type="text"
                                                        [value]="selectedStatus | translate" disabled>
                                                </label>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                                <div class="row">


                                    <!-- ADRESSINTERVENTION -->
                                    <div class="col btn-list" *ngIf="f?.workshopId?.value === null">
                                        <div class="cust-input-group">
                                            <div class="cust-label">{{ 'LABELS.SITEINTERVENTION' | translate }} :</div>
                                            <div class="cust-input cust-input--select">
                                                <label class="cust-input__wrapper">
                                                    <mat-select id="add-adresseIntervention-document-form-btn"
                                                        class="cust-input__input" formControlName="addressIntervention">
                                                        <mat-option
                                                            *ngFor="let adresse of adressesIntervention; let i = index"
                                                            id="add-client-chantier" [value]="adresse">
                                                            {{ adresse?.designation }}</mat-option>
                                                    </mat-select>
                                                </label>
                                            </div>
                                            <!-- <small class="text-danger"
                                                *ngIf="f?.addressIntervention?.errors?.required">{{'errors.required' | translate }}</small> -->
                                        </div>

                                    </div>

                                    <div class="col" *ngIf="f?.workshopId?.value != null">
                                        <div class="cust-input-group">
                                            <div class="cust-label">{{ 'LABELS.SITEINTERVENTION' | translate }} :</div>
                                            <div class="cust-input">
                                                <label class="cust-input__wrapper">
                                                    <input class="cust-input__input" id="add-nom-client-form-btn"
                                                        type="text" [value]="f?.addressIntervention?.value?.designation"
                                                        disabled disabled>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col" *ngIf="isModif()">
                                        <div class="cust-input-group">
                                            <div class="cust-label">{{ 'LABELS.nombreDeplacement' | translate }} :</div>
                                            <div class="cust-input">
                                                <label class="cust-input__wrapper">
                                                    <input class="cust-input__input" id="add-visitsCount-form-btn"
                                                        type="text" formControlName="visitsCount">
                                                </label>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col btn-list" *ngIf="isFicheInterventionM()">
                                        <div class="cust-input-group">
                                            <div class="cust-label">{{ 'LABELS.TECHNICIEN' | translate }} :</div>
                                            <div class="cust-input cust-input--select">
                                                <label class="cust-input__wrapper">
                                                    <mat-select id="add-idTechnicien-document-form-btn"
                                                        class="cust-input__input" formControlName="idTechnicien">
                                                        <mat-option>
                                                            <ngx-mat-select-search ngModel
                                                                (ngModelChange)="filtertechnecien($event)"
                                                                placeholderLabel="Chercher"
                                                                noEntriesFoundLabel="aucun élément trouvé"
                                                                [ngModelOptions]="{standalone: true}">
                                                            </ngx-mat-select-search>
                                                        </mat-option>
                                                        <mat-option
                                                            *ngFor="let technicien of techniciens; let i = index"
                                                            [value]="technicien.id">
                                                            {{technicien?.lastName}} {{technicien?.firstName}}
                                                        </mat-option>
                                                    </mat-select>
                                                </label>
                                            </div>
                                             <small class="text-danger"
                                                *ngIf="f?.idTechnicien?.errors?.required">{{'errors.required' | translate }}</small>
                                        </div>

                                    </div>

                                </div>



                                <div class="row">

                                    <!-- date creation -->
                                    <div class="col">

                                        <div class="cust-input-group">
                                            <div class="cust-label">{{ 'LABELS.DATE_DEBUT' | translate }} :</div>
                                            <div class="cust-input cust-input--date">
                                                <label class="cust-input__wrapper">
<!-- 
                                                    <input class="cust-input__input" matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date" formControlName="startDate"
                                                      > -->

                                                    <input class="cust-input__input" matInput [ngxMatDatetimePicker]="picker1" formControlName="startDate" placeholder="Choisir la date">
                                                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                                  <ngx-mat-datetime-picker #picker1  [showSpinners]="true" [showSeconds]="false"
                                                  [stepHour]="1" [stepMinute]="15" [stepSecond]="1" [touchUi]="true">
                                                  </ngx-mat-datetime-picker>
<!-- 
                                                    <input class="cust-input__input" #fromInput matInput
                                                        [matDatepicker]="creationDate" [placeholder]="'Date Début'"
                                                        formControlName="startDate">
                                                    <mat-datepicker-toggle matSuffix [for]="creationDate">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #creationDate></mat-datepicker> -->
                                                </label>
                                            </div>
                                        </div>
                                             <small class="text-danger"
                                            *ngIf="f?.startDate?.errors?.required">{{'errors.required' | translate }}</small>
                                    </div>

                                    <!-- date echenace -->

                                    <div class="col">

                                        <div class="cust-input-group">
                                            <div class="cust-label">{{ 'LABELS.DATE_FIN' | translate }} :</div>
                                            <div class="cust-input cust-input--date">
                                                <label class="cust-input__wrapper">

                                                    <input class="cust-input__input" matInput [ngxMatDatetimePicker]="picker" formControlName="endDate" placeholder="Choisir la date">
                                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                    <ngx-mat-datetime-picker #picker  [showSpinners]="true" [showSeconds]="false" 
                                                    [stepHour]="1" [stepMinute]="15" [touchUi]="true">
                                                    </ngx-mat-datetime-picker>

                                                    <!-- <input class="cust-input__input" #fromInput matInput
                                                        [matDatepicker]="picker" [placeholder]="'Date fin'"
                                                        formControlName="endDate">
                                                    <mat-datepicker-toggle matSuffix [for]="picker">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #picker></mat-datepicker> -->

                                                </label>
                                            </div>
                                        </div>

                                        <small class="text-danger"
                                        *ngIf="f?.endDate?.errors?.required">{{'errors.required' | translate }}</small>
                                    </div>

                                </div>

                                <div class="row">

                                    <!-- objet -->
                                    <div class="col">
                                        <div class="cust-input-group">
                                            <div class="cust-label">{{ 'LABELS.OBJET' | translate }} :</div>
                                            <div class="cust-input cust-input--textarea">
                                                <label class="cust-input__wrapper">
                                                    <textarea matInput class="cust-input__input"
                                                        id="add-purpose-facturation-form-btn" rows="1"
                                                        formControlName="purpose"
                                                        placeholder="{{ 'PLACEHOLDERS.OBJET' | translate }}"></textarea>

                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="form-group row">
                                            <label class="cust-label"
                                                for="report">{{ 'LABELS.RAPPORT' | translate }}</label>
                                            <div class="cust-input cust-input--textarea">
                                                <app-input-textarea id="report" [controlParent]="editHelper?.form"
                                                    class="cust-input__input" [readOnly]="false"
                                                    [controlName]="'report'"
                                                    [placeholder]="'LABELS.RAPPORT' | translate"
                                                    [label]="'LABELS.RAPPORT' | translate">
                                                </app-input-textarea>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
    </div>
</div>
<div class="root" *ngIf="isPresta()">
    <div class="row">
        <div class="col">
            <div class="details">
                <table-article [load]="emitter" [readOnly]="false" [articles]="articles" [showPrices]="false"
                    [isIntervention]=true [displaysGeneralCalculation]="false">
                </table-article>
            </div>
        </div>
    </div>
</div>

<div class="root" *ngIf="isFicheIntervention()">
    <div class="row">
        <div class="col">
            <div class="details">
                <div class="cust-card cust-card--padding">

                    <div class="cust-card__head">

                        <div class="left">
                            <div class="title">
                                {{'LABELS.TECHNICIENS' | translate}}
                            </div>
                        </div>

                    </div>

                    <div class="cust-card__body">


                        <div class="row">
                            <div class="col-md-12">
                                <select-user (returnSelectedItems)="getTechnicienscHECK($event)"
                                    [usersToDispaly]="techniciensFI" [selected]="techniciensFI">
                                </select-user>
                                <button id="ficheintervention-addTechnicien-btn" type="button" data-backdrop="false"
                                    class="btn btn-success square btn-md" data-toggle="modal"
                                    data-target="#selectUserModal" placement="bottom" style="float: right;"> <i
                                        class="ft-add"></i>
                                    <i class="ft-plus"></i> {{ 'LABELS.ADD' | translate }}
                                </button>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="root" *ngIf="document && isEquipement()">
    <div class="row">
        <div class="col">
            <div class="details">
                <div class="cust-card cust-card--padding">

                    <div class="cust-card__head">

                        <div class="left">
                            <div class="title">
                                {{'LABELS.listequipement' | translate}}
                            </div>
                        </div>

                    </div>

                    <div class="cust-card__body">


                        <div class="row title-table">
                            <div class="col-md-6">{{'LABELS.equipement' | translate}}</div>
                            <div class="col-md-6" style="padding-left: 33px;">{{'LABELS.observations' | translate}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="tree-node-container">
                                    <div class="tree-equipepent"
                                        *ngFor="let equipement of ListGammeEquipement;let indexElemnet=index">
                                        <div>
                                            <i class="ft-chevron-right" (click)="openElement(indexElemnet)"
                                                *ngIf="!checkElementIsOpen(indexElemnet)"></i>
                                            <i class="ft-chevron-down" (click)="openElement(indexElemnet)"
                                                *ngIf="checkElementIsOpen(indexElemnet)"></i>
                                            {{equipement?.equipmentName}}
                                        </div>


                                        <div class="tree-equipepent-libelle" *ngIf="checkElementIsOpen(indexElemnet)">
                                            <ul class="tree-equipepent-libelle-list"
                                                *ngFor="let libelle of equipement?.maintenanceOperations;let indexChild=index"
                                                style="padding: 0;
                                          margin: 0;">
                                                <li>
                                                    <div style="background: #e3ebf366; padding: 10px 0px 10px 15px;">

                                                        <i class="ft-chevron-right"
                                                            (click)="openChild(indexElemnet,indexChild)"
                                                            *ngIf="!checkChildIsOpen(indexElemnet,indexChild)"></i>
                                                        <i class="ft-chevron-down"
                                                            (click)="openChild(indexElemnet,indexChild)"
                                                            *ngIf="checkChildIsOpen(indexElemnet,indexChild)"></i>
                                                        {{libelle?.name}}
                                                        <!-- sort-down -->
                                                    </div>
                                                    <div class="tree-equipepent-libelle-operation"
                                                        *ngIf="checkChildIsOpen(indexElemnet,indexChild)">
                                                        <ul class="tree-equipepent-libelle-operation-list"
                                                            *ngFor="let operations of libelle?.subOperations let opIndex = index"
                                                            style="padding: 0;
                                                margin: 0;">
                                                            <li style="background: #ffffff; padding: 10px 5px 10px 40px;border-bottom: #e3ebf3 solid 1px;
                                                ">
                                                                <div class="row">
                                                                    <div class="col-md-6"> {{operations?.name}}</div>
                                                                    <div class="col-md-2">
                                                                        <span class="statut-display statutOperation"
                                                                            style="background-color: #df741de3; color: #fff !important;"
                                                                            *ngIf="getStatutOperation(operations?.id) == statutOperation.NonFait">{{'labels.nonfait' | translate}}
                                                                        </span>
                                                                        <span
                                                                            class="statut-display bg-success statutOperation"
                                                                            *ngIf="getStatutOperation(operations?.id) == statutOperation.Fait">{{'labels.fait' | translate}}
                                                                        </span>
                                                                    </div>
                                                                    <div class="col-md-4">

                                                                        <span *ngIf="listObservation.length !=0">
                                                                            {{getObservations(operations?.id)}}</span>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<custom-loader [displayLoader]="processing"></custom-loader>