<div class="root">
  <div class="row">
    <div class="col">
      <div class="details">
        <div class="cust-card cust-card--padding">

          <div class="cust-card__body">
            <div class="row">
              <div class="col">
                <div class="cust-input-group">
                  <div class="cust-label">{{ 'labels.reference'  | translate  }} :</div>
                  <div class="cust-labelGros"> {{ document?.reference}} </div>
                </div>
              </div>

              <div class="col">
                <div class="cust-input-group">
                  <div class="cust-label">{{ 'labels.montant'  | translate  }} :</div>
                  <div class="cust-labelGros"> {{ document?.orderDetails?.totalTTC | RoudingNumber | ShowCurrency}}
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="cust-input-group">
                  <div class="cust-label">{{ 'labels.dateEcheance'  | translate  }} :</div>
                  <div class="cust-labelGros"> {{ document?.dueDate | date : 'dd/MM/yyyy' }} </div>
                </div>
              </div>

              <div class="col">
                <div class="cust-input-group">
                  <div class="cust-label">{{ 'labels.resPay' | translate }} :</div>
                  <div class="cust-labelGros">
                    {{ getResterPayer()  | RoudingNumber  | ShowCurrency }} </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<br>

<div class="root">
  <div class="row">
    <div class="col">
      <div class="details">
        <div class="cust-card cust-card--padding">
          <div class="cust-card__head">
            <div class="left">
              <div class="title">
                {{'LABELS.listPaiement' | translate}}
              </div>
            </div>

            <div class="right ">
              <!-- <div class="">

                <div id="annuler" class="cust-button cust-button--success" (click)="chargeLists()" data-toggle="modal"
                  data-target="#ajouterPaiement">
                  <span> {{ 'labels.ajouterPaiement' | translate }} </span>
                </div>

                <div class="">

                  <div id="valider" class="cust-button cust-button--secondary" data-toggle="modal"
                    data-target="#choixAvoir" (click)="initAvoir = true">
                    <span> {{ 'labels.paiementParAvoir' | translate }} </span>
                  </div>
                </div>
              </div> -->

              <div style="margin-bottom: 10px">
                <ng-container *ngIf="getResterPayer() != 0">
                  <button type="button" (click)="chargeLists()" data-backdrop="false"
                    class="btn cust-button cust-button--success" data-toggle="modal" data-target="#ajouterPaiement"
                    data-toggle="modal" data-target="#ajouterPaiement" placement="bottom"> <i class="ft-plus"></i>
                    {{ 'labels.ajouterPaiement' | translate }}
                  </button>


                  <button type="button" data-backdrop="false" class="btn cust-button cust-button--secondary"
                    data-toggle="modal" data-target="#choixAvoir" placement="bottom" (click)="initAvoir = true"> <i
                      class="ft-plus"></i>
                    {{ 'labels.paiementParAvoir' | translate }}
                  </button>
                </ng-container>
              </div>
            </div>
          </div>

          <div class="cust-card__body">
            <ng-container *ngIf="document?.payments?.length > 0">
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>{{ 'labels.description' | translate }}</th>
                      <th>{{ 'labels.date' | translate }}</th>
                      <th>{{ 'labels.moyen' | translate }}</th>
                      <th>{{ 'labels.montant' | translate }}</th>
                      <th>{{ 'labels.actions' | translate }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let paiement of document?.payments; let i = index">

                      <td><a [routerLink]="[ '/paiements/detail', paiement.id ]">{{ paiement.description }}</a>
                      </td>
                      <td>{{ paiement.datePayment | date: 'dd/MM/yyyy' }}</td>
                      <td>{{ paiement.paymentMethod?.value}}</td>
                      <td class="text-right display-price">{{ paiement.amount | RoudingNumber | ShowCurrency }}
                      </td>
                      <td class="text-center">
                        <div class="btn-group" role="group">
                          <div class="btn-group" role="group">
                            <button type="button"
                              *ngIf="paiement?.operation != typePaiement.GroupedPayment && paiement.idAvoir == null"
                              placement="bottom" [container]="'body'"
                              ngbTooltip="{{ 'labels.modifierPaiement' | translate }}"
                              class="btn btn-primary btn-md btn-actions" (click)="chargerModifierPaiement(i)">
                              <i class="ft-edit"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-md btn-actions" placement="bottom"
                              [container]="'body'" ngbTooltip="{{ 'labels.supprimerPaiement' | translate }}"
                              (click)="removePaiement(i)">
                              <i class="ft-trash-2"></i>
                            </button>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr *ngIf="document?.payments?.length == 0" class="text-center">
                      <td colspan="9"> {{ 'labels.msgEmptyTablePaiement' | translate }} </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ng-container>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<!-- Ajouter ou Modifier paiement-->
<div class="modal fade text-left" id="ajouterPaiement" tabindex="-1" role="dialog" aria-labelledby="myModalLabel98"
  aria-hidden="true" *ngIf="form">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">

      <div class="cust-card">
        <div class="cust-card__head">
          <div class="left">
            <h2 class="title" id="myModalLabel98">
              {{ (indexModified == null ? 'labels.ajouterPaiement' : 'labels.modifierPaiement') | translate }}</h2>
          </div>
          <div class="right">
            <label>
              <div class="cust-button cust-button--secondary">
                <span>{{ 'labels.cancel' | translate }}</span>
              </div>
              <button type="button" style="display: none;" data-dismiss="modal">
                {{ 'labels.cancel' | translate }}</button>
            </label>

            <div class="cust-button cust-button--success" (click)="savePaiement(indexModified)">
              <span>{{ 'labels.sauvegarder' | translate }}</span>
            </div>
          </div>
        </div>
        <div class="cust-card__body">
          <form [formGroup]="form">
            <div class="row">
              <div class="col">
                <div class="cust-input-group">
                  <div class="cust-label">{{ 'labels.moyenPaiement' | translate }} :</div>
                  <div class="cust-input cust-input--select">
                    <label class="cust-input__wrapper">
                      <mat-select formControlName="idModePaiement" (click)="GetModeRegelement('')"
                        (change)="onChangeMoyenPaiement($event)">
                        <mat-option *ngFor="let modeRegelement of modesRegelement;let i = index"
                          [value]="modeRegelement?.id">{{ modeRegelement?.value }}</mat-option>
                      </mat-select>
                    </label>
                  </div>
                  <small class="text-danger"
                    *ngIf="f?.datePaiement?.errors?.required">{{'errors.required' | translate }}</small>
                </div>
              </div>
            </div>

            <div *ngIf="dateLang" class="row mt-2">
              <div class="col">
                <div class="cust-input-group">
                  <div class="cust-label">{{ 'labels.date' | translate }} :</div>
                  <div class="cust-input cust-input--date">
                    <label class="cust-input__wrapper">
                      <input class="cust-input__input" #fromInput matInput [matDatepicker]="dateCreation"
                        [placeholder]="'Date Début'" formControlName="datePaiement">
                      <mat-datepicker-toggle matSuffix [for]="dateCreation">
                      </mat-datepicker-toggle>
                      <mat-datepicker #dateCreation></mat-datepicker>
                    </label>
                  </div>
                  <small class="text-danger"
                    *ngIf="f?.datePaiement?.errors?.required">{{'errors.required' | translate }}</small>
                </div>
              </div>
            </div>

            <div class="row form-group mt-2">
              <div class="col-md-12">
                <div class="cust-input-group">
                  <div class="cust-label">{{ 'labels.compteCredit' | translate }} :</div>
                  <div class="cust-input cust-input--select">
                    <label class="cust-input__wrapper">
                      <mat-select formControlName="idCaisse" (click)="GetCompte('')">
                        <mat-option *ngFor="let compte of comptes;let i = index" value="{{compte?.id}}">
                          {{compte?.label}}
                        </mat-option>
                      </mat-select>
                    </label>
                  </div>
                  <small class="text-danger"
                    *ngIf="f?.idCaisse?.errors?.required">{{'errors.required' | translate }}</small>
                </div>
              </div>
            </div>

            <div class="row form-group mt-2">
              <div class="col-md-12">
                <div class="cust-input-group">
                  <div class="cust-label">{{ 'labels.montant' | translate }} :</div>
                  <div class="cust-input cust-input--numero">
                    <label class="cust-input__wrapper">
                      <input formControlName="montant" type="number" class="cust-input__input"
                        style="text-align: left;">
                    </label>
                  </div>
                  <small class="text-danger"
                    *ngIf="f?.montant?.errors?.required">{{'errors.required' | translate }}</small>
                  <small class="text-danger"
                    *ngIf="f?.montant?.hasError('CheckValidPrice')">{{'errors.invalid' | translate }}</small>
                </div>
              </div>
            </div>

            <div class="row form-group mt-2">
              <div class="col-md-12">
                <div class="cust-input-group">
                  <div class="cust-label">{{ 'labels.description' | translate }} :</div>
                  <div class="cust-input cust-input--textarea">
                    <label class="cust-input__wrapper">
                      <textarea class="cust-input__input" formControlName="description"></textarea>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-container *ngIf="docType === ApiUrl.Invoice">
  <pay-by-avoir [restPayer]="getResterPayer()" [idClient]="document?.client?.id" (refresh)="createPaiementAvoir($event)"
    [initAvoir]="initAvoir">
  </pay-by-avoir>
</ng-container>

<ng-container *ngIf="docType === ApiUrl.Depense">

  <pay-by-avoir-depense [restPayer]="getResterPayer()" [idChantier]="document?.workshop?.id"
    (refresh)="createPaiementAvoir($event)"></pay-by-avoir-depense>
</ng-container>

<!-- Loading -->
<!-- <div class="page-loading" [ngClass]="{'page-loading-active': loading}">
  <img src="assets/app/images/oval.svg" class="loading-icon" />
</div> -->