<div class="fournisseur-wrapper">
<div class="root" *ngFor="let fournisseur of ListPrixParFournisseur">
  <div class="body">
    <div class="top">
      <div class="left">
        <div class="info-bundle">
          <span class="label">Nom du fournisseur :</span>
        </div>
      </div>
      <div class="right">
        <!-- Heart icon -->
        <div class="icon-btn"
          (click)="onDefaultEdit(fournisseur)">
          <img *ngIf="!fournisseur.isDefault"
            src="./assets/app/images/Icons/heart.svg"
            alt="Edit icon">
          <img *ngIf="fournisseur.isDefault"
            src="./assets/app/images/Icons/heart-fill.svg"
            alt="Edit icon">
        </div>

        <!-- Edit icon -->
        <div *ngIf="fournisseur?.supplier?.id !== supplierEdit?.id && !readOnly"
          class="icon-btn"
          (click)="onEdit(fournisseur)">
          <img src="./assets/app/images/Icons/edit-pen.svg"
            alt="Edit icon">
        </div>

        <!-- Validate icon -->
        <div *ngIf="fournisseur?.supplier?.id === supplierEdit?.id"
          class="icon-btn"
          (click)="onValidate()">
          <img src="./assets/app/images/Icons/check.svg"
            alt="Validate icon">
        </div>
 
        <!-- Delete icon -->
        <div *ngIf="!readOnly"
          class="icon-btn"
          (click)="onDelete(fournisseur)">
          <img src="./assets/app/images/Icons/trash-2.svg"
            alt="Edit icon">
        </div> 

      </div>
    </div>

    <div class="bottom">
      <div class="left">
        <div *ngIf="fournisseur?.supplier?.id !== supplierEdit?.id"
          class="info-bundle">
          <span class="value value--neutral">{{ fournisseur?.supplier?.name }}</span>
        </div>

        <div *ngIf="fournisseur?.supplier?.id === supplierEdit?.id"> 
        <mat-select
        [(ngModel)]="supplierEditnow"
        [placeholder]="'Saisir le nom du fournisseur...'">
        <mat-option *ngFor="let fourni of listChoixSupplie"
          [value]="fourni">
          {{ fourni?.name }}
        </mat-option>
      </mat-select>
      </div> 
      </div>

     <div class="right">
        <div  *ngIf="fournisseur?.supplier?.id !== supplierEdit?.id"
          class="info-bundle">
          <span class="value value--positive">{{ fournisseur?.price }}€ </span>
        </div>

        <ng-container *ngIf="fournisseur?.supplier?.id === supplierEdit?.id">
          <input type="number"
            [(ngModel)]="priceInputEdit">
          <span>€</span>
        </ng-container> 

     </div>

    </div>

  </div>
</div>

<div class="root" *ngIf="!readOnly">
<div class="body">
  <div class="top">
    <div class="left">
      <div class="info-bundle">
        <span class="label">Nom du fournisseur :</span>
      </div>
    </div>
    <div class="right">
      <!-- Heart icon -->
      <div class="icon-btn"
        (click)="onDefault()">
        <img *ngIf="!default"
          src="./assets/app/images/Icons/heart.svg"
          alt="Edit icon">
        <img *ngIf="default"
          src="./assets/app/images/Icons/heart-fill.svg"
          alt="Edit icon">
      </div>
      <!-- Validate icon -->
     
      <div
        class="icon-btn icon-btn--add"
        (click)="onValidate()">
        <mat-icon>add</mat-icon>
      </div>

      <!-- Delete icon -->
      

      <!-- Remove icon -->
      <div
        class="icon-btn icon-btn--remove"
        (click)="close()">
        <mat-icon>close</mat-icon>
      </div>
  
    </div>
  </div>
  
  <div class="bottom">
    <div class="left">
  
      <mat-select
        [(ngModel)]="supplier"
        [placeholder]="'Saisir le nom du fournisseur...'">
        <mat-option *ngFor="let fourni of listChoixSupplie"
          [value]="fourni">
          {{ fourni?.name }}
        </mat-option>
      </mat-select>
    </div>

   <div class="right">
     
      <ng-container>
        <input type="number"
          [(ngModel)]="priceInput">
        <span>€</span>
      </ng-container> 

   </div>

  </div>

</div>
</div>

</div>

