.axiobat-modal {
    border-radius: 10px;
  }
  
  .root {
    overflow: auto;
    height: 784px;
    //max-height: 200px;
    .head {
      position: relative;
  
      display: grid;
      grid-template-columns: 1fr 221px;
      align-items: center;
      padding: 20px 34px;
      border-bottom: 1px solid #d9dde1;
      .left {
        .title {
          font-family: qanelas;
          font-size: 19px;
          font-weight: bold;
  
          text-align: left;
          letter-spacing: 0px;
          color: #494948;
        }
      }
  
      .right {
        display: flex;
        align-items: center;
  
        .cust-button {
          margin-left: 10px;
        }
      }
  
      .close {
        cursor: pointer;
        opacity: 0.4;
  
        position: absolute;
        right: 8px;
        top: 6px;
  
        transition-duration: 0.2s;
        transition-property: opacity;
  
        img {
          width: 20px;
        }
  
        &:hover {
          opacity: 0.6;
        }
      }
    }
  
    .body {
      padding: 20px 34px;
  
      .row {
        &:not(:first-of-type) {
          margin-top: 20px;
        }
      }
  
      .timepicker {
        text-align: center;
      }
  
      .slider {
        margin-bottom: 25px;
      }
    }
  }
  
  .buttonload {
    background-color: #4caf50; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 24px; /* Some padding */
    font-size: 16px; /* Set a font-size */
  }
  
  .fa {
    margin-left: -12px;
    margin-right: 8px;
  }

  // .form-sectionn {
  //   color: #404E67;
  //   line-height: 3rem;
  //   margin-bottom: 20px;
  //   border-bottom: 1px solid #404E67;
  // }
  
