<div class="axiobat-modal">
  <div class="root">

    <!-- #region Head -->
    <div class="head">

      <div class="left">
        <div class="title">
          {{getTitle()}}
        </div>
      </div>

      <div class="right">

        <div id="annuler" class="cust-button cust-button--secondary" (click)="close()">
          <span>{{ 'labels.btnCancel' | translate }}</span>
        </div>

        <div id="valider" class="cust-button cust-button--success" (click)="save()">
          <span>Valider</span>
        </div>
      </div>

      <div class="close" (click)="close()">
        <img src="./assets/app/images/Icons/x.svg" alt="Close button">
      </div>
    </div>
    <!-- #endregion -->

    <!-- #region Body -->
    <div class="body">
      <form [formGroup]="form">
        <div class="row">

          <!-- Name -->
          <div class="col">
            <div class="cust-input-group">
              <div class="cust-label"></div>
              <div class="cust-input">
                <label class="cust-input__wrapper">
                  <!-- <input class="cust-input__input" id="add-nom-chantier-form-btn" type="text" formControlName="description"> -->
                  <textarea matInput class="cust-input__input" id="add-purpose-facturation-form-btn" rows="3"
                    formControlName="description" placeholder="Pourquoi?"></textarea>

                </label>
              </div>
            </div>
          </div>



        </div>



      </form>
    </div>
    <!-- #endregion -->
  </div>
</div>