.custom-loader {
	background-color: #1b9db3 !important;
	color: #fff !important;
	width: 25em !important;
	padding: 3rem 0rem !important;
	opacity: 0.95 !important;
	text-align: center;
	position: absolute;
	left: 45%;
	z-index: 1050;
	bottom: 30em;
	height: 60px;
}

.custom-loader-container {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.root {
	padding: 0 14px;
}

.chantier-table {
	min-width: 1000px;
}
