<!-- <div class="content-header row">
  <div class="content-header-left col-md-6 col-12">
  </div>
  <div class="content-header-right col-12">
    <div class="float-md-right" style="padding-bottom: 10px;">
      <a class=" btn btn-primary" style="color:white;" placement="bottom" ngbTooltip=" {{ 'labels.add' | translate }}"
        (click)="navigateToCreate()">
        {{ 'labels.add' | translate }} <i class="ft-plus"></i>
      </a>
    </div>
  </div>
</div> -->

<section id="multi-column">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-content collapse show">
          <div class="card-body card-dashboard">
            <app-app-schedule></app-app-schedule>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- <custom-loader [displayLoader]="processing"></custom-loader> -->
