<form [formGroup]="documentForm" *ngIf="document">
	<mat-accordion>
		<!-- #docregion basic-panel -->
		<!-- #docregion hide-toggle -->
		<mat-expansion-panel class="disabled-pointer">
			<!-- #enddocregion hide-toggle -->
			<mat-expansion-panel-header>
				<mat-panel-title>
					{{ setTitle(document.documentType) }}
				</mat-panel-title>
			</mat-expansion-panel-header>

			<div class="cust-card__body">
				<div class="body">
				</div>
				<div class="row mt-2" *ngIf="delaiValidity()">
					<div class="col">
						<div class="cust-input-group">
							<div class="cust-label">{{ 'labels.delaivalidite' | translate }} :</div>
							<div class="cust-input cust-input--select">
								<label class="cust-input__wrapper">

									<mat-select placeholder="formatDate" formControlName="validity">
										<mat-option value="1">
											{{'labels.AUJOURDHUI' | translate}}</mat-option>
										<mat-option value="7">{{'labels.JR7' | translate}}</mat-option>
										<mat-option value="15">{{'labels.JR15' | translate}}
										</mat-option>
										<mat-option value="30">{{'labels.JR30' | translate}}
										</mat-option>
										<mat-option value="45">{{'labels.JR45' | translate}}
										</mat-option>
										<mat-option value="60">{{'labels.JR60' | translate}}
										</mat-option>
										<mat-option value="90">{{'labels.JR90' | translate}}
										</mat-option>
										<mat-option value="180">{{'labels.JR180' | translate}}
										</mat-option>
										<mat-option value="365">{{'labels.JR365' | translate}}
										</mat-option>
									</mat-select>
								</label>
							</div>

						</div>
					</div>
				</div>
				<br>

				<div class="row" *ngIf="retenuGarantie()">
					<div class="col">
						<div class="cust-input-group">
							<div class="cust-label">{{ 'parametrageDevis.retenueGarantie' | translate }} :</div>
							<div class="cust-input">
								<label class="cust-input__wrapper">
									<input class="cust-input__input" id="add-retenueGarantie-form-btn" type="text"
										formControlName="Holdback">
								</label>
							</div>
						</div>
					</div>
				</div>
				<br>

				<!-- <div class="row">
						<div class="col">
							<div class="cust-input-group">
								<div class="cust-label">{{ 'parametrageDevis.objet' | translate }} :</div>
								<div class="cust-input cust-input--textarea">
									<label class="cust-input__wrapper">
										<textarea matInput class="cust-input__input" id="add-purpose-facturation-form-btn" rows="1"
											formControlName="object" placeholder="{{ 'parametrageDevis.objet' | translate }}"></textarea>
									</label>
								</div>
							</div>
						</div>
					</div> -->

				<div class="row">
					<div class="col-md-12">
						<div class="form-group row">
							<label class="col-md-12 label-control"
								for="conditionReglementv">{{ 'parametrageDevis.note' | translate }}</label>
							<div class="col-md-12">
								<div class="cust-input">
									<app-input-textarea id="conditionReglementv" [controlParent]="documentForm" [readOnly]="false"
										[controlName]="'note'" [placeholder]="'parametrageDevis.note' | translate"
										[label]="'parametrageDevis.note' | translate">
									</app-input-textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
				<br>

				<div class="row" *ngIf="document.documentType !== typeNumerotation.fiche_intervention">
					<div class="col-md-12">
						<div class="form-group row">
							<label class="col-md-12 label-control"
								for="conditionReglementv">{{ 'parametrageDevis.conditions' | translate }}</label>
							<div class="col-md-12">
								<div class="cust-input">
									<app-input-textarea id="conditionReglementv" [controlParent]="documentForm" [readOnly]="false"
										[controlName]="'paymentTerms'" [placeholder]="'parametrageDevis.conditions' | translate"
										[label]="'parametrageDevis.conditions' | translate">
									</app-input-textarea>
								</div>
							</div>
						</div>
					</div>
				</div>




				<!-- <div class="row" *ngIf="detailLot()">
						<div class="col-md-12">
							<div class="form-group row">
								<label class="col-md-2 label-control title"
									for="{{document.documentType}}+1">{{ 'parametrageDevis.detailLot' | translate }}</label>
								<div class="col-md-5" style="display: flex;">
									<div class="custom-control custom-radio custom-control-inline">
										<input type="radio" id="{{document.documentType}}+2" value=true
											class="custom-control-input" [checked]="detailL" (click)="click(true)"
											formControlName="detaillot">
										<label class="custom-control-label" for="{{document.documentType}}+2">Oui</label>
									</div>
									<div class="custom-control custom-radio custom-control-inline">
										<input type="radio" id="{{document.documentType}}+3" [checked]="!detailL"
											(click)="click(false)" formControlName="detaillot" class="custom-control-input">
										<label class="custom-control-label" for="{{document.documentType}}+3">Non</label>
									</div>
								</div>
							</div>
						</div>
					</div> -->


			</div>

			<ng-container *ngIf="email()">
				<div class="cust-card__head">
					<div class="left">
						<div class="title">
							{{ 'parametrageDevis.envoimail' | translate }}
						</div>
					</div>
					<div class="right flexcontrols">
					</div>
				</div>
				<div class="cust-card__body">
					<div class="body">
					</div>
					<div class="row">
						<div class="col">
							<div class="cust-input-group">
								<div class="cust-label">{{ 'parametrageDevis.sujetmail' | translate }} :</div>
								<div class="cust-input">
									<label class="cust-input__wrapper">
										<input class="cust-input__input" id="add-sujetmailda-form-btn" type="text"
											formControlName="subjectEmail">
									</label>
								</div>
							</div>
						</div>
					</div>
					<br>

					<div class="row">
						<div class="col">
							<div class="cust-input-group">
								<div class="cust-label">{{ 'parametrageDevis.contenumail' | translate }} :</div>
								<div class="cust-input cust-input--textarea">
									<label class="cust-input__wrapper">
										<textarea matInput class="cust-input__input" id="add-contentEmail-facturation-form-btn" rows="3"
											formControlName="contentEmail"
											placeholder="{{ 'parametrageDevis.contenumail' | translate }}"></textarea>
									</label>
								</div>
							</div>
						</div>
					</div>

				</div>
			</ng-container>

			<ng-container *ngIf="email()">
				<div class="cust-card__head">
					<div class="left">
						<div class="title">
							{{ 'parametrageDevis.envoirelance' | translate }}
						</div>
					</div>
					<div class="right flexcontrols">
					</div>
				</div>
				<div class="cust-card__body">
					<div class="body">
					</div>
					<div class="row">
						<div class="col">
							<div class="cust-input-group">
								<div class="cust-label">{{ 'parametrageDevis.sujetrelance' | translate }} :</div>
								<div class="cust-input">
									<label class="cust-input__wrapper">
										<input class="cust-input__input" id="add-sujetrelance-form-btn" type="text"
											formControlName="subjectRelance">
									</label>
								</div>
							</div>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col">
							<div class="cust-input-group">
								<div class="cust-label">{{ 'parametrageDevis.contenurelance' | translate }} :</div>
								<div class="cust-input cust-input--textarea">
									<label class="cust-input__wrapper">
										<textarea matInput class="cust-input__input" id="add-contentEmail-facturation-form-btn" rows="3"
											formControlName="contentRelance"
											placeholder="{{ 'parametrageDevis.contenurelance' | translate }}"></textarea>
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</ng-container>

		</mat-expansion-panel>
		<!-- #enddocregion basic-panel -->
	</mat-accordion>

	<br>

</form>