<h1 mat-dialog-title class="modal-title">
  {{getTitle()}}
</h1>

<mat-dialog-content>
  <form class="form form-horizontal" [formGroup]="form" (ngSubmit)="save()">
    <div class="row">
      <div class="col">
        <div class="cust-input-group">
          <div class="cust-label">{{ 'labels.rubrique' | translate }} :</div>
          <div class="cust-input">
            <label class="cust-input__wrapper">
              <input class="cust-input__input" id="add-nom-chantier-form-btn" type="text" formControlName="Value">
            </label>
          </div>
          <small class="text-danger" *ngIf="f?.Value?.errors?.required">{{'errors.required'|translate }}</small>
        </div>
      </div>

    </div>
  </form>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close class="btn cust-button cust-button--secondary" style="color:white">
    Annuler
  </button>
  <button type="button" class="btn cust-button cust-button--success float-right" style="color:white"
    (click)="save()">Valider</button>
</mat-dialog-actions>